<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
		
		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">				
				<!-- Title -->
				<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">공지사항</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="/index">수학의 빛</a></li>
							<li class="active"><a href="//notice"><span>공지 사항</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
				
				<!-- Row -->
				<div class="row">
					<div class="col-sm-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left">
									<h6 class="panel-title txt-dark">공지사항  게시판 입니다.</h6>
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="table-wrap">
										<div>
											<table id="datable_1" class="table table-hover display display">
												<thead>
													<tr>
														<th style="width:5%">No</th>
														<th style="width:65%">제 목</th>
														<th style="width:15%">작성자</th>
														<th style="width:15%">작성 시간</th>
													</tr>
												</thead>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div style="text-align:right; padding:15px">
								<button class="btn btn-primary btn-rounded" id="btnWriteNew" onclick="location.href='/admin-notice-new'">작 성</button>
							</div>
						</div>	
					</div>
				</div>
				<!-- /Row -->
			</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
				<div class="row">
					<div class="col-sm-12">
						<p>Copyright ©2018 Light of Math. All rights reserved.</p>
					</div>
				</div>
				<!-- 사용자 정보 값 -->
				<input type="hidden" id="isadmin" value=<%= user.isadmin%>>
				<input type="hidden" id="userid" value=<%= user.userid%>>
				<input type="hidden" id="userindex" value=<%= user.id%>>
				<input type="hidden" id="username" value=<%= user.name%>>
			</footer>
			<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<!-- <script src="dist/js/dataTables-data.js"></script> -->
	
	<!-- Slimscroll JavaScript -->
	<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/admin/dist/js/init.js"></script>

	<!-- Time Func -->
	<script src="/admin/dist/js/moment/min/moment.min.js"></script>
	
	<script>
		var dataSet='';
			// 로그 아웃
		function logout(){
			var req = new XMLHttpRequest();
			var url = '/logout';
			req.open('GET', url);
			req.send();
	
			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						location.href = '/';
						}
					} else {
					console.log("Error!");
					}
				}
			};	
	
		/*
		// 공지사항 목록을 호춯
		function readNotice(param=0){
			var req = new XMLHttpRequest();
			var url = '/notices';
			req.open('GET', url);
			req.send();
	
			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						// 유져 리스트 초기화
						// const parent = document.getElementById("noticeList");
						// while(parent.hasChildNodes())
						// {
						// 	parent.removeChild(parent.firstChild);
						// }
	
						// 리스트 만들기
						const jsonResponse = JSON.parse(req.responseText);
						dataSet = "[";
						for(var i=0; i<jsonResponse.length; i++){	
							// 그룹 리스트
							var tr = document.createElement("tr");
							const time = new Date(jsonResponse[i].createdAt);
							var strHtml = "";
							// strHtml += "<td>" + jsonResponse[i].writer + "</td>";
							// strHtml += "<td>" + jsonResponse[i].title + "</td>";
							// strHtml += "<td>" + 
							// 	time.getFullYear() + '-' + 
							// 	(time.getMonth()>=10 ? time.getMonth() : '0'+time.getMonth()) + '-' + 
							// 	(time.getDate()>=10 ? time.getdate() : '0'+time.getDate()) + '  ' + 
							// 	(time.getHours()>=10 ? time.getHours() : '0'+time.getHours()) + ':' +
							// 	(time.getMinutes()>=10 ? time.getMinutes() : '0'+time.getMinutes()) + ":" +
							// 	(time.getSeconds()>=10 ? time.getSeconds() : '0'+time.getSeconds()) +
							// 	"</td>";
							// console.log(jsonResponse[i].createdAt);
	
							// tr.innerHTML = strHtml;
							// tr.setAttribute("onclick", "setChildValue(" + jsonResponse[i].id + ")");
							// document.getElementById('noticeList').appendChild(tr);

							dataSet += '["' + 
							jsonResponse[i].id + '", "' + 
							jsonResponse[i].writer + '", "' + 
							jsonResponse[i].title + '", "' +  
							jsonResponse[i].time + 
							'"]';

							if (jsonResponse.length !== (i + 1))
								dataSet += ',';
						}
					dataSet += '];';
					console.log(dataSet);
					} else {
					console.log("Error!");
					}
				}
			};	
		}
		*/

		function dataInit(dataSet) {
			var table = $('#datable_1').DataTable({
				data: dataSet,
				columes: [
					{title: "No" },
					{title: "작성자" },
					{title: "제목No" },
					{title: "작성 시간" }
				]
			});
		}
	
		// 클릭 한 공지사항 ID값을 태워 상세보기페이지 호출
		function setChildValue(index) {
			window.location.href = "/admin-notice-detail?index=" + index;
		   }
		   
		// 관리자 페이지 표시
		function managementViewpage() {
			console.log(document.getElementById('isadmin').value);
			if(document.getElementById('isadmin').value === 'true')
			{
				$('#manageusers').css('display','');
				$('#manageusersline').css('display','');
				$('#btnWriteNew').css('display','');
				$('#menuTeacher').css('display','');
			}
			else
			{
				$('#manageusers').css('display','none');;
				$('#manageusersline').css('display','none');;
				$('#btnWriteNew').css('display','none');
				$('#menuTeacher').css('display','none');
			}
		}
	
		// 화면 로드 시 공지사항 목록을 호출
		$(document).ready(function() {
			"use strict";
			//readNotice();
			managementViewpage();

			$('#datable_1').DataTable({
				oLanguage : {
					"sProcessing" : "처리중...",
					"sZeroRecords" : "데이터가 없습니다.",
					"sLengthMenu" : "_MENU_ 건 표시",
					"oPaginate" : {
						"sFirst" : "처음",
						"sNext" : "다음",
						"sPrevious" : "이전",
						"sLast" : "끝"
					},
					"sInfo" : "총 _TOTAL_ 건 중, _START_ 건부터 _END_ 건까지 표시",
					"sInfoEmpty" : "0건 중, 0 부터 0까지 표시",
					'sInfoFilterd' : "(총 _MAX_ 건에서 추출)",
					"sSearch" : "검색 : "
				}, 
				processing : true,
				bPaginate : true,  	// 페이징
				iDisplayLength : 10,	// 기본 표시행
				bLengthChange : true,	// 보여주는 건수 선택
				bFilter : true,		// 검색
				bSort : true,			// 소트
				bAutoWidth : true,			
			
				ajax : 
				{
					url : "/notices"
				},
				columns: [
					{ 
						data: "id",
						render: function(data, type, row)
						{
							return '<a style="cursor:pointer">'+data+'</a>';
						} 
					},
					{ 
						data: "title",
						render: function(data, type, row) {
							return '<a style="cursor:pointer" onclick="setChildValue(\''+ row.id +'\')">' + data + '</a>';
						}
					},
					{ 
						data: "writer",
						render: function(data, type, row)
						{
							return '<a style="cursor:pointer">'+data+'</a>';
						}  
					},
					{ 
						data: "createdAt",
						render: function ( data, type, row ) 
						{
							// If display or filter data is requested, format the date
							if ( type === 'display' || type === 'filter' ) 
							{
								var rowvalue = row["EventDate"];
								var rowvalueallday = row["AllDayEvent"];
								return (moment(data).format("YYYY-MM-DD HH:mm:ss"));
							}
						return data;
						}
					}
				],
				order : [[0, 'desc']]
			});

		});
		</script>
</body>

</html>
