<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>	
				
			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h3 class="txt-dark">사용자 정보</h3>
						</div>
					
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
							<ol class="breadcrumb">
								<!-- <li><a href="/dashboard">피플씨엔에스</a></li> -->
								<li><a href="userinfo"><span>사용자 정보</span></a></li>
							</ol>
						</div>
						<!-- /Breadcrumb -->
					
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h3 class="panel-title txt-dark">사용자 정보를 수정합니다.</h3>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in">
									<div class="panel-body">
										
										<div class="row">
											<div class="col-md-12">
												<div class="form-wrap">
													<!-- <form data-toggle="validator" role="form"  method="post" action="/users" + <% user.id %></form> -->
													<form data-toggle="validator" role="form"></form>
														<input type="hidden" id="indexUserId" value=<%= user.id %>>
                            <div class="form-group">
                                <label for="inputID" class="control-label mb-10">아이디</label>
                                <input type="text" class="form-control" id="inputID" disabled value=<%= user.userid %>>
                              </div>
                            <div class="form-group"> 
															<label for="inputName" class="control-label mb-10">이 름</label>
															<input type="text" class="form-control" id="inputName" required value=<%= user.name %>>
														</div>
														<div class="form-group">
															<label for="inputPassword" class="control-label mb-10">비밀번호</label>
															<div class="row">
																<div class="form-group col-sm-12">
																	<input type="password" data-minlength="6" class="form-control" id="inputPassword" placeholder="비밀번호" required value=<%= user.password %>>
																</div>
																<div class="form-group col-sm-12">
																	<input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="비밀번호가 일치하지 않습니다." placeholder="비밀번호 확인" required value=<%= user.password %>>
																	<div class="help-block with-errors"></div>
																</div>
															</div>
														</div>
														<div class="form-group mb-0">
															<button type="submit" class="btn btn-success btn-anim" onclick="userInfoUpdate()"><i class="icon-rocket"></i><span class="btn-text">수 정</span></button>
														</div>
													</form>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
				
				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
          <div class="row">
            <div class="col-sm-12">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </div>
          </div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.isadmin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
					<input type="hidden" id="userpassword" value=<%= user.password%>>
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Main Content -->
		
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="/admin/vendors/bower_components/bootstrap-validator/dist/validator.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
		<!-- Fancy Dropdown JS -->
		<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>
		
		<!-- Owl JavaScript -->
		<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
		<!-- Switchery JavaScript -->
		<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
		<!-- Init JavaScript -->
		<script src="/admin/dist/js/init.js"></script>

		<script language="javascript" type="text/javascript">
		// 로그 아웃
	function logout(){
		var req = new XMLHttpRequest();
		var url = '/logout';
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					location.href = '/';
					}
				} else {
				console.log("Error!");
				}
			}
		};	

			function userInfoUpdate() {
				var check = confirm("정보를 수정하시겠습니까?")
				if(check)
				{
          if($('#inputPassword').val() === $('#inputPasswordConfirm').val())
          {
            var req = new XMLHttpRequest();
            req.open('PUT', '/users');
            req.setRequestHeader('Content-type', 'application/json');
            req.send(JSON.stringify(
              {
                userid: document.getElementById('inputID').value,
                name: document.getElementById('inputName').value,
                password: document.getElementById('inputPassword').value
              })
            );

            req.onreadystatechange = function (e) 
					{
						if (req.readyState === XMLHttpRequest.DONE) 
						{
							if(req.status === 200) 
							{
								alert("정보가 변경되어 다시 로그인 해주세요.")
								location.href="/";
							} 
							else 
							{
								console.log("Error!");
							}
						}
					}
          }
          else
          {
            alert('비밀번호가 일치하지 않습니다.\n다시 확인해 주세요.');
          }
				};
			}

			// 관리자 페이지 표시
			function managementViewpage() {

				if(document.getElementById('isadmin').value === 'true')
				{
					$('#manageusers').css('display','');
					$('#manageusersline').css('display','');
					$('#payments').css('display','');
					$('#menuTeacher').css('display','');
				}
				else
				{
					$('#manageusers').css('display','none');
					$('#manageusersline').css('display','none');
					$('#payments').css('display','none');
					$('#menuTeacher').css('display','none');
				}
			}

			$(document).ready(function() {
        if($('#userpassword').val() === 'password')
        {
          alert('비밀번호가 기본 비밀번호입니다.\n비밀번호를 변경해 주세요.')
        }

				managementViewpage();
			});

		</script>
	</body>
</html>