<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>

		<!-- Main Content -->
		<div class="page-wrapper">
			<div class="container-fluid">
				
				<!-- Title -->
				<div class="row heading-bg">
					<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						<h5 class="txt-dark">학부모 상담</h5>
					</div>
				
					<!-- Breadcrumb -->
					<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						<ol class="breadcrumb">
							<li><a href="/index">수학의 빛</a></li>
							<li><a href="/index">학부모 상담</a></li>
							<li class="active"><a href="/notice"><span>학부모 상담 작성</span></a></li>
						</ol>
					</div>
					<!-- /Breadcrumb -->
				
				</div>
				<!-- /Title -->
				
			<!-- Row -->
			<div class="row">
					<div class="col-md-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left" style="width:100%">
									<input id="inputTitle" style="width:100%" placeholder="제 목">
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<form method="post">
									<div class="form-group">
										<textarea id="textareaContent" class="textarea_editor form-control" rows="15" placeholder="Enter text ..."></textarea>
									</div>
									</form>

									<div class="col-md-offset-3 col-md-8" style="text-align: right">
										<button type="submit" class="btn btn-success  mr-10" onclick="addNotice()">등 록</button>
										<button type="button" class="btn btn-default" onclick="location.href='/notice'">취 소</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Row -->

				<!-- Row -->
				<!-- <div class="row">						
					<div class="col-md-12">
						<div class="panel panel-default card-view">
							<div class="panel-heading">
								<div class="pull-left" style="width:100%">
									<input id="inputTitle" style="width:100%" placeholder="제 목">
								</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body">
									<div class="summernote"></div>
									<div class="col-md-offset-3 col-md-8" style="text-align: right">
										<button type="submit" class="btn btn-success  mr-10" onclick="addNotice()">등 록</button>
										<button type="button" class="btn btn-default" onclick="location.href='/report'">취 소</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- /Row -->
			</div>
			
			<!-- 푸터 호출 -->
			<% include ./common/footer.ejs %>
			
		</div>
		<!-- /Main Content -->
	
	</div>
	<!-- /#wrapper -->
	
	<!-- JavaScript -->
	
	<!-- jQuery -->
	<script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
	
	<!-- Bootstrap Core JavaScript -->
	<script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
			
	<!-- wysuhtml5 Plugin JavaScript -->
	<script src="/admin/vendors/bower_components/wysihtml5x/dist/wysihtml5x.min.js"></script>
	
	<script src="/admin/vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.all.js"></script>
	
	<!-- Bootstrap Wysuhtml5 Init JavaScript -->
	<script src="/admin/dist/js/bootstrap-wysuhtml5-data.js"></script>
	
	<!-- Summernote Plugin JavaScript -->
	<!-- <script src="/vendors/bower_components/summernote/dist/summernote.min.js"></script> -->
		
	<!-- Summernote Wysuhtml5 Init JavaScript -->
	<!-- <script src="/dist/js/summernote-data.js"></script> -->
	
	<!-- Slimscroll JavaScript -->
	<script src="/admin/dist/js/jquery.slimscroll.js"></script>

	<!-- Fancy Dropdown JS -->
	<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>

	<!-- Switchery JavaScript -->
	<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/admin/dist/js/init.js"></script>
	

	<script  language="javascript" type="text/javascript">
	// 로그 아웃
	function logout(){
	var req = new XMLHttpRequest();
	var url = '/logout';
	req.open('GET', url);
	req.send();

	req.onreadystatechange = function (e) {
		if (req.readyState === XMLHttpRequest.DONE) {
			if(req.status === 200) {
				location.href = '/';
				}
			} else {
			console.log("Error!");
			}
		}
	};	

	function addNotice()
	{
		var check = confirm("공지사항을 등록하시겠습니까?")
		if(check)
		{
			
			var req = new XMLHttpRequest();
			req.open('POST', '/notices');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
				{
				title: document.getElementById('inputTitle').value,
				// content: $('.note-editable').children('p').html(),
				content: document.getElementById('textareaContent').value,
				writer: document.getElementById('username').value
				})
			);
		
			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						location.href="/admin-notice";
						// console.log("addNotice() : " + req.responseText);
					} 
					else 
					{
						alert(req.responseText);
					}
				}
			}
		};
	}

	// 관리자 페이지 표시
	function managementViewpage() {

		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#menuTeacher').css('display','');
		}
		else
		{
			$('#manageusers').css('display','none');;
			$('#manageusersline').css('display','none');;
			$('#menuTeacher').css('display','none');
		}
	}

	$(document).ready(function() {
		managementViewpage();
	});
	</script>
</body>
</html>