<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
		
		<!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">그룹/사용자 관리</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="/index">SUPPORT LINE</a></li>
							<li class="active"><a href="/manageuser"><span>그룹/사용자 관리</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default card-view pa-0">
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-0">
										<div class="contact-list">
											<div class="row">
												<aside class="col-lg-2 col-md-4 pr-0">
													<div class="mt-20 mb-20 ml-15 mr-15">
														<a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-success btn-block">사용자 추가</a>
														<!-- Modal -->
														<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">사용자 추가</h4>
																	</div>
																	<div class="modal-body">
																		<form class="form-horizontal form-material">
																			<div class="form-group">
																				<div class="col-md-12 mb-20">
																					<select class="form-control" id="companySelectList">
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="Team" id="inputUserTeam">
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="Email address" id="inputUserEmail">
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="Name" id="inputUserName">
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="ID" id="inputUserID">
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="휴대전화" id="inputUserPhone">
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="password" class="form-control" placeholder="Password" id="inputUserPassword">
																				</div>
																			</div>
																		</form>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-info waves-effect" data-dismiss="modal" onclick="addUser()">추 가</button>
																		<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																	</div>
																</div>
																<!-- /.modal-content -->
															</div>
															<!-- /.modal-dialog -->
														</div>
														<!-- /.modal -->
													</div>
													<ul class="inbox-nav mb-30" id="companyList">
													</ul>
													
													<a class="txt-success create-label  pa-15" href="javascript:void(0)" data-toggle="modal" data-target="#newCompanyModal">+ 회사 추가</a>													
													<!-- 회사추가 Modal -->
													<div id="newCompanyModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="myModalLabel">회사 추가</h5>
																</div>
																<div class="modal-body">
																	<form>
																		<div class="form-group">
																			<label class="control-label mb-10">회사 이름</label>
																			<input id="inputCampanyName" type="text" class="form-control" value="">
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-success waves-effect" data-dismiss="modal" onclick="addCompany()">추 가</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 회사추가 Modal -->
												</aside>
												
												<aside class="col-lg-10 col-md-8 pl-0">
													<div class="panel pa-0">
													<div class="panel-wrapper collapse in">
													<div class="panel-body  pa-0">
														<div class="table-responsive mb-30">
															<table id="datable_1" class="table display table-hover mb-30" data-page-size="10">
																<thead>
																	<tr>
																		<th>Name</th>
																		<th>Id</th>
																		<th>Email</th>
																		<th>Phone</th>
																		<th>Rank</th>
																	</tr>
																</thead>
																<tbody id="userList">
																	<!-- <tr onclick="location.href='/userinfo'">
																		<td>1</td>
																		<td>Jens Brincker</td>
																		<td>tester</td>
																		<td>jens@gmail.com</td>
																		<td>010-5464-5439</td>
																		<td>대리</td>
																	</tr> -->
																</tbody>
															</table>
														</div>
													</div>
													</div>
													</div>
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 Light of Math. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.admin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
				</footer>
				<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/admin/dist/js/dataTables-data.js"></script>
	
	<!-- Slimscroll JavaScript -->
	<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/admin/dist/js/init.js"></script>
	
	<!-- 회사 추가 -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script>
		function addCompany(){
				var req = new XMLHttpRequest();
				req.open('POST', 'http://supportline.cafe24app.com/companys');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify({
				name: document.getElementById('inputCampanyName').value
			}));

			req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 201) {
				console.log("addCompany() : " + req.responseText);
				readCompany();
				} else {
				console.log("Error!");
				}
			}
			};
		}

		function readCompany(){
			var req = new XMLHttpRequest();
			req.open('GET', 'http://supportline.cafe24app.com/companys');
			req.send();

			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						// 업체 리스트 초기화
						var parent = document.getElementById("companyList");
						var parentSelect = document.getElementById("companySelectList");
						parentSelect.selectedIndex = null;
						while(parent.hasChildNodes())
						{
							parent.removeChild(parent.firstChild);
						}


						// 리스트 만들기
						var jsonResponse = JSON.parse(req.responseText);
						for(var i=0; i<jsonResponse.length; i++){	
							// 그룹 리스트
							var li = document.createElement("li");
							li.innerHTML = '<a onclick="readUser(' + jsonResponse[i].id + ')">' + 
											jsonResponse[i].name + 
											'<span class="label label-primary ml-10">20</span></a>';
							document.getElementById('companyList').appendChild(li);

							// 사용자 추가페이지 업체 리스트
							var option = document.createElement("option");
							option.innerHTML = jsonResponse[i].name;
							option.setAttribute('value', jsonResponse[i].id);
							document.getElementById("companySelectList").appendChild(option);
						}
					} else {
					console.log("Error!");
					}
				}
			};	
		}

		// 사용자 추가
		function addUser(){
			var selectbox = document.getElementById("companySelectList");
			var req = new XMLHttpRequest();
			req.open('POST', 'http://supportline.cafe24app.com/users');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify({
				companyid : selectbox.options[selectbox.selectedIndex].value,
				team: document.getElementById('inputUserTeam').value,
				email: document.getElementById('inputUserEmail').value,
				name: document.getElementById('inputUserName').value,
				userid: document.getElementById('inputUserID').value,
				phone: document.getElementById('inputUserPhone').value,
				password: document.getElementById('inputUserPassword').value
		}));

			req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 201) {
				console.log("addUser() : " + req.responseText);
				readUser();
				} else {
				console.log("Error!");
				}
			}
		};
	}

	function readUser(param=0){
		var req = new XMLHttpRequest();
		var url = 'http://supportline.cafe24app.com/users';
		if(param!=0)
			url += '/' + param;	
		console.log(url);
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					var parent = document.getElementById("userList");
					while(parent.hasChildNodes())
					{
						parent.removeChild(parent.firstChild);
					}


					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<jsonResponse.length; i++){	
						// 그룹 리스트
						var tr = document.createElement("tr");
						var strHtml = "";
						strHtml += "<td>" + jsonResponse[i].team + "</td>";
						strHtml += "<td>" + jsonResponse[i].userid + "</td>";
						strHtml += "<td>" + jsonResponse[i].email + "</td>";
						strHtml += "<td>" + jsonResponse[i].name + "</td>";
						strHtml += "<td>" + jsonResponse[i].phone + "</td>";

						tr.innerHTML = strHtml;
						document.getElementById('userList').appendChild(tr);
					}
				} else {
				console.log("Error!");
				}
			}
		};	
	}

	// 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
	  };	
	
	// 관리자 페이지 표시
	function managementViewpage() {

		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#menuTeacher').css('display','');
		}
		else
		{
			$('#manageusers').css('display','none');
			$('#manageusersline').css('display','none');
			$('#menuTeacher').css('display','none');
		}
	}

	$(document).ready(function() {
		managementViewpage();
		readCompany();
		readUser();
		console.log("ready!");
	});
	</script>
	
</body>

</html>
