<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
		
			<!-- Main Content -->
			<div class="page-wrapper">
				<div class="container-fluid">
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
							<h3 class="txt-dark">공지사항</h3>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
							<ol class="breadcrumb">
									<!-- <li><a href="/dashboard">피플씨엔에스</a></li> -->
									<li><a href="/notice"><span>공지 사항</span></a></li>
									<li class="active"><a href="/notice-detail"><span>확 인</span></a></li>
							</ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					<!-- Row -->
					<div class="row" item-height="100%">
						<div class="col-md-12"> 
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark" style="font-size: 30px; padding: 15px;" id="noticeTitle"></h6>
									</div>
									<div class="pull-right">
										<h6 class="txt-dark" id="noticeTime"></h6>
										<h6 class="txt-dark" id="noticeWriter"></h6>
									</div>
									<div class="clearfix"></div>
								</div>
								<div class="panel-wrapper collapse in" style="height: 500px; font-size: 20px">
									<div class="panel-body">
										<div style="margin-bottom: 100px" id="noticeContent">
										</div>		
									</div>
								</div>
								<!-- <div class="panel panel-default panel-dropdown card-view" id="fileView">
									<div class="panel-heading">
										<div class="pull-left">
											<h6 class="panel-title txt-dark">첨부 파일</h6>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="panel-wrapper collapse in">
										<div class="panel-body"  id="fileinfo">
											<a href="" download=""></a>
											<input type="button" value="fileDown" id="btn" onclick="getFileDown()" />
										</div>
									</div>
								</div> -->
								<div align="right">
									<button class="btn  btn-primary btn-rounded" id="btnUpdate" onclick="updateNotice()">수 정</button>
									<button class="btn  btn-primary btn-rounded" id="btnDelete" onclick="deleteNotice()">삭 제</button>
								</div>
							</div>

							<!--댓글-->
							<div>
								<div class="panel panel-default panel-dropdown card-view">
									<div class="panel-heading">
										<div class="pull-left">
											<h6 class="panel-title txt-dark">댓 글</h6>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="panel-wrapper collapse in">
										<div class="panel-body">
											<input type="text" class="form-control" style="width:100%" id="inputNotiReply">
										</div>
										<div align="right" width=30px;>
											<button class="btn  btn-primary btn-rounded" style="padding:10px; margin-bottom: 10px" onclick="addNotice()">저 장</button>
										</div>
									</div>
								</div>
							</div>
							<div id="viewNotiReply">

							</div>
							<!--댓글-->
						</div>
					</div>
					<!-- /Row -->
					
				</div>
				
				<!-- Footer -->
				<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 VOIDLINK Co.,Ltd. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.admin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
					<input type="hidden" id="filepath" value="">
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Main Content -->
			
		</div>
		<!-- /#wrapper -->
		
		<!-- JavaScript -->
		
		<!-- jQuery -->
		<script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>
		
		<!-- Bootstrap Core JavaScript -->
		<script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		
		<!-- Slimscroll JavaScript -->
		<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
		<!-- Fancy Dropdown JS -->
		<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>
		
		<!-- Owl JavaScript -->
		<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
		
		<!-- Switchery JavaScript -->
		<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
		
		<!-- Init JavaScript -->
		<script src="/admin/dist/js/init.js"></script>

		<script src="/admin/dist/js/moment/min/moment.min.js"></script>
		
		<script  language="javascript" type="text/javascript">
		// 로그 아웃
		function logout(){
			var req = new XMLHttpRequest();
			var url = '/logout';
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						location.href = '/';
					}
				} else {
				console.log("Error!");
				}
			}
		};	

		// 공통변수
		var noticeId = "";

		// 공지사항 상세내용
		function readNotice()
		{
			var req = new XMLHttpRequest();
			var url = '/notices/' + noticeId;
			console.log(url);
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						var jsonResponse = JSON.parse(req.responseText);

						// console.log(jsonResponse);

						// 데이터 세팅
						document.getElementById('noticeTitle').innerHTML = jsonResponse.data.title;
						document.getElementById('noticeContent').innerHTML = jsonResponse.data.content;
						document.getElementById('noticeWriter').innerHTML = jsonResponse.data.writer;
						document.getElementById('noticeTime').innerHTML = moment(jsonResponse.data.createdAt).format("YYYY-MM-DD HH:mm:ss");
						

						// 시간 계산
						//document.getElementById('noticeTime').innerHTML = jsonResponse.createdAt;
						// const time = new Date(jsonResponse.createdAt);
						// document.getElementById('noticeTime').innerHTML = 
						// 	time.getFullYear() + '-' + 
						// 	(time.getMonth()>=10 ? time.getMonth() : '0'+time.getMonth()) + '-' + 
						// 	(time.getDate()>=10 ? time.getdate() : '0'+time.getDate()) + '  ' + 
						// 	(time.getHours()>=10 ? time.getHours() : '0'+time.getHours()) + ':' +
						// 	(time.getMinutes()>=10 ? time.getMinutes() : '0'+time.getMinutes()) + ":" +
						// 	(time.getSeconds()>=10 ? time.getSeconds() : '0'+time.getSeconds());
						
						document.getElementById('filepath').value = jsonResponse.filepath;
						

						var fileName = jsonResponse.filepath.split("\\");
						var nLength = fileName.length;

						console.log(jsonResponse.filepath);
						if(jsonResponse.filepath != '')
						{
							$('#fileView').css('display','')
							var div = document.createElement("div");
							div.innerHTML = '<a href="' + getFileDown() + '" download="">' + fileName[nLength-1] + '</a>';					
							document.getElementById('fileinfo').appendChild(div);
						}
						else
						{
							$('#fileView').css('display','none')
						}
					}
				} 
				else 
				{
					console.log("Error!");
				}
			}
		};	

		// 공지사항 삭제
		function deleteNotice() {
			var check = confirm("공지사항을 삭제하시겠습니까?")
			if(check)
			{
				var req = new XMLHttpRequest();
				req.open('DELETE', '/notices/' + noticeId);
				req.setRequestHeader('Content-type', 'application/json');
				req.send();
			
				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 204) 
						{
							location.href="/notice";
							// console.log("deleteNotice() : " + req.responseText);
						} 
						else 
						{
							console.log("Error!");
						}
					}
				}
			};
		}

		// 공지사항 업데이트 페이지
		function updateNotice()
		{
			window.location.href = "/notice-update?index=" + noticeId;
		}

		function getFileDown(){
			var req = new XMLHttpRequest();
			var url = '/download/' + document.getElementById('filepath').value;
			// console.log(url);
			return url;
			// req.open('GET', url);
			// req.send();

			// console.log(req.response.filepath);
			// window.location = '/download/' + JSON.parse(req.responseText).filepath;
		}

		// 리플 추가
		function addNotice()
		{
			var check = confirm("댓글을 등록하시겠습니까?")
			if(check)
			{
				var req = new XMLHttpRequest();
				req.open('POST', '/notireplys');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify(
					{
						boardid: noticeId,
						content: document.getElementById('inputNotiReply').value,
						writer: document.getElementById('username').value
					})
				);

				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 201) 
						{
							document.getElementById('inputNotiReply').value = '';
							readNoticeReply();
						} 
						else 
						{
							console.log("Error!");
						}
					}
				}
			}
		};
		
		// 댓글 목록을 호춯
		function readNoticeReply()
		{
			var req = new XMLHttpRequest();
			var url = '/notireplys/' + noticeId;
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						// 댓글 리스트 초기화
						var parent = document.getElementById("viewNotiReply");
						while(parent.hasChildNodes())
						{
							parent.removeChild(parent.firstChild);
						}

						// 리스트 만들기
						var jsonResponse = JSON.parse(req.responseText);
						for(var i=0; i<jsonResponse.length; i++)
						{						
							// 그룹 리스트
							var div = document.createElement("div");
							var strHtml = "";
							strHtml += ' <div class="panel panel-default panel-dropdown card-view">';
							strHtml += ' 	<div class="panel-heading">';
							strHtml += ' 		<div class="pull-left">';
							strHtml += ' 			<h6 class="panel-title txt-dark">'+ jsonResponse[i].writer +'</h6>';
							strHtml += ' 		</div>';
							strHtml += ' 		<div class="pull-right">';
							strHtml += ' 			<div class="dropdown  pull-left">';
							strHtml += ' 				<a class="dropdown-toggle weight-500" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">';
							// strHtml += ' 					<i class="zmdi zmdi-edit inline-block mr-5"></i>';
							strHtml += ' 					<span class="panel-title txt-dark">'+ moment(jsonResponse[i].createdAt).format("YYYY-MM-DD HH:mm:ss") +'</span> ';
							strHtml += ' 					<i class="zmdi zmdi-chevron-down caret-down"></i>';
							strHtml += ' 				</a>';
							// strHtml += ' 				<ul class="dropdown-menu bullet dropdown-menu-right" role="menu">';
							// strHtml += ' 					<li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> 수정</a></li>';
							// strHtml += ' 					<li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i> 삭제</a></li>';
							// strHtml += ' 				</ul>';
							strHtml += ' 			</div>';
							strHtml += ' 		</div>';
							strHtml += ' 		<div class="clearfix"></div>';
							strHtml += ' 	</div>';
							strHtml += ' 	<div class="panel-wrapper collapse in">';
							strHtml += ' 		<div class="panel-body">';
							strHtml += ' 			<p>'+ jsonResponse[i].content +'</p>';
							strHtml += ' 		</div>';
							strHtml += ' 	</div>';
							strHtml += ' </div>';
							

							div.innerHTML = strHtml;
							//tr.setAttribute("onclick", "setChildValue(" + jsonResponse[i].id + ")");
							document.getElementById('viewNotiReply').appendChild(div);
						}
					} 
					else 
					{
						console.log("Error!");
					}
				}
			};	
		}

		// 관리자 페이지 표시
		function managementViewpage() {

			if(document.getElementById('isadmin').value === 'true')
			{
				$('#manageusers').css('display','');
				$('#manageusersline').css('display','');
				$('#btnUpdate').css('display','');
				$('#btnDelete').css('display','');
				$('#payments').css('display','');
				$('#menuTeacher').css('display','');
			}
			else
			{
				$('#manageusers').css('display','none');
				$('#manageusersline').css('display','none');
				$('#btnUpdate').css('display','none');
				$('#btnDelete').css('display','none');
				$('#payments').css('display','none');
				$('#menuTeacher').css('display','none');
			}
		}

		$(document).ready(function() {
			var val = location.href.substr(
				location.href.lastIndexOf('=') + 1
			);
			noticeId = val;

			readNotice();
			readNoticeReply();
			managementViewpage();
		});
		</script>
	</body>
</html>