<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
			
		<!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">그룹/학생 관리</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="/index">수학의 빛</a></li>
							<li class="active"><a href="/manageuser"><span>학생 관리</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default card-view pa-0">
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-0">
										<div class="contact-list">
											<div class="row">
												<aside class="col-lg-2 col-md-4 pr-0">
													<div class="mt-20 mb-20 ml-15 mr-15">
														<a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-success btn-block">학생 추가</a>
														<select class="form-control" id="selectClassGrade" onchange="readClass(this.form)">
															<!-- <option value="0">전 체</option> -->
															<option value="1">중학교 1학년</option>
															<option value="2">중학교 2학년</option>
															<option value="3">중학교 3학년</option>
															<option value="4">고등학교 1학년</option>
															<option value="5">고등학교 2학년</option>
															<option value="6">고등학교 3학년</option>
														</select>
														<!-- Modal -->
														<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">학생 추가</h4>
																	</div>
																	<div class="modal-body">
																		<form class="form-horizontal form-material">
																			<div class="form-group">
																				<!-- <div class="col-md-12 mb-20">
																					<select class="form-control" id="SelectGradeList" onchange="readClass(this.form)" disabled>
																						<option value="1">초등학교 1학년</option>
																						<option value="2">초등학교 2학년</option>
																						<option value="3">초등학교 3학년</option>
																						<option value="4">초등학교 4학년</option>
																						<option value="5">초등학교 5학년</option>
																						<option value="6">초등학교 6학년</option>
																						<option value="7">중학교 1학년</option>
																						<option value="8">중학교 2학년</option>
																						<option value="9">중학교 3학년</option>
																						<option value="10">고등학교 1학년</option>
																						<option value="11">고등학교 2학년</option>
																						<option value="12">고등학교 3학년</option>
																					</select>
																				</div> -->
																				<div class="col-md-12 mb-20">
																					<select class="form-control" id="SelectClassList">
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="학생 명" id="inputUserName">
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="학생 ID" id="inputUserID">
																					<div style="margin: 15px">
																						<p style="color: rgb(36, 57, 247)">   * 비밀번호는 자동생성됩니다.</p>
																						<p style="color: rgb(36, 57, 247)">   * 학생부모ID는 “학생ID + P”로 자동생성됩니다.</p>
																					</div>
																				</div>
																				
																			</div>
																		</form>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-info waves-effect" data-dismiss="modal" onclick="addStudent()">추 가</button>
																		<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																	</div>
																</div>
																<!-- /.modal-content -->
															</div>
															<!-- /.modal-dialog -->
														</div>
														<!-- /.modal -->
													</div>
													<ul class="inbox-nav mb-30" id="classList">
													</ul>

													<!-- 학생수정 Modal -->
													<div aria-hidden="true" role="dialog" tabindex="-1" id="editStudentInfo" class="modal fade" style="display: none;">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h4 class="modal-title" id="myModalLabel">학생 수정</h4>
																</div>
																<div class="modal-body">
																	<form class="form-horizontal form-material">
																		<div class="form-group">
																			<!-- <div class="col-md-12 mb-20">
																				<select class="form-control" id="SelectGradeList" onchange="readClass(this.form)" disabled>
																					<option value="1">초등학교 1학년</option>
																					<option value="2">초등학교 2학년</option>
																					<option value="3">초등학교 3학년</option>
																					<option value="4">초등학교 4학년</option>
																					<option value="5">초등학교 5학년</option>
																					<option value="6">초등학교 6학년</option>
																					<option value="7">중학교 1학년</option>
																					<option value="8">중학교 2학년</option>
																					<option value="9">중학교 3학년</option>
																					<option value="10">고등학교 1학년</option>
																					<option value="11">고등학교 2학년</option>
																					<option value="12">고등학교 3학년</option>
																				</select>
																			</div> -->
																			<div class="col-md-12 mb-20">
																				<select class="form-control" id="SelectupdateClassList">
																				</select>
																			</div>
																			<div class="col-md-12 mb-20">
																				<input type="text" class="form-control" placeholder="학생 명" id="editUserName">
																			</div>
																			<div class="col-md-12 mb-20">
																				<input type="text" class="form-control" placeholder="학생 ID" id="editUserID">
																				<input type="hidden" id="editId">
																				<div style="margin: 15px">
																					<p style="color: rgb(36, 57, 247)">   * 비밀번호는 본인만 변경됩니다.</p>
																					<p style="color: rgb(36, 57, 247)">   * 학생부모ID는 “학생ID + P”로 자동생성됩니다.</p>
																				</div>
																			</div>
																			
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-info waves-effect" data-dismiss="modal" onclick="editStudent()">수 정</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- /학생수정.modal -->
													
													<a class="txt-success create-label  pa-15" href="javascript:void(0)" data-toggle="modal" data-target="#newCompanyModal">+ 학급 추가</a>													
													<!-- 학급추가 Modal -->
													<div id="newCompanyModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="myModalLabel">학급 추가</h5>
																</div>
																<div class="modal-body">
																	<form>
																		<!-- <div class="col-md-12 mb-20">
																			<select class="form-control" id="selectNewClassGrade">
																				<option value="7">중학교 1학년</option>
																				<option value="8">중학교 2학년</option>
																				<option value="9">중학교 3학년</option>
																				<option value="10">고등학교 1학년</option>
																				<option value="11">고등학교 2학년</option>
																				<option value="12">고등학교 3학년</option>
																			</select>
																		</div> -->
																		<div class="form-group">
																			<label class="control-label mb-10">학급 이름</label>
																			<input id="inputClassName" type="text" class="form-control" value="">
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-success waves-effect" data-dismiss="modal" onclick="addClass()">추 가</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 학급추가 Modal -->

													<!-- 학급수정 Modal -->
													<div id="editClassName" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="editClassTitle">학급 수정</h5>
																</div>
																<div class="modal-body">
																	<form>
																		<div class="form-group">
																			<label class="control-label mb-10">학급 이름</label>
																			<input id="inputEditClassName" type="text" class="form-control" value="">
																			<input id="inputEditClassID" type="hidden" value="">
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-success waves-effect" data-dismiss="modal" onclick="editClass()">수 정</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 학급수정 Modal -->
												</aside>
												
												<aside class="col-lg-10 col-md-8 pl-0">
													<div class="panel pa-0">
													<div class="panel-wrapper collapse in">
													<div class="panel-body  pa-0">
														<div class=" mb-30">
															<table id="datable_1" class="table  display table-hover mb-30" data-page-size="10">
																<thead>
																	<tr>
																		<th>학 년</th>
																		<th>반</th>
																		<th>이 름</th>
																		<th>ID</th>
																	</tr>
																</thead>
																<tbody id="userList">
																	<!-- <tr onclick="location.href='/userinfo'">
																		<td>초등학교 1학년</td>
																		<td>A-3반</td>
																		<td>홍길동</td>
																		<td>tester1</td>
																	</tr> -->
																</tbody>
															</table>
														</div>
													</div>
													</div>
													</div>
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 Light of Math. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.isadmin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
				</footer>
				<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<!-- <script src="/admin/dist/js/dataTables-data.js"></script> -->
	
	<!-- Slimscroll JavaScript -->
	<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/admin/dist/js/init.js"></script>
	
	<!-- 학급 추가 -->
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> -->
	<script type="text/javascript">
	// 변수
	var url = '/students';
	var table = '';
	var tableOpt = {
		oLanguage : {
			"sProcessing" : "처리중...",
			"sZeroRecords" : "데이터가 없습니다.",
			"sLengthMenu" : "_MENU_ 건 표시",
			"oPaginate" : {
				"sFirst" : "처음",
				"sNext" : "다음",
				"sPrevious" : "이전",
				"sLast" : "끝"
			},
			"sInfo" : "총 _TOTAL_ 건 중, _START_ 건부터 _END_ 건까지 표시",
			"sInfoEmpty" : "0건 중, 0 부터 0까지 표시",
			'sInfoFilterd' : "(총 _MAX_ 건에서 추출)",
			"sSearch" : "검색 : "
		}, 
		processing : true,
		bPaginate : true,  	// 페이징
		iDisplayLength : 10,	// 기본 표시행
		bLengthChange : true,	// 보여주는 건수 선택
		bFilter : true,		// 검색
		bSort : true,			// 소트
		bAutoWidth : true,			
	
		ajax : 
		{
			url : url
		},
		columns: [
			{ data: "grade" },
			{ data: "classname" },
			{ 
				data: "name",
				render: function(data, type, row)
				{
					return '<a onclick="changeStudentInfo('+row.id+',\''+row.userid+'\',\''+row.name+'\')">'+data+'</a>';
				}
			},
			{ 
				data: "userid",
				render: function(data, type, row)
				{
					return '<a onclick="changeStudentInfo('+row.id+',\''+row.userid+'\',\''+row.name+'\')">'+data+'</a>';
				}
			}
		],
		order : [[0, 'desc']]
	};

	// 기능
	function addClass(){
		if(confirm("학급을 추가하시겠습니까?"))
		{
			var req = new XMLHttpRequest();
			req.open('POST', '/studentclass');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify({
				grade: document.getElementById('selectClassGrade').value,
				name: document.getElementById('inputClassName').value
			}));

			req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 201) {
				console.log("addStudentClass() : " + req.responseText);
				readClass();
				} else {
				console.log("Error!");
				}
			}
			};
		}
	}

	function editClass(){
		if(confirm("학급 명을 수정 하시겠습니까?"))
		{
			var name = document.getElementById('inputEditClassName').value;
			var id = document.getElementById('inputEditClassID').value;	

			var req = new XMLHttpRequest();
			req.open('PUT', '/studentclass');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
				{
					id: document.getElementById('inputEditClassID').value,
					name: document.getElementById('inputEditClassName').value
				})
			);
		
			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						readClass();
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
		}
	}

	function deleteClass(id){
		if(confirm("학급을 삭제하시겠습니까?"))
		{
			if(confirm("관련된 선생님, 학생, 자료가 모두 삭제 됩니다.\r삭제 후에는 복원이 불가능 합니다.\r계속 진행하시겠습니까?"))
			{
				var req = new XMLHttpRequest();
				req.open('DELETE', '/studentclass');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify(
					{
						id: id
					})
				);
			
				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 204) 
						{
							readClass();
						} 
						else 
						{
							console.log("Error!");
						}
					}
				}
			}
			reloadUser();
		};
	}

	function readClass(){
		var req = new XMLHttpRequest();
		var selectGrade = '';
		if(document.getElementById('selectClassGrade').value === '0')
			selectGrade = '/studentclass';
		else
			selectGrade = '/studentclass/' + document.getElementById('selectClassGrade').value
		req.open('GET', selectGrade);
		req.send();

		req.onreadystatechange = function (e) 
		{
			if (req.readyState === XMLHttpRequest.DONE) 
			{
				if(req.status === 200) 
				{
					// 학급 리스트 초기화
					var parent = document.getElementById("classList");
					var parentSelect = document.getElementById("SelectClassList");
					var SelectupdateClassList = document.getElementById("SelectupdateClassList");
					parentSelect.options.length = 0;
					//parentSelect.remove();
					while(parent.hasChildNodes())
					{
						parent.removeChild(parent.firstChild);
					}

					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);

					// 전체그룹 생성
					// var li = document.createElement("li");
					// li.innerHTML = '<a onclick="reloadUser('+ $(selectClassGrade).val() +', 0)">전 체';
					// document.getElementById('classList').appendChild(li);

					for(var i=0; i<jsonResponse.length; i++)
					{	
						// 그룹 리스트
						var li = document.createElement("li");
						li.innerHTML = '<a  onclick="reloadUser(' + $(selectClassGrade).val() + ',' + jsonResponse[i].id + ')">' + 
										jsonResponse[i].name + 
										'<i class="fa fa-pencil-square-o" style="position:relative; left:25px" onclick="changeModalValue('+jsonResponse[i].id+',\''+jsonResponse[i].name+'\')"></i>' +
										'<i class="fa fa fa-minus-square" style="position:relative; left:30px" onclick="deleteClass('+jsonResponse[i].id+')"></i>' +
										'</a>';
										// + '<span class="label label-primary ml-10">20</span></a>';
						document.getElementById('classList').appendChild(li);

						// 사용자 추가페이지 학급 리스트
						var option = document.createElement("option");
						option.innerHTML = jsonResponse[i].name;
						option.setAttribute('value', jsonResponse[i].id);
						const SelectClassList = document.getElementById("SelectClassList");
						SelectClassList.appendChild(option);

						// 사용자 수정 페이지
						// SelectupdateClassList
						var option = document.createElement("option");
						option.innerHTML = jsonResponse[i].name;
						option.setAttribute('value', jsonResponse[i].id);
						const SelectupdateClassList = document.getElementById("SelectupdateClassList");
						SelectupdateClassList.appendChild(option);
					}
				} 
				else 
				{
					console.log("Error!");
				}
			}
		};	
	}

	// 학생 추가
	function addStudent()
	{
		if(confirm("학생 정보를 추가하시겠습니까?"))
		{
			var selectgrade = document.getElementById("selectClassGrade");			
			var selectclass = document.getElementById("SelectClassList");
			var req = new XMLHttpRequest();
			req.open('POST', '/students');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
			{
				grade : selectgrade.options[selectgrade.selectedIndex].value,
				classname : selectclass.options[selectclass.selectedIndex].value,
				name: document.getElementById('inputUserName').value,
				userid: document.getElementById('inputUserID').value,
				password: 'password',
				isstudent: 1
			}
			));

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 201) 
					{
						console.log("학생 생성 완료.");
						addParents();
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
			reloadUser();
		}
	};

	// 학생 수정
	function editStudent()
	{
		if(confirm("학생 정보를 수정하시겠습니까?"))
		{
			var selectgrade = document.getElementById("selectClassGrade");			
			var selectclass = document.getElementById("SelectClassList");
			var req = new XMLHttpRequest();
			req.open('PUT', '/users');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
			{
				id: document.getElementById('editId').value,
				name: document.getElementById('editUserName').value,
				userid: document.getElementById('editUserID').value
			}
			));

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						console.log("학생 수정 완료.");
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
			reloadUser();
		}
	};

	// 학부모 추가
	function addParents()
	{
		var selectgrade = document.getElementById("selectClassGrade");			
		var selectclass = document.getElementById("SelectClassList");
		var req = new XMLHttpRequest();
		req.open('POST', '/students');
		req.setRequestHeader('Content-type', 'application/json');
		req.send(JSON.stringify(
		{
			grade : selectgrade.options[selectgrade.selectedIndex].value,
			classname : selectclass.options[selectclass.selectedIndex].value,
			name: document.getElementById('inputUserName').value + ' 학부모',
			userid: document.getElementById('inputUserID').value + 'P',
			password: 'password',
			isparent: 1
		}));

		req.onreadystatechange = function (e) 
		{
			if (req.readyState === XMLHttpRequest.DONE) 
			{
				if(req.status === 201) 
				{
					console.log("학부모 생성 완료.");
					document.getElementById('inputUserName').value = '';
					document.getElementById('inputUserID').value = '';
					// readUser();
					// $('#datable_1').DataTable().ajax.reload(null, false);
					reloadUser();
				} 
				else 
				{
					alert(req.responseText.console.error());
				}
			}
		};
	}

	// 클레스 수정 모달 값 입력
	function changeModalValue(id, name){
		document.getElementById('inputEditClassName').value = name;
		document.getElementById('inputEditClassID').value = id;		

		$("#editClassName").modal("show");
	}

	// 학생정보 수정 모달 값 입력
	function changeStudentInfo(id, userid, username){
		document.getElementById('editId').value = id;	
		document.getElementById('editUserID').value = userid;	
		document.getElementById('editUserName').value = username;		

		$("#editStudentInfo").modal("show");
	}

	/*
	function readUser(param=0){
		var req = new XMLHttpRequest();
		var url = '/students';
		if(param!=0)
		{
			url += '/' + document.getElementById('selectClassGrade').value;
			url += '/' + param;	
		}
		console.log(url);
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					var parent = document.getElementById("userList");
					while(parent.hasChildNodes())
					{
						parent.removeChild(parent.firstChild);
					}


					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<jsonResponse.length; i++){	
						// 그룹 리스트
						var tr = document.createElement("tr");
						var strHtml = "";
						strHtml += "<td>" + jsonResponse[i].grade + "</td>";
						strHtml += "<td>" + jsonResponse[i].classname + "</td>";
						strHtml += "<td>" + jsonResponse[i].name + "</td>";
						strHtml += "<td>" + jsonResponse[i].userid + "</td>";

						tr.innerHTML = strHtml;
						document.getElementById('userList').appendChild(tr);
					}
				} else {
				console.log("Error!");
				}
			}
		};	
	}
	*/

	function reloadUser(grade=0, classname=0) {
		if(grade === 0)
			{
				url = '/students';
			}
		else
			{
				url = '/students/' + grade + '/' + classname;
			}

		console.log(url);
		// $('#datable_1').DataTable().ajax.url = url;
		// $('#datable_1').DataTable().ajax.reload(null, false);
		// table.ajax.url(url).load(null, false);
		//table.ajax.url() = url;
		table.ajax.url(url).load(null, false);
	};

	// 로그 아웃
    function logout(){
		var req = new XMLHttpRequest();
		var url = '/logout';
		req.open('GET', url);
		req.send();

		location.href = '/';
      	req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					location.href = '/';
				}
			} else {
				console.log("Error!");
			}
        }
	};	
	  
	// 관리자 페이지 표시
	function managementViewpage() {

		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#menuTeacher').css('display','');
		}
		else
		{
			$('#manageusers').css('display','none');
			$('#manageusersline').css('display','none');
			$('#menuTeacher').css('display','none');
		}
	}

	$(document).ready(function() 
	{
		"use strict";

		managementViewpage();


		readClass();
		//readUser();

		// var url = '/students';
		console.log(url);
		table = $('#datable_1').DataTable(tableOpt);
	});
	</script>
	</body>
</html>