<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
			
		<!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">그룹/선생님 관리</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="/index">수학의 빛</a></li>
							<li class="active"><a href="/manageuser"><span>선생님 관리</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default card-view pa-0">
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-0">
										<div class="contact-list">
											<div class="row">
												<aside class="col-lg-2 col-md-4 pr-0">
													<div class="mt-20 mb-20 ml-15 mr-15">
														<a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-success btn-block">선생님 추가</a>
														<select class="form-control" id="selectClassGrade" onchange="readClass(this.form)">
															<option value="1">초등학교 1학년</option>
															<option value="2">초등학교 2학년</option>
															<option value="3">초등학교 3학년</option>
															<option value="4">초등학교 4학년</option>
															<option value="5">초등학교 5학년</option>
															<option value="6">초등학교 6학년</option>
															<option value="7">중학교 1학년</option>
															<option value="8">중학교 2학년</option>
															<option value="9">중학교 3학년</option>
															<option value="10">고등학교 1학년</option>
															<option value="11">고등학교 2학년</option>
															<option value="12">고등학교 3학년</option>
														</select>
														<!-- Modal -->
														<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">선생님 추가</h4>
																	</div>
																	<div class="modal-body">
																		<form class="form-horizontal form-material">
																			<div class="form-group">
																				<!-- <div class="col-md-12 mb-20">
																					<select class="form-control" id="SelectGradeList" onchange="readClass(this.form)" disabled>
																						<option value="1">초등학교 1학년</option>
																						<option value="2">초등학교 2학년</option>
																						<option value="3">초등학교 3학년</option>
																						<option value="4">초등학교 4학년</option>
																						<option value="5">초등학교 5학년</option>
																						<option value="6">초등학교 6학년</option>
																						<option value="7">중학교 1학년</option>
																						<option value="8">중학교 2학년</option>
																						<option value="9">중학교 3학년</option>
																						<option value="10">고등학교 1학년</option>
																						<option value="11">고등학교 2학년</option>
																						<option value="12">고등학교 3학년</option>
																					</select>
																				</div> -->
																				<div class="col-md-12 mb-20">
																					<select class="form-control" id="SelectClassList">
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="선생님 이름" id="inputUserName">
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="선생님 ID" id="inputUserID">
																				</div>
																			</div>
																		</form>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-info waves-effect" data-dismiss="modal" onclick="addUser()">추 가</button>
																		<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																	</div>
																</div>
																<!-- /.modal-content -->
															</div>
															<!-- /.modal-dialog -->
														</div>
														<!-- /.modal -->
													</div>
													<ul class="inbox-nav mb-30" id="classList">
													</ul>
													
													<a class="txt-success create-label  pa-15" href="javascript:void(0)" data-toggle="modal" data-target="#newCompanyModal">+ 학급 추가</a>													
													<!-- 학급추가 Modal -->
													<div id="newCompanyModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="myModalLabel">학급 추가</h5>
																</div>
																<div class="modal-body">
																	<form>
																		<!-- <div class="col-md-12 mb-20">
																			<select class="form-control" id="selectNewClassGrade">
																				<option value="1">초등학교 1학년</option>
																				<option value="2">초등학교 2학년</option>
																				<option value="3">초등학교 3학년</option>
																				<option value="4">초등학교 4학년</option>
																				<option value="5">초등학교 5학년</option>
																				<option value="6">초등학교 6학년</option>
																				<option value="7">중학교 1학년</option>
																				<option value="8">중학교 2학년</option>
																				<option value="9">중학교 3학년</option>
																				<option value="10">고등학교 1학년</option>
																				<option value="11">고등학교 2학년</option>
																				<option value="12">고등학교 3학년</option>
																			</select>
																		</div> -->
																		<div class="form-group">
																			<label class="control-label mb-10">학급 이름</label>
																			<input id="inputClassName" type="text" class="form-control" value="">
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-success waves-effect" data-dismiss="modal" onclick="addClass()">추 가</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 회사추가 Modal -->
												</aside>
												
												<aside class="col-lg-10 col-md-8 pl-0">
													<div class="panel pa-0">
													<div class="panel-wrapper collapse in">
													<div class="panel-body  pa-0">
														<div class="table-responsive mb-30">
															<table id="datable_1" class="table  display table-hover mb-30" data-page-size="10">
																<thead>
																	<tr>
																		<th>학 년</th>
																		<th>반</th>
																		<th>이 름</th>
																		<th>ID</th>
																	</tr>
																</thead>
																<tbody id="userList">
																	<!-- <tr onclick="location.href='/userinfo'">
																		<td>초등학교 1학년</td>
																		<td>A-3반</td>
																		<td>홍길동</td>
																		<td>tester1</td>
																	</tr> -->
																</tbody>
															</table>
														</div>
													</div>
													</div>
													</div>
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 Light of Math. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.admin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
				</footer>
				<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="/admin/dist/js/dataTables-data.js"></script>
	
	<!-- Slimscroll JavaScript -->
	<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/admin/dist/js/init.js"></script>
	
	<!-- 학급 추가 -->
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
	<script type="text/javascript">
		function addClass(){
				var req = new XMLHttpRequest();
				req.open('POST', '/studentclass');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify({
					grade: document.getElementById('selectClassGrade').value,
					name: document.getElementById('inputClassName').value
			}));

			req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 201) {
				console.log("addStudentClass() : " + req.responseText);
				readClass();
				} else {
				console.log("Error!");
				}
			}
			};
		}

		function readClass(){
			var req = new XMLHttpRequest();
			req.open('GET', '/studentclass/' + document.getElementById('selectClassGrade').value);
			req.send();

			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						// 학급 리스트 초기화
						var parent = document.getElementById("classList");
						var parentSelect = document.getElementById("SelectClassList");
						parentSelect.options.length = 0;
						//parentSelect.remove();
						while(parent.hasChildNodes())
						{
							parent.removeChild(parent.firstChild);
						}

						// 리스트 만들기
						var jsonResponse = JSON.parse(req.responseText);

						// 전체그룹 생성
						var li = document.createElement("li");
						li.innerHTML = '<a onclick="readUser(0)">전 체';
						document.getElementById('classList').appendChild(li);

						for(var i=0; i<jsonResponse.length; i++){	
							// 그룹 리스트
							var li = document.createElement("li");
							li.innerHTML = '<a onclick="readUser(' + jsonResponse[i].id + ')">' + 
											jsonResponse[i].name;
											// + '<span class="label label-primary ml-10">20</span></a>';
							document.getElementById('classList').appendChild(li);

							// 사용자 추가페이지 학급 리스트
							var option = document.createElement("option");
							option.innerHTML = jsonResponse[i].name;
							option.setAttribute('value', jsonResponse[i].id);
							const SelectClassList = document.getElementById("SelectClassList");
							SelectClassList.appendChild(option);
						}
					} else {
					console.log("Error!");
					}
				}
			};	
		}

		// 사용자 추가
		function addUser(){
			var selectgrade = document.getElementById("selectClassGrade");			
			var selectclass = document.getElementById("SelectClassList");
			var req = new XMLHttpRequest();
			req.open('POST', '/teachers');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify({
				grade : selectgrade.options[selectgrade.selectedIndex].value,
				classname : selectclass.options[selectclass.selectedIndex].value,
				name: document.getElementById('inputUserName').value,
				userid: document.getElementById('inputUserID').value,
				isteacher: 1
		}));

			req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 201) {
					document.getElementById('inputUserName').value = '';
					document.getElementById('inputUserID').value = '';
					readUser();
				} else {
				console.log("Error!");
				}
			}
		};
	}

	function readUser(param=0){
		var req = new XMLHttpRequest();
		var url = '/teachers';
		if(param!=0)
		{
			url += '/' + document.getElementById('selectClassGrade').value;
			url += '/' + param;	
		}
		console.log(url);
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					var parent = document.getElementById("userList");
					while(parent.hasChildNodes())
					{
						parent.removeChild(parent.firstChild);
					}


					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<jsonResponse.length; i++){	
						// 그룹 리스트
						var tr = document.createElement("tr");
						var strHtml = "";
						strHtml += "<td>" + jsonResponse[i].grade + "</td>";
						strHtml += "<td>" + jsonResponse[i].classname + "</td>";
						strHtml += "<td>" + jsonResponse[i].name + "</td>";
						strHtml += "<td>" + jsonResponse[i].userid + "</td>";

						tr.innerHTML = strHtml;
						document.getElementById('userList').appendChild(tr);
					}
				} else {
				console.log("Error!");
				}
			}
		};	
	}

	// 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
	  };	
	  
	// 관리자 페이지 표시
	function managementViewpage() {

		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#menuTeacher').css('display','');
		}
		else
		{
			$('#manageusers').css('display','none');
			$('#manageusersline').css('display','none');
			$('#menuTeacher').css('display','none');
		}
	}

	$(document).ready(function() {
		managementViewpage();
		readClass();
		readUser();
		console.log("ready!");
	});
	</script>
	
</body>

</html>
