<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
		
        <!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid pt-25">
					<!-- Row -->
					<!-- 공지사항 -->
					<div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">	
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">공지사항</h6>
									</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row" id="widgtNotice">
								</div>
							</div>
						</div>
					</div>

					<!-- 학부모 상담 -->
					<div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">	
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">학부모 상담</h6>
									</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row" id="widgtConsulting">
									
								</div>
							</div>
						</div>
					</div>
	
					<!-- 문제 소스 -->
					<div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">	
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">문제 소스</h6>
									</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row"  id="widgtQuestion">
								
								</div>
							</div>
						</div>
					</div>
	
					<!-- 시험지 관리 -->
					<div>
						<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">	
							<div class="panel panel-default card-view">
								<div class="panel-heading">
									<div class="pull-left">
										<h6 class="panel-title txt-dark">시험지 관리</h6>
									</div>
								<div class="clearfix"></div>
							</div>
							<div class="panel-wrapper collapse in">
								<div class="panel-body row" id="widgtTestpaper">
									
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
					
				</div>
				<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 Light of Math. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.isadmin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
				</footer>
				<!-- /Footer -->
				
			</div>
			<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Counter Animation JavaScript -->
	<script src="admin/vendors/bower_components/waypoints/lib/jquery.waypoints.min.js"></script>
	<script src="admin/vendors/bower_components/jquery.counterup/jquery.counterup.min.js"></script>
	
	<!-- Data table JavaScript -->
	<script src="admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<script src="admin/dist/js/productorders-data.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Slimscroll JavaScript -->
	<script src="admin/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="admin/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Sparkline JavaScript -->
	<script src="admin/vendors/jquery.sparkline/dist/jquery.sparkline.min.js"></script>
	
	<!-- EChartJS JavaScript -->
	<script src="admin/vendors/bower_components/echarts/dist/echarts-en.min.js"></script>
	<script src="admin/vendors/echarts-liquidfill.min.js"></script>
	
	<!-- Toast JavaScript -->
	<script src="admin/vendors/bower_components/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
	
	<!-- Init JavaScript -->
	<script src="admin/dist/js/init.js"></script>
	<script src="admin/dist/js/dashboard3-data.js"></script>

	<script>
	// 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
	  };	

	// 관리자 페이지 표시
	function managementViewpage() {
		console.log(document.getElementById('isadmin').value);
		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#menuTeacher').css('display','');
		}
		else
		{
			$('#manageusers').css('display','none');
			$('#manageusersline').css('display','none');
			$('#menuTeacher').css('display','none');
		}
	}

	$(document).ready(function() {
		managementViewpage();
		readNotice();
		readConsulting();
		readQustion();
		readTestpaper();
	});

	// 공지사항 미리보기
	function readNotice(){
		var req = new XMLHttpRequest();
		url = "/notices";
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					// const parent = document.getElementById("noticeList");
					// while(parent.hasChildNodes())
					// {
					// 	parent.removeChild(parent.firstChild);
					// }

					// 리스트 만들기
					const jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<10; i++){	
						// 그룹 리스트
						var div = document.createElement("div");
						var strHtml = "";
						if(i!==0)
							strHtml += "<hr class='light-grey-hr mt-0 mb-15' style='background: #4588ba; line-height: 150px;'/>";
						strHtml += "<div class='pl-15 pr-15 mb-15'>";
						strHtml += "	<div class='pull-left'>";
						strHtml += "		<i class='zmdi zmdi-format-list-bulleted inline-block mr-10 font-16'></i>";
						strHtml += "		<span class='inline-block txt-dark'>"+ jsonResponse.data[i].title +"</span>";
						strHtml += "	</div>";
						strHtml += "	<span class='inline-block txt-primary pull-right weight-500'>"+ jsonResponse.data[i].writer +"</span>";
						strHtml += "	<div class='clearfix'></div>";
						strHtml += "</div>";
						

						div.innerHTML = strHtml;
						div.setAttribute("onclick", "setChildValueNotice(" + jsonResponse.data[i].id + ")");
						document.getElementById('widgtNotice').appendChild(div);
					}
				// console.log(dataSet);
				} else {
				console.log("Error!");
				}
			}
		};	
	}

	// 학부모 상담 미리보기
	function readConsulting(){
		var req = new XMLHttpRequest();
		url = "/consultings";
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					// const parent = document.getElementById("noticeList");
					// while(parent.hasChildNodes())
					// {
					// 	parent.removeChild(parent.firstChild);
					// }

					// 리스트 만들기
					const jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<10; i++){	
						// 그룹 리스트
						var div = document.createElement("div");
						var strHtml = "";
						if(i!==0)
							strHtml += "<hr class='light-grey-hr mt-0 mb-15' style='background: #4588ba; line-height: 150px;'/>";
						strHtml += "<div class='pl-15 pr-15 mb-15'>";
						strHtml += "	<div class='pull-left'>";
						strHtml += "		<i class='zmdi zmdi-format-list-bulleted inline-block mr-10 font-16'></i>";
						strHtml += "		<span class='inline-block txt-dark'>"+ jsonResponse.data[i].content +"</span>";
						strHtml += "	</div>";
						strHtml += "	<span class='inline-block txt-primary pull-right weight-500'>"+ jsonResponse.data[i].writername +"</span>";
						strHtml += "	<div class='clearfix'></div>";
						strHtml += "</div>";
						

						div.innerHTML = strHtml;
						div.setAttribute("onclick", "setChildValueNotice(" + jsonResponse.data[i].id + ")");
						document.getElementById('widgtConsulting').appendChild(div);
					}
				// console.log(dataSet);
				} else {
				console.log("Error!");
				}
			}
		};	
	}

	// 문제 소스 미리보기
	function readQustion(){
		var req = new XMLHttpRequest();
		url = "/questions2";
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					// const parent = document.getElementById("noticeList");
					// while(parent.hasChildNodes())
					// {
					// 	parent.removeChild(parent.firstChild);
					// }

					// 리스트 만들기
					const jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<10; i++){	
						// 그룹 리스트
						var div = document.createElement("div");
						var strHtml = "";
						if(i!==0)
							strHtml += "<hr class='light-grey-hr mt-0' style='background: #4588ba; line-height: 150px;'/>";
						strHtml += "<div class='pl-15 pr-15 mb-15'>";
						strHtml += "	<div class='pull-left'>";
						strHtml += "		<i class='zmdi zmdi-format-list-bulleted inline-block mr-10 font-16'></i>";
						strHtml += "		<span class='inline-block txt-dark'>"+ jsonResponse.data[i].name +"</span>";
						strHtml += "	</div>";
						strHtml += "	<span class='inline-block txt-primary pull-right weight-500'>"+ "" +"</span>";
						strHtml += "	<div class='clearfix'></div>";
						strHtml += "</div>";
						

						div.innerHTML = strHtml;
						// div.setAttribute("onclick", "setChildValueNotice(" + jsonResponse.data[i].id + ")");
						document.getElementById('widgtQuestion').appendChild(div);
					}
				// console.log(dataSet);
				} else {
				console.log("Error!");
				}
			}
		};	
	}

	// 시험지 미리보기
	function readTestpaper(){
		var req = new XMLHttpRequest();
		url = "/testpapers";
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					// const parent = document.getElementById("noticeList");
					// while(parent.hasChildNodes())
					// {
					// 	parent.removeChild(parent.firstChild);
					// }

					// 리스트 만들기
					const jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<10; i++){	
						// 그룹 리스트
						var div = document.createElement("div");
						var strHtml = "";
						if(i!==0)
							strHtml += "<hr class='light-grey-hr mt-0 mb-15' style='background: #4588ba; line-height: 150px;'/>";
						strHtml += "<div class='pl-15 pr-15 mb-15'>";
						strHtml += "	<div class='pull-left'>";
						strHtml += "		<i class='zmdi zmdi-format-list-bulleted inline-block mr-10 font-16'></i>";
						strHtml += "		<span class='inline-block txt-dark'>"+ jsonResponse.data[i].name +"</span>";
						strHtml += "	</div>";
						strHtml += "	<span class='inline-block txt-primary pull-right weight-500'>"+ jsonResponse.data[i].writer +"</span>";
						strHtml += "	<div class='clearfix'></div>";
						strHtml += "</div>";
						

						div.innerHTML = strHtml;
						// div.setAttribute("onclick", "setChildValueNotice(" + jsonResponse.data[i].id + ")");
						document.getElementById('widgtTestpaper').appendChild(div);
					}
				// console.log(dataSet);
				} else {
				console.log("Error!");
				}
			}
		};	
	}
	  </script>
</body>
</html>
