<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
			
		<!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">학습지 / 문제소스 관리</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="/index">수학의 빛</a></li>
							<li class="active"><a href="/manageuser"><span>학습지 / 문제소스 관리</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default card-view pa-0">
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-0">
										<div class="contact-list">
											<div class="row">
												<aside class="col-lg-2 col-md-4 pr-0">
													<div class="mt-20 mb-20 ml-15 mr-15">
														<select class="form-control" id="selectClassGrade" onchange="readTeacher(this.form)">
															<option value="1">중학교 1학년</option>
															<option value="2">중학교 2학년</option>
															<option value="3">중학교 3학년</option>
															<option value="4">고등학교 1학년</option>
															<option value="5">고등학교 2학년</option>
															<option value="6">고등학교 3학년</option>
														</select>
													</div>
													<ul class="inbox-nav mb-30" id="teacherList">
													</ul>
																									
													<!-- 문제보기 Modal -->
													<div id="showImgModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-lg">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="showQuestionLabel"></h5>
																</div>
																<div class="modal-body">
																	<img src="" id="showImgSrc" style="max-width: 100%; max-height: 100%">
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 문제보기 Modal -->
												</aside>
												
												<aside class="col-lg-10 col-md-8 pl-0">
													<div class="panel pa-0">
													<div class="panel-wrapper collapse in">
													<div class="panel-body  pa-0">
														<div class="table-responsive mb-30" style="width:100%">
															<table id="datable_1" class="table  display table-hover mb-30" style="width:100%" data-page-size="10">
																<thead>
																	<tr>
																		<th width='5%'>번호</th>
																		<th width='45%'>시험명</th>
																		<th width='20%'>시작일</th>
																		<th width='20%'>종료일</th>
																		<th width='5%'>링 크</th>
																		<th width='5%'></th>
																	</tr>
																</thead>
																<tbody id="questList">
																	<!-- <tr onclick="location.href='/userinfo'">
																		<td>009</td>
																		<td>수학(상)</td>
																		<td>쎈수학 다항식문제1</td>
																		<td>난이도</td>
																		<td>3</td>
																		<td>보기</td>
																		<td>보기</td>
																	</tr> -->
																</tbody>
															</table>
														</div>
													</div>
													</div>											
													</div>													
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 Light of Math. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.isadmin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
					<!-- <input type="hidden" id="filepath" value=""> -->
				</footer>
				<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<!-- <script src="/admin/dist/js/dataTables-data.js"></script> -->
	
	<!-- Slimscroll JavaScript -->
	<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/admin/dist/js/init.js"></script>
	
	<!-- 학급 추가 -->
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> -->

	<!-- Time Func -->
	<script src="/admin/dist/js/moment/min/moment.min.js"></script>
	
	<script type="text/javascript">
	// 변수
	var url = '/testpapers';

	var table = '';
	var tableOpt = {
		oLanguage : {
			"sProcessing" : "처리중...",
			"sZeroRecords" : "데이터가 없습니다.",
			"sLengthMenu" : "_MENU_ 건 표시",
			"oPaginate" : {
				"sFirst" : "처음",
				"sNext" : "다음",
				"sPrevious" : "이전",
				"sLast" : "끝"
			},
			"sInfo" : "총 _TOTAL_ 건 중, _START_ 건부터 _END_ 건까지 표시",
			"sInfoEmpty" : "0건 중, 0 부터 0까지 표시",
			'sInfoFilterd' : "(총 _MAX_ 건에서 추출)",
			"sSearch" : "검색 : "
		}, 
		processing : true,
		bPaginate : true,  	// 페이징
		iDisplayLength : 10,	// 기본 표시행
		bLengthChange : true,	// 보여주는 건수 선택
		bFilter : true,		// 검색
		bSort : true,			// 소트
		bAutoWidth : true,			
	
		ajax : 
		{
			url : url
		},
		
		columns: [			
			{ data: "id" },
			{ data: "name" },
			{ 
				data: "startdate",
				render: function ( data, type, row ) 
				{
					// If display or filter data is requested, format the date
					if ( type === 'display' || type === 'filter' ) 
					{
						var rowvalue = row["EventDate"];
						var rowvalueallday = row["AllDayEvent"];
						return (moment(data).format("YYYY-MM-DD"));
					}
				return data;
				}
			},
			{ 
				data: "enddate",
				render: function ( data, type, row ) 
				{
					// If display or filter data is requested, format the date
					if ( type === 'display' || type === 'filter' ) 
					{
						var rowvalue = row["EventDate"];
						var rowvalueallday = row["AllDayEvent"];
						return (moment(data).format("YYYY-MM-DD"));
					}
				return data;
				}
			},
			{ 
				data: "path",
				render: function(data, type, row)
				{
					return '<a class="btn  btn-primary btn-outline btn-rounded" href="' + getFileDown(data) + '" download="">다운로드</a>';
				}
			},
			{ 
				data: "id",
				render: function(data, type, row) {
					return '<a class="btn  btn-primary btn-outline btn-rounded" onclick="deleteTestpaper('+data+')"="">삭 제</a>';
				}
			}
		],
		order : [[0, 'desc']]
	};

	// 기능
		function readTeacher(){                            
			var req = new XMLHttpRequest();
			req.open('GET', '/teachers2/' + document.getElementById('selectClassGrade').value);
			req.send();

			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						// 선생님 리스트 초기화
						var parent = document.getElementById("teacherList");
						var parentSelect = document.getElementById("SelectTextbook");
						//parentSelect.remove();
						while(parent.hasChildNodes())
						{
							parent.removeChild(parent.firstChild);
						}

						// 리스트 만들기
						var jsonResponse = JSON.parse(req.responseText);

						// 전체그룹 생성
						// var li = document.createElement("li");
						// li.innerHTML = '<a onclick="addQuest(0)">전 체';
						// document.getElementById('teacherList').appendChild(li);

						for(var i=0; i<jsonResponse.data.length; i++){	
							// 그룹 리스트
							var li = document.createElement("li");
							li.innerHTML = '<a onclick="reloadTestpaper('+ jsonResponse.data[i].grade + ', \'' +jsonResponse.data[i].userid+'\')">' + 
											jsonResponse.data[i].name + ' 선생님</a>';
										// + '<span class="label label-primary ml-10">20</span></a>';
							
							
							document.getElementById('teacherList').appendChild(li);
						}
					} else {
					console.log("Error!");
					}
				}
			};	
		}

	function reloadTestpaper(grade=0, userid=0) {
		if(grade === 0)
			{
				url = '/testpapers';
			}
		else
			{
				url = '/testpapers/' + grade + '/' + userid;
			}

		console.log(url);
		// $('#datable_1').DataTable().ajax.url = url;
		// $('#datable_1').DataTable().ajax.reload(null, false);
		// table.ajax.url(url).load(null, false);
		//table.ajax.url() = url;
		table.ajax.url(url).load(null, false);
	}

	// 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
	  };	
	  
	// 관리자 페이지 표시
	function managementViewpage() {

		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#menuTeacher').css('display','');
		}
		else
		{
			$('#manageusers').css('display','none');
			$('#manageusersline').css('display','none');
			$('#menuTeacher').css('display','none');
		}
	}

	// 이미지 보기
	function changeImg(path, textbook, number, name){
		// 주소 변경
		const imgQuest = document.getElementById('showImgSrc');
		imgQuest.src = '/img/' + path;

		// 타이틀 변경
		const imgLabel = document.getElementById('showQuestionLabel');
		imgLabel.innerHTML = '[' + textbook + '/' + number + '] ' + name;
	}

	// 파일 다운로드
	function getFileDown(param){
		console.log('param = ' + param);
		if(!param)
			return '';
			
		var req = new XMLHttpRequest();
		//var url = '/download/' + param;
		let array = [];
		// array = param.split('\\');

		if(param.indexOf('\\') != -1)
		{
			array = param.split('\\');
		}
		else
		{
			array = param.split('/');
		}


		// var name = path.basename
		var url = '/download/'+array[array.length-3]+'/pdf/' + array[array.length-1];
		
		return url;



		// // 1. 파라미터 받기
		// if(!param)
		// 	return '';
		
		// // 2. 서버에 파일경로 요청
		// var req = new XMLHttpRequest();
		
		// // 3. 웹서버의 경로
	};

	// 문제 삭제
	function deleteTestpaper(param)
	{
		if(confirm("시험지를 삭제하시겠습니까?"))
		{
			var req = new XMLHttpRequest();
			req.open('DELETE', '/testpapers');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
			{
				id: param
			}
			));

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 204) 
					{
						alert("시험지 삭제 완료.");
						console.log("시험지 삭제 완료.");
						reloadTestpaper();
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
		}
	};

	$(document).ready(function() {
		managementViewpage();
		readTeacher();
		// readQuest();
		table = $('#datable_1').DataTable(tableOpt);
	});
	</script>
	
</body>

</html>
