<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
		
		<!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">코드 관리</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="/index">수학의 빛</a></li>
							<li class="active"><a><span>코드 관리</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default card-view pa-0">
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-0">
										<div class="contact-list">
											<div class="row">
												<aside class="col-lg-2 col-md-4 pr-0">
													<div class="mt-20 mb-20 ml-15 mr-15">
														<a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-success btn-block">코드 추가</a>
														<select class="form-control" id="selectClassGrade" onchange="reloadCode(1)" style="margin-top: 20px">
															<!-- <option value="0">전 체</option> -->
															<option value="1">중학교 1학년</option>
															<option value="2">중학교 2학년</option>
															<option value="3">중학교 3학년</option>
															<option value="4">고등학교 1학년</option>
															<option value="5">고등학교 2학년</option>
															<option value="6">고등학교 3학년</option>
														</select>
														<!-- Modal -->
														<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">코드 추가</h4>
																	</div>
																	<div class="modal-body">
																		<form class="form-horizontal form-material">
																			<div class="form-group">
																				<div class="col-md-12 mb-20">	
																					<p style="color:black">학 년</p>
																					<select class="form-control" id="SelectGradeList">
																						<option value="1">중학교 1학년</option>
																						<option value="2">중학교 2학년</option>
																						<option value="3">중학교 3학년</option>
																						<option value="4">고등학교 1학년</option>
																						<option value="5">고등학교 2학년</option>
																						<option value="6">고등학교 3학년</option>
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">	
																					<p style="color:black">구 분</p>
																					<select class="form-control" id="SelectCodeList">
																						<option value="1">교재명 코드</option>
																						<option value="2">단원 코드</option>
																						<option value="3">유형 코드</option>
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">코드 ID</p>
																					<input type="text" class="form-control" placeholder="ID" id="inputCodeName">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">코드 이름</p>
																					<input type="text" class="form-control" placeholder="이름" id="inputCodeValue">
																				</div>
																				<div class="col-md-12 mb-20" id="divSelectTextMine">
																					<p style="color:black">교재 구분</p>
																					<div class="radio">
																						<input type="radio" name="textbookmine" id="extTextbook" value="S" required checked>
																						<label for="box"> 시중교재 </label>
																					</div>
																					<div class="radio">
																						<input type="radio" name="textbookmine" id="innerTextbook" value="HA" required>
																						<label for="bri"> 학원교재 </label>
																					</div>
																				</div>
																			</div>
																		</form>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-info waves-effect" data-dismiss="modal" onclick="addStudent()">추 가</button>
																		<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																	</div>
																</div>
																<!-- /.modal-content -->
															</div>
															<!-- /.modal-dialog -->
														</div>
														<!-- /.modal -->
													</div>
													<ul class="inbox-nav mb-30" id="classList" style="text-align: center">
														<li>
															<a class="btn btn-success btn-block btn-rounded btn-outline  btn-success" style="width: 80%; margin: 10px" onclick="reloadCode('1')">교재명 코드 </a>
														</li>
														<li>
															<a class="btn btn-success btn-block btn-rounded btn-outline  btn-success" style="width: 80%; margin: 10px" onclick="reloadCode('2')">단원 코드 </a>
														</li>
														<li>
															<a class="btn btn-success btn-block btn-rounded btn-outline  btn-success" style="width: 80%; margin: 10px" onclick="reloadCode('3')">유형 코드 </a>
														</li>
														<input type="hidden" id="selectContent"/>
													</ul>

													<!-- 코드수정 Modal -->
													<div aria-hidden="true" role="dialog" tabindex="-1" id="editCodeInfo" class="modal fade" style="display: none;">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h4 class="modal-title" id="myModalLabel">코드 수정</h4>
																</div>
																<div class="modal-body">
																	<form class="form-horizontal form-material">
																		<div class="form-group">
																			<div class="col-md-12 mb-20">
																				<p style="color:black">ID</p>
																				<input type="text" class="form-control" placeholder="코드 ID" id="sCode">
																			</div>
																			<div class="col-md-12 mb-20">
																				<p style="color:black">이름</p>
																				<input type="text" class="form-control" placeholder="코드 명" id="sValue">
																				<input type="hidden" id="editId">
																			</div>
																			
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-info waves-effect" data-dismiss="modal" onclick="editCode()">수 정</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- /학생수정.modal -->
												</aside>
												
												<aside class="col-lg-10 col-md-8 pl-0">
													<div class="panel pa-0">
													<div class="panel-wrapper collapse in">
													<div class="panel-body  pa-0">
														<div class=" mb-30">
															<table id="datable_1" class="table  display table-hover mb-30" data-page-size="10">
																<thead>
																	<tr>
																		<th>구 분</th>
																		<th>코드 ID</th>
																		<th>코드 이름</th>
																		<th style="width:10%">수 정</th>
																		<th style="width:10%">삭 제</th>
																	</tr>
																</thead>
																<tbody id="userList">
																	<!-- <tr onclick="location.href='/userinfo'">
																		<td>초등학교 1학년</td>
																		<td>A-3반</td>
																		<td>홍길동</td>
																		<td>tester1</td>
																	</tr> -->
																</tbody>
															</table>
														</div>
													</div>
													</div>
													</div>
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 Light of Math. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.isadmin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
				</footer>
				<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<!-- <script src="/admin/dist/js/dataTables-data.js"></script> -->
	
	<!-- Slimscroll JavaScript -->
	<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>
	
	<!-- Init JavaScript -->
	<script src="/admin/dist/js/init.js"></script>
	
	<!-- 학급 추가 -->
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> -->
	<script type="text/javascript">
	// 변수
	var url = '/codetextbooks/1';
	var table = '';
	var tableOpt = {
		oLanguage : {
			"sProcessing" : "처리중...",
			"sZeroRecords" : "데이터가 없습니다.",
			"sLengthMenu" : "_MENU_ 건 표시",
			"oPaginate" : {
				"sFirst" : "처음",
				"sNext" : "다음",
				"sPrevious" : "이전",
				"sLast" : "끝"
			},
			"sInfo" : "총 _TOTAL_ 건 중, _START_ 건부터 _END_ 건까지 표시",
			"sInfoEmpty" : "0건 중, 0 부터 0까지 표시",
			'sInfoFilterd' : "(총 _MAX_ 건에서 추출)",
			"sSearch" : "검색 : "
		}, 
		processing : true,
		bPaginate : true,  	// 페이징
		iDisplayLength : 10,	// 기본 표시행
		bLengthChange : true,	// 보여주는 건수 선택
		bFilter : true,		// 검색
		bSort : true,			// 소트
		bAutoWidth : true,			
	
		ajax : 
		{
			url : url
		},
		columns: [
			{ 
				// data: "mine",
				// render: function(data, type, row)
				// {
				// 	if(data !== 'HA')
				// 		return '<a style="cursor:pointer">시중교재</a>';
				// 	else	
				// 		return '<a style="cursor:pointer">학원교재</a>';
				// }

				data: "nGrade",
				render: function(data, type, row)
				{
					var gradeText="";
					switch(data){
					case "1" : (gradeText = "중1"); break;
					case "2" : (gradeText = "중2"); break;
					case "3" : (gradeText = "중3"); break;
					
					case "4" : (gradeText = "고1"); break;
					case "5" : (gradeText = "고2"); break;
					case "6" : (gradeText = "고3"); break;
					}
					return '<a style="cursor:pointer">'+gradeText+' 학년 </a>';
				}
			},
			{ 
				data: "sCode",
				render: function(data, type, row)
				{
					return '<a style="cursor:pointer">'+data+'</a>';
				} 
			},
			{ 
				data: "sValue",
				render: function(data, type, row)
				{
					return '<a style="cursor:pointer">'+data+'</a>';
				} 
			},
			{ 
				data: "id",
				render: function ( data, type, row ) 
				{
					return '<i class="fa fa-pencil-square-o" style="position:relative; left:25px" name="btnCompanyEdit" onclick="changeCodeInfo('+data+')"></i>';
				}
			},
			{ 
				data: "id",
				render: function ( data, type, row ) 
				{
					
					return '<i class="fa fa fa-minus-square" style="position:relative; left:30px" name="btnCompanyEdit" onclick="deleteCode('+data+')"></i>';
				}
			}
		],
		order : [[0, 'desc']]
	};

	// 코드 추가
	function addStudent()
	{
		if(confirm("코드를 추가하시겠습니까?"))
		{
			var selectgrade = document.getElementById("SelectGradeList");			
			var selecttype = document.getElementById("SelectCodeList");
			var req = new XMLHttpRequest();
			var postUrl = '';
			
			if(selecttype.options[selecttype.selectedIndex].value == '1')
			{
				postUrl = "/codetextbooks";
			}
			else if(selecttype.options[selecttype.selectedIndex].value == '2')
			{
				postUrl = "/codeunits";
			}
			else if(selecttype.options[selecttype.selectedIndex].value == '3')
			{
				postUrl = "/codetypes";
			}

			console.log(selectgrade.options[selectgrade.selectedIndex].value);
			req.open('POST', postUrl);
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
			{
				nGrade : selectgrade.options[selectgrade.selectedIndex].value,
				sCode: document.getElementById('inputCodeName').value,
				sValue: document.getElementById('inputCodeValue').value,
				mine: $(":input:radio[name=textbookmine]:checked").val()
			}
			));

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 201) 
					{
						console.log("코드 생성 완료.");
						document.getElementById('inputCodeName').value = '';
						document.getElementById('inputCodeValue').value = '';
						selectgrade.selectedIndex = 0;
						// alert("코드 추가 완료.")
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
			reloadCode(selecttype.options[selecttype.selectedIndex].value);
		}
	};

	// 코드 수정
	function editCode()
	{
		if(confirm("코드 정보를 수정하시겠습니까?"))
		{
			var selectgrade = document.getElementById("selectClassGrade");			
			var codeDivision = $('#selectContent').val();
			var url = '';
			console.log(codeDivision);
			if(codeDivision == 1)
			{
				url = '/codetextbooks';
			}
			else if(codeDivision == 2)
			{
				url = '/codeunits';
			}
			else
			{
				url = '/codetypes';
			}
			var req = new XMLHttpRequest();
			req.open('PUT', url);
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
			{
				id: document.getElementById('editId').value,
				sValue: document.getElementById('sValue').value,
				sCode: document.getElementById('sCode').value
			}
			));

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						console.log("코드 수정 완료.");
						alert("코드 수정 완료.");
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
			reloadCode(codeDivision);
		}
	};

	// 클레스 수정 모달 값 입력
	function changeModalValue(id, name){
		document.getElementById('inputEditClassName').value = name;
		document.getElementById('inputEditClassID').value = id;		

		$("#editClassName").modal("show");
	}

	// 코드정보 수정 모달 값 입력
	function changeCodeInfo(id){
		var url = '';
		var codeDivision = $('#selectContent').val();
		if(codeDivision == '1')
		{
			url = "/codetextbooks/" + id + '/0';
		}
		else if(codeDivision == '2')
		{
			url = "/codeunits/" + id + '/0';
		}
		else if(codeDivision == '3')
		{
			url = "/codetypes/" + id + '/0';
		}

		$.get(url, function(jqXHR){
			document.getElementById('sCode').value = jqXHR.data.sCode;	
			document.getElementById('sValue').value = jqXHR.data.sValue;
			document.getElementById('editId').value = jqXHR.data.id;	
		}, 'json')
		.done(function(jqXHR){
			$("#editCodeInfo").modal("show");
		})	
	}

	// 코드 삭제
	function deleteCode(id){
		if(confirm("코드를 삭제하시겠습니까?"))
		{
			if(confirm("삭제 후에는 복원이 불가능 합니다.\r계속 진행하시겠습니까?"))
			{
				var req = new XMLHttpRequest();
				var codeDivision = $('#selectContent').val();
				var url = '';
				console.log(codeDivision);
				if(codeDivision == 1)
				{
					url = '/codetextbooks/' + id;
				}
				else if(codeDivision == 2)
				{
					url = '/codeunits/' + id;
				}
				else
				{
					url = '/codetypes/' + id;
				}

				req.open('DELETE', url);
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify(
					{
						id: id
					})
				);
			
				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 204) 
						{
							alert("코드 삭제 완료.")
						} 
						else 
						{
							console.log("Error!");
						}
					}
				}
			}
			reloadCode(codeDivision);
		};
	}

	function reloadCode(codeDivision) {
		var selectgrade = document.getElementById("selectClassGrade");
		var nowGrade = selectgrade.options[selectgrade.selectedIndex].value;
		var url = '';

		console.log("codeDivision == '1' => " + (codeDivision == '1'))

		if(codeDivision == '1')
		{
			url = "/codetextbooks/" + nowGrade;
			$('#selectContent').val("1");
		}
		else if(codeDivision == '2')
		{
			url = "/codeunits/" + nowGrade;
			$('#selectContent').val("2");
		}
		else if(codeDivision == '3')
		{
			url = "/codetypes/" + nowGrade;
			$('#selectContent').val("3");
		}

		console.log(url);
		// $('#datable_1').DataTable().ajax.url = url;
		// $('#datable_1').DataTable().ajax.reload(null, false);
		// table.ajax.url(url).load(null, false);
		//table.ajax.url() = url;
		table.ajax.url(url).load(null, false);
	};

	// 로그 아웃
    function logout(){
		var req = new XMLHttpRequest();
		var url = '/logout';
		req.open('GET', url);
		req.send();

		location.href = '/';
      	req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					location.href = '/';
				}
			} else {
				console.log("Error!");
			}
        }
	};	
	  
	// 관리자 페이지 표시
	function managementViewpage() {

		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#menuTeacher').css('display','');
		}
		else
		{
			$('#manageusers').css('display','none');
			$('#manageusersline').css('display','none');
			$('#menuTeacher').css('display','none');
		}
	}

	$(document).ready(function() 
	{
		"use strict";

		managementViewpage();
		$('#selectContent').val('1');

		//readUser();

		// var url = '/students';
		console.log(url);
		table = $('#datable_1').DataTable(tableOpt);
	});

	$('#SelectCodeList').change(function(){
		if($('#SelectCodeList').val() == '1')
			$('#divSelectTextMine').css('display', '');
		else
		$('#divSelectTextMine').css('display', 'none');
	})
	</script>
	</body>
</html>