<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
			
		<!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">학습지 / 문제소스 관리</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="/index">수학의 빛</a></li>
							<li class="active"><a href="/manageuser"><span>학습지 / 문제소스 관리</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default card-view pa-0">
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-0">
										<div class="contact-list">
											<div class="row">
												<aside class="col-lg-2 col-md-4 pr-0">
													<div class="mt-20 mb-20 ml-15 mr-15">
														<a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-success btn-block">문제 추가</a>
														<select class="form-control" id="selectClassGrade" onchange="readTextbook(this.form)">
															<option value="1">중학교 1학년</option>
															<option value="2">중학교 2학년</option>
															<option value="3">중학교 3학년</option>
															<option value="4">고등학교 1학년</option>
															<option value="5">고등학교 2학년</option>
															<option value="6">고등학교 3학년</option>
														</select>
														<select class="form-control" id="selectClassList" onchange="readTextbook(this.form)">
															
														</select>
														<select class="form-control" id="selectStudentList" onchange="readTextbook(this.form)">
															
														</select>
														<!-- Modal -->
														<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">문제 추가</h4>
																	</div>
																	<div class="modal-body">
																		<div class="form-horizontal form-material">
																			<div class="form-group">
																				<!-- <div class="col-md-12 mb-20">
																					<select class="form-control" id="SelectGradeList" onchange="readTextbook(this.form)" disabled>
																						<option value="1">초등학교 1학년</option>
																						<option value="2">초등학교 2학년</option>
																						<option value="3">초등학교 3학년</option>
																						<option value="4">초등학교 4학년</option>
																						<option value="5">초등학교 5학년</option>
																						<option value="6">초등학교 6학년</option>
																						<option value="7">중학교 1학년</option>
																						<option value="8">중학교 2학년</option>
																						<option value="9">중학교 3학년</option>
																						<option value="10">고등학교 1학년</option>
																						<option value="11">고등학교 2학년</option>
																						<option value="12">고등학교 3학년</option>
																					</select>
																				</div> -->
																				<!-- <div class="col-md-12 mb-20">
																					<select class="form-control" id="SelectTextbook" onchange="readTextbook(this.form)">
																					<select class="form-control" id="SelectTextbook"> 
																						<option value="S">시중 교재</option>
																						<option value="HA">학원 교재</option>
																					</select>
																				</div> -->
																				<div class="col-md-12 mb-20">
																					<select class="form-control" id="SelectTextBook" onchange="readTextbook(this.form)">
																						
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<select class="form-control" id="inputTextbookUnit" onchange="readTextbook(this.form)">
																						
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<select class="form-control" id="inputQuestionType" onchange="readTextbook(this.form)">
																					
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<select class="form-control" id="SelectQuestLevel" onchange="readTextbook(this.form)">
																						<option value="01">하</option>
																						<option value="02">중</option>
																						<option value="03">중상</option>
																						<option value="04">상</option>
																						<option value="05">최상</option>
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="문제 번호" id="inputQusetNumber" required>
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="문제 정답" id="inputQuestAnser" required>
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="영상 강좌 링크" id="inputQuestVideo">
																				</div>
																				<div class="col-md-12 mb-20">
																					<input type="text" class="form-control" placeholder="문제 이름" id="inputQuestName" required>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p>문제 이미지 업로드</p>
																					<!-- <button class="btn  btn-primary">문제 이미지 업로드</button> -->
																					<form action="/uploads" method="POST" enctype="multipart/form-data" id="fileForm" required>
																						<input type="file" name="userfile" id="fileInput" accept="image/*"/>
																						<input type="hidden" name="resultUpload" id="filepath"/>
																					</form>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-info waves-effect" onclick="addQuest()">추 가</button>
																		<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																	</div>
																</div>
																<!-- /.modal-content -->
															</div>
															<!-- /.modal-dialog -->
														</div>
														<!-- /.modal -->
													</div>
													<ul class="inbox-nav mb-30" id="textbookList">
													</ul>
													
															<!-- Modal -->															
															<div aria-hidden="true" role="dialog" tabindex="-1" id="editQuestModal" class="modal fade" style="display: none;">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																			<h4 class="modal-title" id="myModalLabel">문제 수정</h4>
																		</div>
																		<div class="modal-body">
																			<div class="form-horizontal form-material">
																				<div class="form-group">
																					<!-- <div class="col-md-12 mb-20">
																						<select class="form-control" id="SelectGradeList" onchange="readTextbook(this.form)" disabled>
																							<option value="1">초등학교 1학년</option>
																							<option value="2">초등학교 2학년</option>
																							<option value="3">초등학교 3학년</option>
																							<option value="4">초등학교 4학년</option>
																							<option value="5">초등학교 5학년</option>
																							<option value="6">초등학교 6학년</option>
																							<option value="7">중학교 1학년</option>
																							<option value="8">중학교 2학년</option>
																							<option value="9">중학교 3학년</option>
																							<option value="10">고등학교 1학년</option>
																							<option value="11">고등학교 2학년</option>
																							<option value="12">고등학교 3학년</option>
																						</select>
																					</div> -->
																					<div class="col-md-12 mb-20">
																						<!-- <select class="form-control" id="SelectTextbook" onchange="readTextbook(this.form)">-->
																						<select class="form-control" id="SelectEditTextbook"> 
																							<option value="수학(상)">시중 교재</option>
																							<option value="수학(상)">학원 교재</option>
																						</select>
																					</div>
																					<div class="col-md-12 mb-20">
																						<select class="form-control" id="SelectEditQuestGrade" onchange="readEditTextbook(this.form)">
																							<option value="수학(상)">쎈수학 수학(상)</option>
																							<option value="수학(중)">쎈수학 수학(중)</option>
																							<option value="수학(하)">쎈수학 수학(하)</option>
																						</select>
																					</div>
																					<div class="col-md-12 mb-20">
																						<select class="form-control" id="inputEditQuestMulti" onchange="readEditTextbook(this.form)">
																							<option value="객관식" selected>다항식</option>
																						</select>
																					</div>
																					<div class="col-md-12 mb-20">
																						<select class="form-control" id="inputEditQuestMulti" onchange="readEditTextbook(this.form)">
																							<option value="객관식" selected>유형1</option>
																						</select>
																					</div>
																					<div class="col-md-12 mb-20">
																						<select class="form-control" id="SelectEditQuestLevel" onchange="readEditTextbook(this.form)">
																							<option value="상">하</option>
																							<option value="중">중</option>
																							<option value="하">중상</option>
																							<option value="중">상</option>
																							<option value="하">최상</option>
																						</select>
																					</div>
																					<div class="col-md-12 mb-20">
																						<input type="text" class="form-control" placeholder="문제 번호" id="inputEditQusetNumber" required>
																					</div>
																					<div class="col-md-12 mb-20">
																						<input type="text" class="form-control" placeholder="문제 정답" id="inputEditQuestAnser" required>
																					</div>
																					<div class="col-md-12 mb-20">
																						<input type="text" class="form-control" placeholder="영상 강좌 링크" id="inputEditQuestVideo">
																					</div>
																					<div class="col-md-12 mb-20">
																						<input type="text" class="form-control" placeholder="문제 이름" id="inputEditQuestName" required>
																					</div>
																					<!-- <div class="col-md-12 mb-20">
																						<p>문제 이미지 업로드</p>
																						<<button class="btn  btn-primary">문제 이미지 업로드</button>
																						<form action="/uploads" method="POST" enctype="multipart/form-data" id="fileForm" required>
																							<input type="file" name="userfile" id="fileEditInput" accept="image/*"/>
																							<input type="hidden" name="resultUpload" id="filepath"/>
																						</form>
																					</div> -->
																				</div>
																			</div>
																		</div>
																		<div class="modal-footer" style="display:flex;">
																			<div>
																				<button type="button" class="btn btn-danger waves-effect" onclick="deleteQuest()">삭 제</button>
																			</div>
																			<div style="flex:1"></div>
																			<div>
																				<button type="button" class="btn btn-warning waves-effect" onclick="editQuest()">수 정</button>
																				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>	
																			</div>
																		</div>
																	</div>
																	<!-- /.modal-content -->
																</div>
																<!-- /.modal-dialog -->
															</div>
															<!-- /.modal -->
													
													<!-- 문제보기 Modal -->
													<div id="showImgModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-lg">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="showQuestionLabel"></h5>
																</div>
																<div class="modal-body">
																	<img src="" id="showImgSrc" style="max-width: 100%; max-height: 100%">
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 문제보기 Modal -->

													<!-- 시험지 추가 Modal -->
													<div id="addTestpaper" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="myModalLabel">오답지 추가</h5>
																</div>
																<div class="modal-body">
																	<form>
																		<div class="col-md-12 mb-20">
																			<select class="form-control" id="selectTextbookGrade">
																				<option value="1">중학교 1학년</option>
																				<option value="2">중학교 2학년</option>
																				<option value="3">중학교 3학년</option>
																				<option value="4">고등학교 1학년</option>
																				<option value="5">고등학교 2학년</option>
																				<option value="6">고등학교 3학년</option>
																			</select>
																		</div>
																		<div class="col-md-12 mb-20">
																			<label class="control-label mb-10">오답지 이름</label>
																			<input id="inputTestpaperName" type="text" class="form-control" value="">
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-success waves-effect" onclick="makeTestPaper()">추 가</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 시험지 추가 Modal -->
												</aside>
												
												<aside class="col-lg-10 col-md-8 pl-0">
													<div class="panel pa-0">
													<div class="panel-wrapper collapse in">
													<div class="panel-body  pa-0">
														<div class="table-responsive mb-30" style="width:100%">
															<table id="datable_1" class="table  display table-hover mb-30" style="width:100%" data-page-size="10">
																<thead>
																	<tr>
																		<th width='5%'></th>
																		<th width='5%'>번호</th>
																		<th width='10%'>단원</th>
																		<th width='25%'>이름</th>
																		<th width='10%'>유형</th>
																		<th width='10%'>난이도</th>
																		<th width='8%'>정답</th>
																		<th width='7%'>오답</th>
																		<th width='10%'>문제</th>
																		<th width='10%'>영상</th>
																	</tr>
																</thead>
																<tbody id="questList">
																	<!-- <tr onclick="location.href='/userinfo'">
																		<td>009</td>
																		<td>수학(상)</td>
																		<td>쎈수학 다항식문제1</td>
																		<td>난이도</td>
																		<td>3</td>
																		<td>보기</td>
																		<td>보기</td>
																	</tr> -->
																</tbody>
															</table>
														</div>
													</div>
													</div>
													<div class="form-actions mt-10" style="display: flex; padding : 30px">
														<div style="flex:1"></div>
														<button class="btn btn-primary btn-anim" data-toggle="modal" data-target="#addTestpaper">
															<i class="fa fa-sign-out"></i>
															<span class="btn-text">오답지 생성</span>
														</button>
													</div>													
													</div>													
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 Light of Math. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.isadmin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
					<input type="hidden" id="tempindex" value="">
					<!-- <input type="hidden" id="filepath" value=""> -->
				</footer>
				<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<!-- <script src="/admin/dist/js/dataTables-data.js"></script> -->
	
	<!-- Slimscroll JavaScript -->
	<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>

	<!-- 달력 -->
	<!-- <script src="./jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="./jquery-ui-1.12.1/datepicker-ko.js"></script> -->
	
	<!-- Init JavaScript -->
	<script src="/admin/dist/js/init.js"></script>

	<!-- 달력 -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- <script src="/Scripts/jquery-ui-1.10.0.min.js" type="text/javascript"></script>
	<script src="/Scripts/jquery.ui.datepicker-ko.js" type="text/javascript"></script> -->
	
	<!-- 학급 추가 -->
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> -->
	<script type="text/javascript">
	// 변수
	// var url = '/wanotes/admin';
	var url = '/wanotes/user';
	var table = '';
	var tableOpt = {
		oLanguage : {
			"sProcessing" : "처리중...",
			"sZeroRecords" : "데이터가 없습니다.",
			"sLengthMenu" : "_MENU_ 건 표시",
			"oPaginate" : {
				"sFirst" : "처음",
				"sNext" : "다음",
				"sPrevious" : "이전",
				"sLast" : "끝"
			},
			"sInfo" : "총 _TOTAL_ 건 중, _START_ 건부터 _END_ 건까지 표시",
			"sInfoEmpty" : "0건 중, 0 부터 0까지 표시",
			'sInfoFilterd' : "(총 _MAX_ 건에서 추출)",
			"sSearch" : "검색 : "
		}, 
		processing : true,
		bPaginate : true,  	// 페이징
		iDisplayLength : 10,	// 기본 표시행
		bLengthChange : true,	// 보여주는 건수 선택
		bFilter : true,		// 검색
		bSort : true,			// 소트
		bAutoWidth : true,			
	
		ajax : 
		{
			url : url
		},
		
		columns: [
			{ 
				data: "id",
				render: function (data, type, row) {
					if(type === 'display') {
						return '<input type="checkbox" class="editor-active" value="'+ data +'">';
					}
					return data;
				},
				className: "dt-body-center"
			},
			{ 
				data: "number",
				render: function(data, type, row)
				{
					return '<a onclick="changeStudentInfo('+row.id+',\''+row.video+'\',\''+row.name+'\',\''+row.writer+'\',\''+row.number+'\',\''+row.textbook+'\',\''+row.multi+'\',\''+row.level+'\',\''+row.anser+'\')">'+data+'</a>';
				// <!-- function changeStudentInfo(id, imagename, video, name, writer, number, textbook, multi, level, anser){ -->
				}
			},
			{ 
				data: "unitname",
				render: function(data, type, row)
				{
					return '<a onclick="changeStudentInfo('+row.id+',\''+row.video+'\',\''+row.name+'\',\''+row.writer+'\',\''+row.number+'\',\''+row.textbook+'\',\''+row.multi+'\',\''+row.level+'\',\''+row.anser+'\')">'+data+'</a>';
				}
			},
			{ 
				data: "name",
				render: function(data, type, row)
				{
					return '<a onclick="changeStudentInfo('+row.id+',\''+row.video+'\',\''+row.name+'\',\''+row.writer+'\',\''+row.number+'\',\''+row.textbook+'\',\''+row.multi+'\',\''+row.level+'\',\''+row.anser+'\')">'+data+'</a>';
				}
			},
			{ 
				data: "typename",
				render: function(data, type, row)
				{
					return '<a onclick="changeStudentInfo('+row.id+',\''+row.video+'\',\''+row.name+'\',\''+row.writer+'\',\''+row.number+'\',\''+row.textbook+'\',\''+row.multi+'\',\''+row.level+'\',\''+row.anser+'\')">'+data+'</a>';
				}
			},
			{ 
				data: "level",
				render: function(data, type, row)
				{
					return '<a onclick="changeStudentInfo('+row.id+',\''+row.video+'\',\''+row.name+'\',\''+row.writer+'\',\''+row.number+'\',\''+row.textbook+'\',\''+row.multi+'\',\''+row.level+'\',\''+row.anser+'\')">'+data+'</a>';
				}
			},
			{ 
				data: "anser",
				render: function(data, type, row)
				{
					return '<a onclick="changeStudentInfo('+row.id+',\''+row.video+'\',\''+row.name+'\',\''+row.writer+'\',\''+row.number+'\',\''+row.textbook+'\',\''+row.multi+'\',\''+row.level+'\',\''+row.anser+'\')">'+data+'</a>';
				} 
			},
			{ 
				data: "wronganser",
				render: function(data, type, row)
				{
					return '<a onclick="changeStudentInfo('+row.id+',\''+row.video+'\',\''+row.name+'\',\''+row.writer+'\',\''+row.number+'\',\''+row.textbook+'\',\''+row.multi+'\',\''+row.level+'\',\''+row.anser+'\')">'+data+'</a>';
				} 
			},
			{ 
				data: "image",
				render: function(data, type, row)
				{
					return '<a class="btn  btn-primary btn-outline btn-rounded" data-toggle="modal" data-target="#showImgModal" ' + 
							'onclick="changeImg('+ row.id + ', ' + row.textbook + ', \'' + row.number + '\', \'' + row.name +'\')">보 기</a>';
				}
			},
			{ 
				data: "video",
				render: function(data, type, row)
				{
					return '<a class="btn  btn-primary btn-outline btn-rounded">보 기</a>';
				}
			}
		],
		select: {
			style: 'os',
			selector: 'td:not(:last-child)'
		},
		order : [[1, 'asc']]
	};

	// 기능
		function addTextbook(){
			if(document.getElementById('inputTextbookName').value && document.getElementById('inputTextbookCode').value)
			{
				var req = new XMLHttpRequest();
				req.open('POST', '/textbooks');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify({
					grade: document.getElementById('selectTextbookGrade').value,
					name: document.getElementById('inputTextbookName').value,
					code: document.getElementById('inputTextbookCode').value,
					mine: document.getElementById('selectTextbookMine').value	
				}));

				req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 201) {
					console.log("addTextbook() : " + req.responseText);
					readTextbook();
					} else {
					console.log("Error!");
					}
				}
				};
				$('#newCompanyModal').modal('hide');
			}
			else 
			{
				alert("교재 명과 교재 코드를 다시 확인해 주세요.");
			}			
		}

		function editTextbook(){
		if(confirm("교재 명을 수정 하시겠습니까?"))
		{
			var req = new XMLHttpRequest();
			req.open('PUT', '/textbooks');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
				{
					id: document.getElementById('inputEditId').value,
					name: document.getElementById('inputEditTextbookName').value,
					grade: document.getElementById('selectEditTextbookGrade').value,
					code: document.getElementById('inputEditTextbookCode').value,
					mine: document.getElementById('selectEditTextbookMine').value
				})
			);
		
			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						readTextbook();
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
		}
	}

	function deleteClass(id){
		if(confirm("교재를 삭제하시겠습니까?"))
		{
			if(confirm("관련된 문제, 시험지, 자료가 모두 삭제 됩니다.\r삭제 후에는 복원이 불가능 합니다.\r계속 진행하시겠습니까?"))
			{
				var req = new XMLHttpRequest();
				req.open('DELETE', '/textbooks');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify(
					{
						id: id
					})
				);

			
				req.onreadystatechange = function (e) 
				{
					if (req.readyState === XMLHttpRequest.DONE) 
					{
						if(req.status === 204) 
						{
							readTextbook();
						} 
						else 
						{
							console.log("Error!");
						}
					}
				}
			}
		};
	}

	function loadClassList() {
		var req = new XMLHttpRequest();
		req.open('GET', '/studentclass/' + document.getElementById('selectClassGrade').value);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);

					for(var i=0; i<jsonResponse.length; i++)
						$('#selectClassList').append("<option value='"+jsonResponse[i].id+"'>"+jsonResponse[i].name+"</option>");

					studentListLoad()
				}
			}
		};	
	}

	$('#selectClassGrade').change(function () {
			loadClassList();
		}
	);

	function studentListLoad(){
		var req = new XMLHttpRequest();
		var selectClassList = document.getElementById('selectClassList');
		console.log($('#selectClassList').val());
		req.open('GET', '/users/' + document.getElementById('selectClassGrade').value + '/' + document.getElementById('selectClassList').value);
		req.send();

		console.log(document.getElementById('selectClassList').value);

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);

					for(var i=0; i<jsonResponse.data.length; i++)
					{
						if(jsonResponse.data[i].isstudent)
							$('#selectStudentList').append("<option value='"+jsonResponse.data[i].userid+"'>"+jsonResponse.data[i].name+"</option>");
					}
					console.log("reloadDatatable()");
		
					reloadDatatable();
				}
			}
		};
		
	}

	function reloadDatatable(){
		url = "/wanotes/" + $('#selectStudentList').val();
		console.log(url);

		$('#datable_1').DataTable().ajax.reload(null, false);
	}

		function readTextbook(){
			var req = new XMLHttpRequest();
			req.open('GET', '/codetextbooks/' + document.getElementById('selectClassGrade').value);
			req.send();

			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						// 학급 리스트 초기화
						var parent = document.getElementById("textbookList");
						var parentSelect = document.getElementById("SelectTextbook");
						var parentEditSelect = document.getElementById("SelectEditTextbook");
						// parentSelect.options.length = 0;
						parentEditSelect.options.length = 0;
						//parentSelect.remove();
						while(parent.hasChildNodes())
						{
							parent.removeChild(parent.firstChild);
						}

						// 리스트 만들기
						var jsonResponse = JSON.parse(req.responseText);

						console.log(jsonResponse);
						console.log(jsonResponse.data[0].sValue);

						// 전체그룹 생성
						// var li = document.createElement("li");
						// li.innerHTML = '<a onclick="addQuest(0)">전 체';
						// document.getElementById('textbookList').appendChild(li);

						for(var i=0; i<jsonResponse.data.length; i++){	
							console.log(i);
							// 그룹 리스트
							var li = document.createElement("li");
							li.innerHTML = '<a onclick="reloadQuest(' + $(selectClassGrade).val() + ',' + jsonResponse.data[i].id + ')">' + 
										jsonResponse.data[i].sValue + ' (' + jsonResponse.data[i].sCode + ')' + 
										'<i class="fa fa-pencil-square-o" style="position:relative; left:25px" onclick="changeModalValue('+jsonResponse.data[i].id + ',\''+jsonResponse.data[i].sValue+'\','+jsonResponse.data[i].nGrade+',\''+jsonResponse.data[i].sCode+'\',\''+jsonResponse.data[i].mine+'\')"></i>' +
										'<i class="fa fa fa-minus-square" style="position:relative; left:30px" onclick="deleteClass('+jsonResponse.data[i].id+')"></i>' +
										'</a>';
							document.getElementById('textbookList').appendChild(li);
						}
					} else {
					console.log("Error!");
					}
				}
			};	
		}

		// 문제 추가
		function addQuest(){
			if( document.getElementById('inputQusetNumber').value &&
				document.getElementById('inputQuestAnser').value &&
				document.getElementById('inputQuestName').value &&
				document.getElementById('fileInput').value			
			)
			{
				var form = $('#fileForm')[0];
				var formData = new FormData(form);
				var now = Date.now()

				var SelectTextbook = document.getElementById("SelectTextBook");			
				var selectClassGrade = document.getElementById("selectClassGrade");			
				var selectLevel = document.getElementById("SelectQuestLevel");

				var req = new XMLHttpRequest();
				req.open('POST', '/questions');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify({
					grade : selectClassGrade.options[selectClassGrade.selectedIndex].value,
					textbook : SelectTextbook.options[SelectTextbook.selectedIndex].value,
					unitCode : document.getElementById('inputTextbookUnit').value,
					typeCode : document.getElementById('inputQuestionType').value,
					level : selectLevel.options[selectLevel.selectedIndex].value,
					number: document.getElementById('inputQusetNumber').value,
					imagename : document.getElementById('fileInput').value,
					video: document.getElementById('inputQuestVideo').value,
					name: document.getElementById('inputQuestName').value,
					anser: document.getElementById('inputQuestAnser').value,
					writer: document.getElementById('userid').value
					
				}));

				req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						$('#filepath').val(JSON.parse(req.response).image);
						var form = $('#fileForm')[0];
						var formData = new FormData(form);
						// formData.append('imagePath', JSON.parse(req.response).image);

						// document.getElementById('filepath').value = JSON.parse(req.response).image;
						// $('#filepath').val(JSON.parse(req.response).image);
						console.log(JSON.parse(req.response).image);
						$.ajax({
							type: 'post',
							url: '/uploads',
							data: formData,
							processData: false,
							contentType: false,
							success: function (data) {
								console.log("Success!!");
								//$('#filepath').val(data);
							},
							error: function (err) {
								console.log(err);
							}
						});

						reloadQuest(selectClassGrade.options[selectClassGrade.selectedIndex].value, SelectTextbook.options[SelectTextbook.selectedIndex].value);
				
						document.getElementById('inputQusetNumber').value = '';
						$('#inputQuestAnser').css('display', 'none');
						$('#inputQuestAnser').attr("required", false); 
						document.getElementById('inputQuestAnser').value = '';
						document.getElementById('inputQuestVideo').value = '';
						document.getElementById('inputQuestName').value = '';
					} else {
						alert(req.responseText.console.error());
					}
				}
				$('#myModal').modal('hide');
			}
		}
		else if(document.getElementById("SelectTextbook") === 0)
		{
			alert("교재를 등록 후 사용해 주세요.");
		}
		else
		{
			alert("항목이 전부 입력되지 않았습니다.");
		};
	}

	// 문제 수정
	function editQuest()
	{
		if(confirm("문제를 수정하시겠습니까?"))
		{
			var selectgrade = document.getElementById("selectEditClassGrade");			
			var selectclass = document.getElementById("SelectEditClassList");
			var SelectTextbook = document.getElementById("SelectEditTextbook");	
			var selectLevel = document.getElementById("SelectEditQuestLevel");
			var req = new XMLHttpRequest();
			req.open('PUT', '/questions');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
			{
				textbook : SelectTextbook.options[SelectTextbook.selectedIndex].value,
				grade : selectgrade.options[selectgrade.selectedIndex].value,
				level : selectLevel.options[selectLevel.selectedIndex].value,
				multi: document.getElementById('inputEditQuestMulti').value,
				number: document.getElementById('inputEditQusetNumber').value,
				anser: document.getElementById('inputEditQuestAnser').value,
				video: document.getElementById('inputEditQuestVideo').value,
				name: document.getElementById('inputEditQuestName').value,
				writer: document.getElementById('userid').value,
				id: document.getElementById('tempindex').value
			}
			));

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						console.log("문제 수정 완료.");
					} 
					else 
					{
						console.log("Error!");
					}
				}
				reloadQuest();
			}
		}
		$('#editQuestModal').modal('hide');
	};

	// 문제 삭제
	function deleteQuest()
	{
		if(confirm("문제를 삭제하시겠습니까?"))
		{
			var req = new XMLHttpRequest();
			req.open('DELETE', '/questions');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
			{
				id: document.getElementById('tempindex').value
			}
			));

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 204) 
					{
						alert("문제 삭제 완료.");
						console.log("문제 삭제 완료.");
						reloadQuest();
						$('#editQuestModal').modal('hide');
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
		}
	};

	// 문제 추가 모달 초기화
	$('#myModal').on('show.bs.modal', function(){
		$.get("/codetextbooks/" + $('#selectClassGrade').val(), function(data){ 
			for(var i=0; i<data.data.length; i++)
			{
				console.log("count = " + i);
				$('#SelectTextBook').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
			}
			console.log(data);
		}, "json");

		$.get("/codeunits/" + $('#selectClassGrade').val(), function(data){ 
			for(var i=0; i<data.data.length; i++)
			{
				console.log("count = " + i);
				$('#inputTextbookUnit').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
			}
			console.log(data);
		}, "json");

		$.get("/codetypes/" + $('#selectClassGrade').val(), function(data){ 
			for(var i=0; i<data.data.length; i++)
			{
				console.log("count = " + i);
				$('#inputQuestionType').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
			}
			console.log(data);
		}, "json");

		// document.getElementById('SelectTextBook').value = id;
		// document.getElementById('inputTextbookUnit').value = id;
		// document.getElementById('inputQuestionType').value = id;
	})		

	// 문제집 수정 모달 값 입력
	function changeModalValue(id, name, grade, code, mine){
		
		document.getElementById('inputEditId').value = id;
		document.getElementById('inputEditTextbookName').value = name;
		document.getElementById('selectEditTextbookGrade').value = grade;	
		document.getElementById('inputEditTextbookCode').value = code;
		document.getElementById('selectEditTextbookMine').value = mine;		

		$("#editTextbook").modal("show");
	}

	// 학생정보 수정 모달 값 입력
	function changeStudentInfo(id, video, name, writer, number, textbook, multi, level, anser){
		document.getElementById('tempindex').value = id;	
		// document.getElementById('fileEditInput').value = imagename;	
		// $('#fileEditInput').val(imagename);
		document.getElementById('inputEditQuestVideo').value = video;	
		document.getElementById('inputEditQuestName').value = name;	
		document.getElementById('userid').value = writer;	
		document.getElementById('inputEditQusetNumber').value = number;	
		document.getElementById('SelectEditTextbook').value = textbook;	
		document.getElementById('inputEditQuestMulti').value = multi;	
		document.getElementById('SelectEditQuestLevel').value = level;	
		document.getElementById('inputEditQuestAnser').value = anser;		

		$("#editQuestModal").modal("show");
	}

	/*
	function readQuest(param=0){
		var req = new XMLHttpRequest();
		var url = '/questions';
		if(param!=0)
		{
			url += '/' + document.getElementById('selectClassGrade').value;
			url += '/' + param;	
		}
		console.log(url);
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					var parent = document.getElementById("questList");
					while(parent.hasChildNodes())
					{
						parent.removeChild(parent.firstChild);
					}


					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<jsonResponse.length; i++){	
						// 그룹 리스트
						var tr = document.createElement("tr");
						var strHtml = "";
						strHtml += "<td>" + jsonResponse[i].grade + "</td>";
						strHtml += "<td>" + jsonResponse[i].classname + "</td>";
						strHtml += "<td>" + jsonResponse[i].name + "</td>";
						strHtml += "<td>" + jsonResponse[i].userid + "</td>";

						tr.innerHTML = strHtml;
						document.getElementById('questList').appendChild(tr);

						// <!-- <tr onclick="location.href='/userinfo'">
						// 	<td>009</td>
						// <td>수학(상)</td>
						// <td>쎈수학 다항식문제1</td>
						// <td>난이도</td>
						// <td>3</td>
						// <td>보기</td>
						// <td>보기</td>
						// </tr> -->
					}
				} else {
				console.log("Error!");
				}
			}
		};	
	}
	*/

	function reloadQuest(grade=1, classname=0) {
		if(grade === 0)
			{
				url = '/questions';
			}
		else
			{
				url = '/questions/' + grade + '/' + classname;
			}

		console.log(url);
		// $('#datable_1').DataTable().ajax.url = url;
		// $('#datable_1').DataTable().ajax.reload(null, false);
		// table.ajax.url(url).load(null, false);
		//table.ajax.url() = url;
		table.ajax.url(url).load(null, false);
	}

	// 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
	  };	
	  
	// 관리자 페이지 표시
	function managementViewpage() {

		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#menuTeacher').css('display','');
		}
		else
		{
			$('#manageusers').css('display','none');
			$('#manageusersline').css('display','none');
			$('#menuTeacher').css('display','none');
		}
	}

	// 파일 업로드
	// $('#fileInput').on('change', function () {
	// 	var form = $('#fileForm')[0];
	// 	var formData = new FormData(form);

	// 	$.ajax({
	// 		type: 'post',
	// 		url: '/uploads',
	// 		data: formData,
	// 		processData: false,
	// 		contentType: false,
	// 		success: function (data) {
	// 			console.log("Success!!");
	// 			$('#filepath').val(data);
	// 		},
	// 		error: function (err) {
	// 			console.log(err);
	// 		}
	// 	});
	// });

	// 이미지 보기
	function changeImg(path, textbook, number, name){
		// 주소 변경
		const imgQuest = document.getElementById('showImgSrc');
		imgQuest.src = '/img/' + path;

		// 타이틀 변경
		const imgLabel = document.getElementById('showQuestionLabel');
		imgLabel.innerHTML = '[' + textbook + '/' + number + '] ' + name;
	}

	// 시험지 생성
	function makeTestPaper() {
		let localTable = table.$(".editor-active:checked", {"page": "all"});
		
		if(localTable.length === 0)
		{
			alert("선택 된 문제가 없습니다.");
			$('#addTestpaper').modal('hide');
		}
		else if(document.getElementById('inputTestpaperName').value)
		{
			
			let data = [30];
			// let total = localTable.length;

			for(i=0; i<30; i++)
			{
				data[i] = localTable[i] || null;
			}
			
			// console.log("total : " + total);
			console.log('data = ' + data[0]);
			var req = new XMLHttpRequest();
					req.open('POST', '/wrongpapers');

					req.setRequestHeader('Content-type', 'application/json');
					req.send(JSON.stringify({
						name: document.getElementById('inputTestpaperName').value,
						writer: document.getElementById('userid').value,
						total: localTable.length,

						question1 : data[0] === null? null : data[0].value,
						question2 : data[1] === null? null : data[1].value,
						question3 : data[2] === null? null : data[2].value,
						question4 : data[3] === null? null : data[3].value,
						question5 : data[4] === null? null : data[4].value,
						question6 : data[5] === null? null : data[5].value,
						question7 : data[6] === null? null : data[6].value,
						question8 : data[7] === null? null : data[7].value,
						question9 : data[8] === null? null : data[8].value,
						question10 : data[9] === null? null : data[9].value,
						question11 : data[10] === null? null : data[10].value,
						question12 : data[11] === null? null : data[11].value,
						question13 : data[12] === null? null : data[12].value,
						question14 : data[13] === null? null : data[13].value,
						question15 : data[14] === null? null : data[14].value,
						question16 : data[15] === null? null : data[15].value,
						question17 : data[16] === null? null : data[16].value,
						question18 : data[17] === null? null : data[17].value,
						question19 : data[18] === null? null : data[18].value,
						question20 : data[19] === null? null : data[19].value,
						question21 : data[20] === null? null : data[20].value,
						question22 : data[21] === null? null : data[21].value,
						question23 : data[22] === null? null : data[22].value,
						question24 : data[23] === null? null : data[23].value,
						question25 : data[24] === null? null : data[24].value,
						question26 : data[25] === null? null : data[25].value,
						question27 : data[26] === null? null : data[26].value,
						question28 : data[27] === null? null : data[27].value,
						question29 : data[28] === null? null : data[28].value,
						question30 : data[29] === null? null : data[29].value
				}));

				req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						console.log("addTestPaper() : " + req.responseText);
						readTextbook();
					} else {
						console.log("Error!");
					}
				}
			};
			$('#addTestpaper').modal('hide');
		}
		else{
			alert("오답지 명을 입력해 주세요.")
		}
	}

	// 시험지 추가 정답폼 변경
	$('#inputQuestMulti').change(function() { 
		if($('#inputQuestMulti').val() === '객관식')
		{
			$('#inputQuestAnser').css('display', 'none');
			$('#inputQuestAnser').attr("required", false); 
		}
		else
		{
			$('#inputQuestAnser').css('display', '');
			$('#inputQuestAnser').attr("required", true); 
		}
	});

	var dtNow = new Date();
 	$(document).ready(function () {
		managementViewpage();
		// readTextbook();
		// readQuest();
		loadClassList();
		// studentListLoad()
		// loadStudentList();

		table = $('#datable_1').DataTable(tableOpt);

        // 선택된 값 세팅
        // EvtChangeMonthYear(dtNow.getFullYear() , dtNow.getMonth());
    });
	</script>
	
</body>

</html>
