<% include ./common/header.ejs %>

<body>
	<!--/Preloader-->
    <div class="wrapper  theme-3-active pimary-color-blue">
		<!-- 상단 메뉴 호출 -->
		<% include ./common/topmenu.ejs %>
		
		<!-- 좌측 메뉴 호출 -->
		<% include ./common/leftmenu.ejs %>
			
		<!-- Main Content -->
		<div class="page-wrapper">
				<div class="container-fluid">
					
					<!-- Title -->
					<div class="row heading-bg">
						<div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
						  <h5 class="txt-dark">학습지 / 문제소스 관리</h5>
						</div>
						<!-- Breadcrumb -->
						<div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
						  <ol class="breadcrumb">
							<li><a href="/index">수학의 빛</a></li>
							<li class="active"><a href="/manageuser"><span>학습지 / 문제소스 관리</span></a></li>
						  </ol>
						</div>
						<!-- /Breadcrumb -->
					</div>
					<!-- /Title -->
					
					<!-- Row -->
					<div class="row">
						<div class="col-lg-12">
							<div class="panel panel-default card-view pa-0">
								<div class="panel-wrapper collapse in">
									<div class="panel-body pa-0">
										<div class="contact-list">
											<div class="row">
												<aside class="col-lg-2 col-md-4 pr-0">
													<div class="mt-20 mb-20 ml-15 mr-15"  style="margin-bottom:20px">
														<a href="#myModal" data-toggle="modal" title="Compose" class="btn btn-success btn-block"  style="margin-bottom:20px">문제 추가</a>
														<p>학 년</p>
														<select class="form-control" id="selectClassGrade" style="margin-bottom:20px">
															<option value="1">중학교 1학년</option>
															<option value="2">중학교 2학년</option>
															<option value="3">중학교 3학년</option>
															<option value="4">고등학교 1학년</option>
															<option value="5">고등학교 2학년</option>
															<option value="6">고등학교 3학년</option>
														</select>
														<p>교 재</p>
														<select class="form-control" id="selectTextBook" style="margin-bottom:20px">
															
														</select>
														<p>단 원</p>
														<select class="form-control" id="selectClassUnit" style="margin-bottom:20px">
															
														</select>
														<p>유 형</p>
														<select class="form-control" id="selectClassType" style="margin-bottom:20px">
															
														</select>
														<p>난이도</p>
														<select class="form-control" id="selectClassLevel" style="margin-bottom:20px">
															<option value="0">전 체</option>
															<option value="1">하</option>
															<option value="2">중</option>
															<option value="3">중상</option>
															<option value="4">상</option>
															<option value="5">최상</option>
														</select>
														<div>
															<button class="btn btn-success btn-block btn-outline btn-anim" onclick="reloadQuest()"><i class="fa fa-search"></i><span class="btn-text">검 색</span></button>
														</div>
														
														<!-- Modal -->
														<div aria-hidden="true" role="dialog" tabindex="-1" id="myModal" class="modal fade" style="display: none;">
															<div class="modal-dialog">
																<div class="modal-content">
																	<div class="modal-header">
																		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																		<h4 class="modal-title" id="myModalLabel">문제 추가</h4>
																	</div>
																	<div class="modal-body">
																		<div class="form-horizontal form-material">
																			<div class="form-group">
																				<div class="col-md-12 mb-20">
																					<p style="color:black">학 년</p>
																					<select class="form-control" id="selectNewGradeList">
																						<option value="1">중학교 1학년</option>
																						<option value="2">중학교 2학년</option>
																						<option value="3">중학교 3학년</option>
																						<option value="4">고등학교 1학년</option>
																						<option value="5">고등학교 2학년</option>
																						<option value="6">고등학교 3학년</option>
																					</select>
																				</div>
																				<!-- <div class="col-md-12 mb-20">
																					<select class="form-control" id="SelectTextbook" onchange="readTextbook(this.form)">
																					<select class="form-control" id="SelectTextbook"> 
																						<option value="S">시중 교재</option>
																						<option value="HA">학원 교재</option>
																					</select>
																				</div> -->
																				<div class="col-md-12 mb-20">
																					<p style="color:black">교재명</p>
																					<select class="form-control" id="SelectTextBook">
																						
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">단원</p>
																					<select class="form-control" id="inputTextbookUnit">
																						
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">유형</p>
																					<select class="form-control" id="inputQuestionType">
																					
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">난이도</p>
																					<select class="form-control" id="SelectQuestLevel">
																						<option value="01">하</option>
																						<option value="02">중</option>
																						<option value="03">중상</option>
																						<option value="04">상</option>
																						<option value="05">최상</option>
																					</select>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">문제 번호</p>
																					<input type="text" class="form-control" placeholder="문제 번호" id="inputQusetNumber" required>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">문제 정답</p>
																					<input type="text" class="form-control" placeholder="문제 정답" id="inputQuestAnser" required>
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">영상강좌 링크</p>
																					<input type="text" class="form-control" placeholder="영상 강좌 링크" id="inputQuestVideo">
																				</div>
																				<div class="col-md-12 mb-20">
																					<p style="color:black">문제 이름</p>
																					<input type="text" class="form-control" placeholder="문제 이름" id="inputQuestName" required>
																				</div>
																				<div class="col-md-6 mb-20">
																					<p class="control-label mb-10 text-left">문제 이미지 업로드</p>
																					<!-- <button class="btn  btn-primary">문제 이미지 업로드</button> -->
																					<form action="/uploads" method="POST" enctype="multipart/form-data" id="fileForm" required>
																						<input type="file" name="userfile" id="fileInput" accept="image/*"/>
																						<input type="hidden" name="resultUpload" id="filepath"/>
																						<input type="hidden" name="newFileName" id="newFileName"/>
																					</form>
																				</div>
																				
																				<div class="col-md-6 mb-20">
																					<label class="control-label mb-10 text-left">문제 이미지 사이즈</label>
																					<div style="display: flex">
																						<div class="radio radio-info" style="flex: 3">
																							<input type="radio" name="radio" id="radio1" value="1" checked="checked">
																							<label for="radio1">
																								1칸
																							</label>
																						</div>
																						<div class="radio radio-info" style="flex: 3">
																							<input type="radio" name="radio" id="radio2" value="2">
																							<label for="radio2">
																								2칸
																							</label>
																						</div>	
																						<div class="radio radio-info" style="flex: 3">
																							<input type="radio" name="radio" id="radio2" value="3">
																							<label for="radio2">
																								3칸
																							</label>
																						</div>	
																					</div>
																				</div>

																				<div class="col-md-6 mb-20">
																					<label class="control-label mb-10 text-left">해설 이미지 업로드</p>
																					<!-- <button class="btn  btn-primary">해설 이미지 업로드</button> -->
																					<form action="/uploads" method="POST" enctype="multipart/form-data" id="fileForm2" required>
																						<input type="file" name="userfile" id="fileInput2" accept="image/*"/>
																						<input type="hidden" name="resultUpload" id="filepath2"/>
																						<input type="hidden" name="newFileName" id="newFileName2"/>
																					</form>
																				</div>

																				<div class="col-md-6 mb-20">
																					<label class="control-label mb-10 text-left">해설 이미지 사이즈</label>
																					<div style="display: flex">
																						<div class="radio radio-info" style="flex: 3">
																							<input type="radio" name="radio2" id="radio2-1" value="1" checked="checked">
																							<label for="radio1">
																								1칸
																							</label>
																						</div>
																						<div class="radio radio-info" style="flex: 3">
																							<input type="radio" name="radio2" id="radio2-2" value="2">
																							<label for="radio2">
																								2칸
																							</label>
																						</div>	
																						<div class="radio radio-info" style="flex: 3">
																							<input type="radio" name="radio2" id="radio2-3" value="3">
																							<label for="radio2">
																								3칸
																							</label>
																						</div>	
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="modal-footer">
																		<button type="button" class="btn btn-info waves-effect" data-dismiss="modal" onclick="addQuest()">추 가</button>
																		<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																	</div>
																</div>
																<!-- /.modal-content -->
															</div>
															<!-- /.modal-dialog -->
														</div>
														<!-- /.modal -->
													</div>
													<ul class="inbox-nav mb-30" id="textbookList">
													</ul>
													
															<!-- Modal -->															
															<div aria-hidden="true" role="dialog" tabindex="-1" id="editQuestModal" class="modal fade" style="display: none;">
																<div class="modal-dialog">
																	<div class="modal-content">
																		<div class="modal-header">
																			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																			<h4 class="modal-title" id="myModalLabel">문제 수정</h4>
																		</div>
																		<div class="modal-body">
																			<div class="form-horizontal form-material">
																				<div class="form-group">
																					<!-- <div class="col-md-12 mb-20">
																						<select class="form-control" id="SelectGradeList" onchange="readTextbook(this.form)" disabled>
																							<option value="1">초등학교 1학년</option>
																							<option value="2">초등학교 2학년</option>
																							<option value="3">초등학교 3학년</option>
																							<option value="4">초등학교 4학년</option>
																							<option value="5">초등학교 5학년</option>
																							<option value="6">초등학교 6학년</option>
																							<option value="7">중학교 1학년</option>
																							<option value="8">중학교 2학년</option>
																							<option value="9">중학교 3학년</option>
																							<option value="10">고등학교 1학년</option>
																							<option value="11">고등학교 2학년</option>
																							<option value="12">고등학교 3학년</option>
																						</select>
																					</div> -->
																					<div class="col-md-12 mb-20">
																						<p style="color:black">교재명</p>
																						<select class="form-control" id="SelectEditTextBook">
																							
																						</select>
																					</div>
																					<div class="col-md-12 mb-20">
																						<p style="color:black">단원</p>
																						<select class="form-control" id="inputEditTextbookUnit">
																							
																						</select>
																					</div>
																					<div class="col-md-12 mb-20">
																						<p style="color:black">유형</p>
																						<select class="form-control" id="inputEditQuestionType">
																						
																						</select>
																					</div>
																					<div class="col-md-12 mb-20">
																						<p style="color:black">난이도</p>
																						<select class="form-control" id="SelectEditQuestLevel">
																							<option value="01">하</option>
																							<option value="02">중</option>
																							<option value="03">중상</option>
																							<option value="04">상</option>
																							<option value="05">최상</option>
																						</select>
																					</div>
																					<div class="col-md-12 mb-20">
																						<p style="color:black">문제 번호</p>
																						<input type="text" class="form-control" placeholder="문제 번호" id="inputEditQusetNumber" required>
																					</div>
																					<div class="col-md-12 mb-20">
																						<p style="color:black">문제 정답</p>
																						<input type="text" class="form-control" placeholder="문제 정답" id="inputEditQuestAnser" required>
																					</div>
																					<div class="col-md-12 mb-20">
																						<p style="color:black">영상강좌 링크</p>
																						<input type="text" class="form-control" placeholder="영상 강좌 링크" id="inputEditQuestVideo">
																					</div>
																					<div class="col-md-12 mb-20">
																						<p style="color:black">문제 이름</p>
																						<input type="text" class="form-control" placeholder="문제 이름" id="inputEditQuestName" required>
																					</div>
																				</div>
																			</div>
																		</div>
																		<div class="modal-footer" style="display:flex;">
																			<div>
																				<button type="button" class="btn btn-danger waves-effect" onclick="deleteQuest()">삭 제</button>
																			</div>
																			<div style="flex:1"></div>
																			<div>
																				<button type="button" class="btn btn-warning waves-effect" onclick="editQuest()">수 정</button>
																				<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>	
																			</div>
																		</div>
																	</div>
																	<!-- /.modal-content -->
																</div>
																<!-- /.modal-dialog -->
															</div>
															<!-- /.modal -->

													<!-- 해설 등록 -->
													<!-- Modal -->															
													<div aria-hidden="true" role="dialog" tabindex="-1" id="addCommentaryModal" class="modal fade" style="display: none;">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h4 class="modal-title" id="myModalLabel">해설 등록</h4>
																</div>

																<div class="modal-body">
																	<div class="form-horizontal form-material">
																		<div class="form-group">
																			<div class="col-md-12 mb-20">
																				<p style="color:black">해설 내용</p>
																				
																				<textarea rows="12" cols="28" class="form-control" id="inputCommentary"></textarea>
																				<input type="hidden" id="idCommentary"/>
																			</div>
																		</div>
																	</div>
																</div>
																<div class="modal-footer" style="display:flex;">
																	<div>
																		<button type="button" class="btn btn-danger waves-effect" onclick="deleteCommentary()" id="btnDeleteCommentary">삭 제</button>
																	</div>
																	<div style="flex:1"></div>
																	<div>
																		<button type="button" class="btn btn-warning waves-effect" onclick="editCommentary()" id="btnEditCommentary">수 정</button>
																		<button type="button" class="btn btn-success waves-effect" onclick="addCommentary()" id="btnAddCommentary">추 가</button>
																		<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>	
																	</div>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- /.modal -->
													
													<!-- 문제보기 Modal -->
													<div id="showImgModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-lg">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="showQuestionLabel"></h5>
																</div>
																<div class="modal-body">
																	<img src="" id="showImgSrc" style="max-width: 100%; max-height: 100%">
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 문제보기 Modal -->

													<!-- QR보기 Modal -->
													<div id="showQRModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog modal-lg" style="width:10%">
															<div class="modal-content" style="width:300px; text-align: center; position: relative;">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="showQRcodeLabel"></h5>
																</div>
																<div class="modal-body">
																	<img src="" id="showQRcodeSrc">
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 문제보기 Modal -->

													<!-- 시험지 추가 Modal -->
													<div id="addTestpaper" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
														<div class="modal-dialog">
															<div class="modal-content">
																<div class="modal-header">
																	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
																	<h5 class="modal-title" id="myModalLabel">시험지 추가</h5>
																</div>
																<div class="modal-body">
																	<form>
																		<div class="col-md-12 mb-20">
																			<label class="control-label mb-10">학 년</label>
																			<select class="form-control" id="selectTextbookGrade">
																				<option value="1">중학교 1학년</option>
																				<option value="2">중학교 2학년</option>
																				<option value="3">중학교 3학년</option>
																				<option value="4">고등학교 1학년</option>
																				<option value="5">고등학교 2학년</option>
																				<option value="6">고등학교 3학년</option>
																			</select>
																		</div>
																		<div class="col-md-12 mb-20">
																			<label class="control-label mb-10">학급 이름</label>
																			<select class="form-control" id="selectTextbookClass">
																			</select>
																		</div>
																		<div class="col-md-12 mb-20">
																			<label class="control-label mb-10">시험지 이름</label>
																			<input id="inputTestpaperName" type="text" class="form-control" value="">
																		</div>
																		<div class="col-md-12 mb-20">
																			<label class="control-label mb-10">시험 시작 날짜</label>
																			<input class="form-control" type="text" id="startDtpicker">
																		</div>
																		<div class="col-md-12 mb-20">
																			<label class="control-label mb-10">시험 종료 날짜</label>
																			<input class="form-control" type="text" id="endDtpicker">
																		</div>
																	</form>
																</div>
																<div class="modal-footer">
																	<button type="button" class="btn btn-success waves-effect" onclick="makeTestPaper()">추 가</button>
																	<button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
																</div>
															</div>
															<!-- /.modal-content -->
														</div>
														<!-- /.modal-dialog -->
													</div>
													<!-- 시험지 추가 Modal -->
												</aside>
												
												<aside class="col-lg-10 col-md-8 pl-0">
													<div class="panel pa-0">
													<div class="panel-wrapper collapse in">
													<div class="panel-body  pa-0">
														<div class="table-responsive mb-30" style="width:100%">
															<table id="datable_1" class="table  display table-hover mb-30" style="width:100%" data-page-size="10">
																<thead>
																	<tr>
																		<th width='5%'></th>
																		<th width='5%'>번 호</th>
																		<th width='10%'>단 원</th>
																		<th width='25%'>이 름</th>
																		<th width='10%'>유 형</th>
																		<th width='10%'>난이도</th>
																		<th width='5%'>정 답</th>
																		<th width='10%'>문 제</th>
																		<th width='10%'>해 설</th>
																		<th width='10%'>영 상</th>
																	</tr>
																</thead>
																<tbody id="questList">
																	<!-- <tr onclick="location.href='/userinfo'">
																		<td>009</td>
																		<td>수학(상)</td>
																		<td>쎈수학 다항식문제1</td>
																		<td>난이도</td>
																		<td>3</td>
																		<td>보기</td>
																		<td>보기</td>
																	</tr> -->
																</tbody>
															</table>
														</div>
													</div>
													</div>
													<div class="form-actions mt-10" style="display: flex; padding : 30px">
														<div style="flex:1"></div>
														<button class="btn btn-primary btn-anim" data-toggle="modal" data-target="#addTestpaper">
															<i class="fa fa-sign-out"></i>
															<span class="btn-text">시험지 생성</span>
														</button>
													</div>													
													</div>													
												</aside>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Row -->
				</div>
			
			<!-- Footer -->
			<footer class="footer container-fluid pl-30 pr-30">
					<div class="row">
						<div class="col-sm-12">
							<p>Copyright ©2018 Light of Math. All rights reserved.</p>
						</div>
					</div>
					<!-- 사용자 정보 값 -->
					<input type="hidden" id="isadmin" value=<%= user.isadmin%>>
					<input type="hidden" id="userid" value=<%= user.userid%>>
					<input type="hidden" id="userindex" value=<%= user.id%>>
					<input type="hidden" id="username" value=<%= user.name%>>
					<input type="hidden" id="tempindex" value="">
					<!-- <input type="hidden" id="filepath" value=""> -->
				</footer>
				<!-- /Footer -->
			
		</div>
		<!-- /Main Content -->

    </div>
    <!-- /#wrapper -->
	
	<!-- JavaScript -->
	
    <!-- jQuery -->
    <script src="/admin/vendors/bower_components/jquery/dist/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/admin/vendors/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    
	<!-- Data table JavaScript -->
	<script src="/admin/vendors/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
	<!-- <script src="/admin/dist/js/dataTables-data.js"></script> -->
	
	<!-- Slimscroll JavaScript -->
	<script src="/admin/dist/js/jquery.slimscroll.js"></script>
	
	<!-- Owl JavaScript -->
	<script src="/admin/vendors/bower_components/owl.carousel/dist/owl.carousel.min.js"></script>
	
	<!-- Switchery JavaScript -->
	<script src="/admin/vendors/bower_components/switchery/dist/switchery.min.js"></script>
	
	<!-- Fancy Dropdown JS -->
	<script src="/admin/dist/js/dropdown-bootstrap-extended.js"></script>

	<!-- 달력 -->
	<!-- <script src="./jquery-ui-1.12.1/jquery-ui.min.js"></script>
	<script src="./jquery-ui-1.12.1/datepicker-ko.js"></script> -->
	
	<!-- Init JavaScript -->
	<script src="/admin/dist/js/init.js"></script>

	<!-- 달력 -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<!-- <script src="/Scripts/jquery-ui-1.10.0.min.js" type="text/javascript"></script>
	<script src="/Scripts/jquery.ui.datepicker-ko.js" type="text/javascript"></script> -->
	
	<!-- 학급 추가 -->
	<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-1.6.4.min.js"></script> -->
	<script type="text/javascript">
	// 변수
	var url = '/questions/' + $('#selectClassGrade').val() + "/" + $('#selectTextBook').val() + "/" + $('#selectClassUnit').val() + "/" + $('#selectClassType').val() + "/" + $('#selectClassLevel').val();
	console.log(url);
	var table = '';
	var tableOpt = {
		oLanguage : {
			"sProcessing" : "처리중...",
			"sZeroRecords" : "데이터가 없습니다.",
			"sLengthMenu" : "_MENU_ 건 표시",
			"oPaginate" : {
				"sFirst" : "처음",
				"sNext" : "다음",
				"sPrevious" : "이전",
				"sLast" : "끝"
			},
			"sInfo" : "총 _TOTAL_ 건 중, _START_ 건부터 _END_ 건까지 표시",
			"sInfoEmpty" : "0건 중, 0 부터 0까지 표시",
			'sInfoFilterd' : "(총 _MAX_ 건에서 추출)",
			"sSearch" : "검색 : "
		}, 
		processing : true,
		bPaginate : true,  	// 페이징
		iDisplayLength : 10,	// 기본 표시행
		bLengthChange : true,	// 보여주는 건수 선택
		bFilter : true,		// 검색
		bSort : true,			// 소트
		bAutoWidth : true,			
	
		ajax : 
		{
			url : url
		},
		
		columns: [
			{ 
				data: "id",
				render: function (data, type, row) {
					if(type === 'display') {
						return '<input type="checkbox" class="editor-active" value="'+ data +'">';
					}
					return data;
				},
				className: "dt-body-center"
			},
			{ 
				data: "number",
				render: function(data, type, row)
				{
					return '<a style="cursor:pointer" onclick="changeStudentInfo('+row.id+')">'+data+'</a>';
				// <!-- function changeStudentInfo(id, imagename, video, name, writer, number, textbook, multi, level, anser){ -->
				}
			},
			{ 
				data: "unitname",
				render: function(data, type, row)
				{
					return '<a style="cursor:pointer" onclick="changeStudentInfo('+row.id+')">'+data+'</a>';
				}
			},
			{ 
				data: "name",
				render: function(data, type, row)
				{
					return '<a style="cursor:pointer" onclick="changeStudentInfo('+row.id+')">'+data+'</a>';
				}
			},
			{ 
				data: "typename",
				render: function(data, type, row)
				{
					return '<a style="cursor:pointer" onclick="changeStudentInfo('+row.id+')">'+data+'</a>';
				}
			},
			{ 
				data: "level",
				render: function(data, type, row)
				{
					var level = '';
					if(data == '01'){level="하";}
					if(data == '02'){level="중";}
					if(data == '03'){level="중상";}
					if(data == '04'){level="상";}
					if(data == '05'){level="최상";}
					return '<a style="cursor:pointer" onclick="changeStudentInfo('+row.id+')">'+level+'</a>';
				}
			},
			{ 
				data: "anser",
				render: function(data, type, row)
				{
					return '<a style="cursor:pointer" onclick="changeStudentInfo('+row.id+')">'+data+'</a>';
				} 
			},
			{ 
				data: "image",
				render: function(data, type, row)
				{
					return '<a class="btn  btn-primary btn-outline btn-rounded" data-toggle="modal" data-target="#showImgModal" ' + 
							'onclick="changeImg('+ row.id + ', ' + row.textbook + ', \'' + row.number + '\', \'' + row.name +'\')">보 기</a>';
				}
			},
			{
				// data: "id",
				// render: function(data, type, row)
				// {
				// 	return '<a class="btn  btn-primary btn-outline btn-rounded" data-toggle="modal" data-target="#addCommentaryModal" ' + 
				// 			'onclick="changeCommentary('+data+')">보 기</a>';
				// }
				data: "comm",
				render: function(data, type, row)
				{
					return '<a class="btn  btn-primary btn-outline btn-rounded" data-toggle="modal" data-target="#showImgModal" ' + 
							'onclick="changeImg2('+ row.id + ', ' + row.textbook + ', \'' + row.number + '\', \'' + row.name +'\')">보 기</a>';
				}
			},
			{ 
				data: "video",
				render: function(data, type, row)
				{
					// generateBarCode(data);
					// return '<a class="btn  btn-primary btn-outline btn-rounded">보 기</a>';
					return '<a class="btn  btn-primary btn-outline btn-rounded" data-toggle="modal" data-target="#showQRModal" ' + 
							'onclick="changeQR(\''+data+'\', '+row.name+')">보 기</a>';
				}
			}
		],
		select: {
			style: 'os',
			selector: 'td:not(:last-child)'
		},
		order : [[1, 'asc']]
	};

	// QR코드
	function generateBarCode(path)
	{
		console.log("generateBarCode");
		var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + path + '&amp;size=50x50';
		console.log(url);
		return url;
	}

	// 기능
	function addTextbook(){
		if(document.getElementById('inputTextbookName').value && document.getElementById('inputTextbookCode').value)
		{
			var req = new XMLHttpRequest();
			req.open('POST', '/textbooks');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify({
				grade: document.getElementById('selectTextbookGrade').value,
				name: document.getElementById('inputTextbookName').value,
				code: document.getElementById('inputTextbookCode').value,
				mine: document.getElementById('selectTextbookMine').value	
			}));

			req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 201) {
				console.log("addTextbook() : " + req.responseText);
				// readTextbook();
				} else {
				console.log("Error!");
				}
			}
			};
			$('#newCompanyModal').modal('hide');
		}
		else 
		{
			alert("교재 명과 교재 코드를 다시 확인해 주세요.");
		}			
	}

	function editTextbook() {
		if (confirm("교재 명을 수정 하시겠습니까?")) {
			var req = new XMLHttpRequest();
			req.open('PUT', '/textbooks');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
				{
					id: document.getElementById('inputEditId').value,
					name: document.getElementById('inputEditTextbookName').value,
					grade: document.getElementById('selectEditTextbookGrade').value,
					code: document.getElementById('inputEditTextbookCode').value,
					mine: document.getElementById('selectEditTextbookMine').value
				})
			);

			req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if (req.status === 200) {
						// readTextbook();
					}
					else {
						console.log("Error!");
					}
				}
			}
		}
	}

	$('#selectClassGrade').change(function () {
			loadClassList();
	});

	function loadClassList() {
		var req = new XMLHttpRequest();
		req.open('GET', '/studentclass/' + document.getElementById('selectClassGrade').value);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if (req.status === 200) {
					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);

					for (var i = 0; i < jsonResponse.length; i++)
						$('#selectTextbookClass').append("<option value='" + jsonResponse[i].id + "'>" + jsonResponse[i].name + "</option>");

					// studentListLoad()
				}
			}
		};
	}

	function deleteClass(id) {
		if (confirm("교재를 삭제하시겠습니까?")) {
			if (confirm("관련된 문제, 시험지, 자료가 모두 삭제 됩니다.\r삭제 후에는 복원이 불가능 합니다.\r계속 진행하시겠습니까?")) {
				var req = new XMLHttpRequest();
				req.open('DELETE', '/textbooks');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify(
					{
						id: id
					})
				);


				req.onreadystatechange = function (e) {
					if (req.readyState === XMLHttpRequest.DONE) {
						if (req.status === 204) {
							// readTextbook();
						}
						else {
							console.log("Error!");
						}
					}
				}
			}
		};
	}
	
		function readTextbook() {
				var req = new XMLHttpRequest();
				req.open('GET', '/codetextbooks/' + document.getElementById('selectClassGrade').value);
				req.send();

				req.onreadystatechange = function (e) {
					if (req.readyState === XMLHttpRequest.DONE) {
						if (req.status === 200) {
							// 학급 리스트 초기화
							var parent = document.getElementById("textbookList");
							var parentSelect = document.getElementById("SelectTextbook");
							var parentEditSelect = document.getElementById("SelectEditTextbook");
							// parentSelect.options.length = 0;
							// parentEditSelect.options.length = 0;
							//parentSelect.remove();
							while (parent.hasChildNodes()) {
								parent.removeChild(parent.firstChild);
							}

							// 리스트 만들기
							var jsonResponse = JSON.parse(req.responseText);

							// console.log(jsonResponse);
							// console.log(jsonResponse.data[0].sValue);

							// 전체그룹 생성
							// var li = document.createElement("li");
							// li.innerHTML = '<a onclick="addQuest(0)">전 체';
							// document.getElementById('textbookList').appendChild(li);

							for (var i = 0; i < jsonResponse.data.length; i++) {
								// console.log(i);
								// 그룹 리스트
								var li = document.createElement("li");
								li.innerHTML = '<a style="cursor:pointer" onclick="reloadreloadQuest(' + $('#selectClassGrade').val() + ',' + jsonResponse.data[i].id + ')">' +
									jsonResponse.data[i].sValue + ' (' + jsonResponse.data[i].sCode + ')' +
									'<i class="fa fa-pencil-square-o" style="position:relative; left:25px" onclick="changeModalValue(' + jsonResponse.data[i].id + ',\'' + jsonResponse.data[i].sValue + '\',' + jsonResponse.data[i].nGrade + ',\'' + jsonResponse.data[i].sCode + '\',\'' + jsonResponse.data[i].mine + '\')"></i>' +
									'<i class="fa fa fa-minus-square" style="position:relative; left:30px" onclick="deleteClass(' + jsonResponse.data[i].id + ')"></i>' +
									'</a>';
								document.getElementById('textbookList').appendChild(li);
							}
						} else {
							console.log("Error!");
						}
					}
				};
			}

		// 문제 추가
		function addQuest(){
			if( document.getElementById('inputQusetNumber').value &&
				document.getElementById('inputQuestAnser').value &&
				document.getElementById('inputQuestName').value &&
				document.getElementById('fileInput').value			
			)
			{
				var form = $('#fileForm')[0];
				var formData = new FormData(form);
				var now = Date.now()

				var SelectTextbook = document.getElementById("SelectTextBook");			
				var selectClassGrade = document.getElementById("selectNewGradeList");			
				var selectLevel = document.getElementById("SelectQuestLevel");

				var req = new XMLHttpRequest();
				req.open('POST', '/questions');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify({
					grade : selectClassGrade.options[selectClassGrade.selectedIndex].value,
					textbook : SelectTextbook.options[SelectTextbook.selectedIndex].value,
					unitCode : document.getElementById('inputTextbookUnit').value,
					typeCode : document.getElementById('inputQuestionType').value,
					level : selectLevel.options[selectLevel.selectedIndex].value,
					number: document.getElementById('inputQusetNumber').value,
					imagename : document.getElementById('fileInput').value,
					commname : document.getElementById('fileInput2').value,
					video: document.getElementById('inputQuestVideo').value,
					name: document.getElementById('inputQuestName').value,
					anser: document.getElementById('inputQuestAnser').value,
					writer: document.getElementById('userid').value,
					imagesize: $(":input:radio[name=radio]:checked").val(),
					commsize: $(":input:radio[name=radio2]:checked").val()
				}));

				req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						$('#filepath').val(JSON.parse(req.response).image);
						$('#newFileName').val(JSON.parse(req.response).imagename);
						$('#newFileName2').val(JSON.parse(req.response).commname);
						var form = $('#fileForm')[0];
						var formData = new FormData(form);
						// formData.append('imagePath', JSON.parse(req.response).image);

						// document.getElementById('filepath').value = JSON.parse(req.response).image;
						// $('#filepath').val(JSON.parse(req.response).image);
						console.log(JSON.parse(req.response).image);
						console.log($('#fileForm'));
						$.ajax({
							type: 'post',
							url: '/uploads',
							data: formData,
							processData: false,
							contentType: false,
							success: function (data) {
								console.log("Success!!");
								//$('#filepath').val(data);
							},
							error: function (err) {
								console.log(err);
							}
						});

						$('#filepath2').val(JSON.parse(req.response).image);
						var form = $('#fileForm2')[0];
						var formData = new FormData(form);
						// formData.append('imagePath', JSON.parse(req.response).image);

						// document.getElementById('filepath').value = JSON.parse(req.response).image;
						// $('#filepath').val(JSON.parse(req.response).image);
						console.log(JSON.parse(req.response).image);
						console.log($('#fileForm2'));
						$.ajax({
							type: 'post',
							url: '/uploads',
							data: formData,
							processData: false,
							contentType: false,
							success: function (data) {
								console.log("Success!!");
								//$('#filepath').val(data);
							},
							error: function (err) {
								console.log(err);
							}
						});

						reloadQuest(selectClassGrade.options[selectClassGrade.selectedIndex].value, SelectTextbook.options[SelectTextbook.selectedIndex].value);
				
						document.getElementById('inputQusetNumber').value = '';
						// $('#inputQuestAnser').css('display', 'none');
						$('#inputQuestAnser').attr("required", false); 
						document.getElementById('inputQuestAnser').value = '';
						document.getElementById('inputQuestVideo').value = '';
						document.getElementById('inputQuestName').value = '';
					} else {
						alert(req.responseText.console.error());
					}
				}
				$('#myModal').modal('hide');
			}
		}
		else if(document.getElementById("SelectTextbook") === 0)
		{
			alert("교재를 등록 후 사용해 주세요.");
		}
		else
		{
			alert("항목이 전부 입력되지 않았습니다.");
		};
	}

	// 문제 수정
	function editQuest()
	{
		if(confirm("문제를 수정하시겠습니까?"))
		{
			var selectgrade = document.getElementById("selectEditClassGrade");			
			var selectclass = document.getElementById("SelectEditClassList");
			var SelectTextbook = document.getElementById("SelectEditTextbook");	
			var selectLevel = document.getElementById("SelectEditQuestLevel");
			var req = new XMLHttpRequest();
			req.open('PUT', '/questions');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
			{
				textbook : SelectTextbook.options[SelectTextbook.selectedIndex].value,
				grade : selectgrade.options[selectgrade.selectedIndex].value,
				level : selectLevel.options[selectLevel.selectedIndex].value,
				multi: document.getElementById('inputEditQuestMulti').value,
				number: document.getElementById('inputEditQusetNumber').value,
				anser: document.getElementById('inputEditQuestAnser').value,
				video: document.getElementById('inputEditQuestVideo').value,
				name: document.getElementById('inputEditQuestName').value,
				writer: document.getElementById('userid').value,
				id: document.getElementById('tempindex').value
			}
			));

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						console.log("문제 수정 완료.");
					} 
					else 
					{
						console.log("Error!");
					}
				}
				reloadQuest();
			}
		}
		$('#editQuestModal').modal('hide');
	};

	// 문제 삭제
	function deleteQuest()
	{
		if(confirm("문제를 삭제하시겠습니까?"))
		{
			var selectgrade = document.getElementById("selectEditClassGrade");			
			var selectclass = document.getElementById("SelectEditClassList");
			var req = new XMLHttpRequest();
			req.open('DELETE', '/questions');
			req.setRequestHeader('Content-type', 'application/json');
			req.send(JSON.stringify(
			{
				id: document.getElementById('tempindex').value
			}
			));

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 204) 
					{
						alert("문제 삭제 완료.");
						console.log("문제 삭제 완료.");
						reloadQuest();
						$('#editQuestModal').modal('hide');
					} 
					else 
					{
						console.log("Error!");
					}
				}
			}
		}
	};

	// 문제 초기화
	function initOption(){
		var grade = $('#selectClassGrade').val();
		$.get("/codetextbooks/" + grade, function(data){ 
			$('#selectTextBook option').remove();
			$('#selectTextBook').append("<option value='0' selected>전 체</option>");
			for(var i=0; i<data.data.length; i++)
			{
				// console.log("count = " + i);
				$('#selectTextBook').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
			}
			// console.log("SelectTextBook = " + data);
		}, "json");

		$.get("/codeunits/" + grade, function(data){ 
			$('#selectClassUnit option').remove();
			$('#selectClassUnit').append("<option value='0' selected>전 체</option>");
			for(var i=0; i<data.data.length; i++)
			{
				// console.log("count = " + i);
				$('#selectClassUnit').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
			}
			// console.log("inputTextbookUnit = " + data);
		}, "json");

		$.get("/codetypes/" + grade, function(data){ 
			$('#selectClassType option').remove();
			$('#selectClassType').append("<option value='0' selected>전 체</option>");
			for(var i=0; i<data.data.length; i++)
			{
				// console.log("count = " + i);
				$('#selectClassType').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
			}
			// console.log("inputQuestionType = " + data);
		}, "json");

		$('#selectNewGradeList').val(grade);
	}

	// 모달 초기화
	function initModal(){
		var grade = $('#selectNewGradeList').val();
		$.get("/codetextbooks/" + grade, function(data){ 
			$('#SelectTextBook option').remove();
			$('#SelectEditTextBook option').remove();
			for(var i=0; i<data.data.length; i++)
			{
				// console.log("count = " + i);
				$('#SelectTextBook').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
				$('#SelectEditTextBook').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
			}
			// console.log("SelectTextBook = " + data);
		}, "json");

		$.get("/codeunits/" + grade, function(data){ 
			$('#inputTextbookUnit option').remove();
			$('#inputEditTextbookUnit option').remove();
			for(var i=0; i<data.data.length; i++)
			{
				// console.log("count = " + i);
				$('#inputTextbookUnit').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
				$('#inputEditTextbookUnit').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
			}
			// console.log("inputTextbookUnit = " + data);
		}, "json");

		$.get("/codetypes/" + grade, function(data){ 
			$('#inputQuestionType option').remove();
			$('#inputEditQuestionType option').remove();
			for(var i=0; i<data.data.length; i++)
			{
				// console.log("count = " + i);
				$('#inputQuestionType').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
				$('#inputEditQuestionType').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
			}
			// console.log("inputQuestionType = " + data);
		}, "json");
	}

	// $('#myModal').on('show.bs.modal', function(){
	// 	$.get("/codetextbooks/" + $('#selectClassGrade').val(), function(data){ 
	// 		for(var i=0; i<data.data.length; i++)
	// 		{
	// 			console.log("count = " + i);
	// 			$('#SelectTextBook').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
	// 			$('#SelectEditTextBook').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
	// 		}
	// 		console.log("SelectTextBook = " + data);
	// 	}, "json");

	// 	$.get("/codeunits/" + $('#selectClassGrade').val(), function(data){ 
	// 		for(var i=0; i<data.data.length; i++)
	// 		{
	// 			console.log("count = " + i);
	// 			$('#inputTextbookUnit').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
	// 			$('#inputEditTextbookUnit').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
	// 		}
	// 		console.log("inputTextbookUnit = " + data);
	// 	}, "json");

	// 	$.get("/codetypes/" + $('#selectClassGrade').val(), function(data){ 
	// 		for(var i=0; i<data.data.length; i++)
	// 		{
	// 			console.log("count = " + i);
	// 			$('#inputQuestionType').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
	// 			$('#inputEditQuestionType').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
	// 		}
	// 		console.log("inputQuestionType = " + data);
	// 	}, "json");

	// 	// document.getElementById('SelectTextBook').value = id;
	// 	// document.getElementById('inputTextbookUnit').value = id;
	// 	// document.getElementById('inputQuestionType').value = id;
	// })		

	// 문제집 수정 모달 값 입력
	function changeModalValue(id, name, grade, code, mine){
		
		document.getElementById('inputEditId').value = id;
		document.getElementById('inputEditTextbookName').value = name;
		document.getElementById('selectEditTextbookGrade').value = grade;	
		document.getElementById('inputEditTextbookCode').value = code;
		document.getElementById('selectEditTextbookMine').value = mine;		

		$("#editTextbook").modal("show");
	}

	// 학생정보 수정 모달 값 입력
	function changeStudentInfo(id){
		var url = "/questions2/" + id;

		console.log("changeStudentInfo");

		$.get(url, function(jqXHR){
			console.log(jqXHR[0].textbook);
			$('#tempindex').val(id);
			$('#SelectEditTextbook option[value='+jqXHR[0].textbook+']').attr('selected', 'selected');
			$('#inputEditTextbookUnit option[value='+jqXHR[0].unitCode+']').attr('selected', 'selected');
			$('#inputEditQuestionType option[value='+jqXHR[0].typeCode+']').attr('selected', 'selected');
			$('#SelectEditQuestLevel option[value='+jqXHR[0].level+']').attr('selected', 'selected');
			$('#inputEditQusetNumber').val(jqXHR[0].number);
			$('#inputEditQuestAnser').val(jqXHR[0].anser);
			$('#inputEditQuestVideo').val(jqXHR[0].video);
			$('#inputEditQuestName').val(jqXHR[0].name);	
		}, 'json')
		.done(function(jqXHR){
			$("#editQuestModal").modal("show");
		})
		
		
		
		// document.getElementById('tempindex').value = id;	
		// // document.getElementById('fileEditInput').value = imagename;	
		// // $('#fileEditInput').val(imagename);
		// document.getElementById('inputEditQuestVideo').value = video;	
		// document.getElementById('inputEditQuestName').value = name;	
		// document.getElementById('userid').value = writer;	
		// document.getElementById('inputEditQusetNumber').value = number;	
		// document.getElementById('SelectEditTextbook').value = textbook;	
		// document.getElementById('inputEditQuestMulti').value = multi;	
		// document.getElementById('SelectEditQuestLevel').value = level;	
		// document.getElementById('inputEditQuestAnser').value = anser;		

		$("#editQuestModal").modal("show");
	}

	/*
	function readQuest(param=0){
		var req = new XMLHttpRequest();
		var url = '/questions';
		if(param!=0)
		{
			url += '/' + document.getElementById('selectClassGrade').value;
			url += '/' + param;	
		}
		console.log(url);
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 유져 리스트 초기화
					var parent = document.getElementById("questList");
					while(parent.hasChildNodes())
					{
						parent.removeChild(parent.firstChild);
					}


					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<jsonResponse.length; i++){	
						// 그룹 리스트
						var tr = document.createElement("tr");
						var strHtml = "";
						strHtml += "<td>" + jsonResponse[i].grade + "</td>";
						strHtml += "<td>" + jsonResponse[i].classname + "</td>";
						strHtml += "<td>" + jsonResponse[i].name + "</td>";
						strHtml += "<td>" + jsonResponse[i].userid + "</td>";

						tr.innerHTML = strHtml;
						document.getElementById('questList').appendChild(tr);

						// <!-- <tr onclick="location.href='/userinfo'">
						// 	<td>009</td>
						// <td>수학(상)</td>
						// <td>쎈수학 다항식문제1</td>
						// <td>난이도</td>
						// <td>3</td>
						// <td>보기</td>
						// <td>보기</td>
						// </tr> -->
					}
				} else {
				console.log("Error!");
				}
			}
		};	
	}
	*/

	

	function reloadQuest(grade=1, classname=1) {
		// if(grade === 0)
		// 	{
		// 		url = '/questions';
		// 	}
		// else
		// 	{
		// 		url = '/questions/' + grade + '/' + classname;
		// 	}

		var url = '/questions/' + $('#selectClassGrade').val() + "/" + $('#selectTextBook').val() + "/" + $('#selectClassUnit').val() + "/" + $('#selectClassType').val() + "/" + $('#selectClassLevel').val();

		console.log(url);
		// $('#datable_1').DataTable().ajax.url = url;
		// $('#datable_1').DataTable().ajax.reload(null, false);
		// table.ajax.url(url).load(null, false);
		//table.ajax.url() = url;
		table.ajax.url(url).load(null, false);
	}

	// 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
	  };	
	  
	// 관리자 페이지 표시
	function managementViewpage() {

		if(document.getElementById('isadmin').value === 'true')
		{
			$('#manageusers').css('display','');
			$('#manageusersline').css('display','');
			$('#menuTeacher').css('display','');
		}
		else
		{
			$('#manageusers').css('display','none');
			$('#manageusersline').css('display','none');
			$('#menuTeacher').css('display','none');
		}
	}

	// 파일 업로드
	// $('#fileInput').on('change', function () {
	// 	var form = $('#fileForm')[0];
	// 	var formData = new FormData(form);

	// 	$.ajax({
	// 		type: 'post',
	// 		url: '/uploads',
	// 		data: formData,
	// 		processData: false,
	// 		contentType: false,
	// 		success: function (data) {
	// 			console.log("Success!!");
	// 			$('#filepath').val(data);
	// 		},
	// 		error: function (err) {
	// 			console.log(err);
	// 		}
	// 	});
	// });

	// 이미지 보기
	function changeImg(path, textbook, number, name){
		// 주소 변경
		const imgQuest = document.getElementById('showImgSrc');
		imgQuest.src = '/img/' + path;

		// 타이틀 변경
		const imgLabel = document.getElementById('showQuestionLabel');
		imgLabel.innerHTML = '[' + textbook + '/' + number + '] ' + name;
	}

	// 이미지 보기
	function changeImg2(path, textbook, number, name){
		// 주소 변경
		const imgQuest = document.getElementById('showImgSrc');
		imgQuest.src = '/img2/' + path;

		// 타이틀 변경
		const imgLabel = document.getElementById('showQuestionLabel');
		imgLabel.innerHTML = '[' + textbook + '/' + number + '] ' + name;
	}

	// 해설 보기
	function changeCommentary(id){
		$('#idCommentary').val(id);
		var url = '/commentarys/' + id;
		console.log(url);

		$.ajax({
			type: 'GET',
			url: url,
			success: function (data) {
				if(data.data[0].commentary)
				{
					$('#inputCommentary').val('');
					$('#inputCommentary').val(data.data[0].commentary);

					$('#btnDeleteCommentary').show();
					$('#btnEditCommentary').show();
					$('#btnAddCommentary').hide();
				}
				else
				{
					$('#btnDeleteCommentary').hide();
					$('#btnEditCommentary').hide();
					$('#btnAddCommentary').show();
				}				
			}
		})
	}

	// QR 보기
	function changeQR(path, name){
		// 주소 변경
		const imgQRcode = document.getElementById('showQRcodeSrc');
		// imgQRcode.src = generateBarCode(path);
		// console.log(generateBarCode(path));
		imgQRcode.src = generateBarCode(path);
		console.log(path);
		console.log(generateBarCode(path));

		// 타이틀 변경
		const QRLabel = document.getElementById('showQRcodeLabel');
		QRLabel.innerHTML = name;
	}

	// 시험지 생성
	function makeTestPaper() {
		let localTable = table.$(".editor-active:checked", {"page": "all"});
		
		if(localTable.length === 0)
		{
			alert("선택 된 문제가 없습니다.");
			$('#addTestpaper').modal('hide');
		}
		else if(document.getElementById('inputTestpaperName').value)
		{
			
			let data = [30];
			// let total = localTable.length;

			for(i=0; i<30; i++)
			{
				data[i] = localTable[i] || null;
				data[i] = data[i] === null? null : data[i].value;
				console.log(data[i]);
			}

			var req = new XMLHttpRequest();
					req.open('POST', '/testpapers');

					req.setRequestHeader('Content-type', 'application/json');
					req.send(JSON.stringify({
						name: document.getElementById('inputTestpaperName').value,
						grade: document.getElementById('selectTextbookGrade').value,
						classIndex: document.getElementById('selectTextbookClass').value,
						writer: document.getElementById('userid').value,
						startdate: document.getElementById('startDtpicker').value,
						enddate: document.getElementById('endDtpicker').value,
						total: localTable.length,

						questions: data

						// question1 : data[0] === null? null : data[0].value,
						// question2 : data[1] === null? null : data[1].value,
						// question3 : data[2] === null? null : data[2].value,
						// question4 : data[3] === null? null : data[3].value,
						// question5 : data[4] === null? null : data[4].value,
						// question6 : data[5] === null? null : data[5].value,
						// question7 : data[6] === null? null : data[6].value,
						// question8 : data[7] === null? null : data[7].value,
						// question9 : data[8] === null? null : data[8].value,
						// question10 : data[9] === null? null : data[9].value,
						// question11 : data[10] === null? null : data[10].value,
						// question12 : data[11] === null? null : data[11].value,
						// question13 : data[12] === null? null : data[12].value,
						// question14 : data[13] === null? null : data[13].value,
						// question15 : data[14] === null? null : data[14].value,
						// question16 : data[15] === null? null : data[15].value,
						// question17 : data[16] === null? null : data[16].value,
						// question18 : data[17] === null? null : data[17].value,
						// question19 : data[18] === null? null : data[18].value,
						// question20 : data[19] === null? null : data[19].value,
						// question21 : data[20] === null? null : data[20].value,
						// question22 : data[21] === null? null : data[21].value,
						// question23 : data[22] === null? null : data[22].value,
						// question24 : data[23] === null? null : data[23].value,
						// question25 : data[24] === null? null : data[24].value,
						// question26 : data[25] === null? null : data[25].value,
						// question27 : data[26] === null? null : data[26].value,
						// question28 : data[27] === null? null : data[27].value,
						// question29 : data[28] === null? null : data[28].value,
						// question30 : data[29] === null? null : data[29].value
				}));

				req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						console.log("addTestPaper() : " + req.responseText);
						alert("시험지가 생성되었습니다.")
						// readTextbook();
					} else {
						console.log("Error!");
					}
				}
			};
			$('#addTestpaper').modal('hide');
		}
		else{
			alert("시험 명을 입력해 주세요.")
		}
	}

	// 시험지 추가 정답폼 변경
	$('#inputQuestMulti').change(function() { 
		if($('#inputQuestMulti').val() === '객관식')
		{
			$('#inputQuestAnser').css('display', 'none');
			$('#inputQuestAnser').attr("required", false); 
		}
		else
		{
			$('#inputQuestAnser').css('display', '');
			$('#inputQuestAnser').attr("required", true); 
		}
	});

	var dtNow = new Date();
 	$(document).ready(function () {
		managementViewpage();
		// readTextbook();
		loadClassList();
		initOption();
		initModal();
		// readQuest();
		table = $('#datable_1').DataTable(tableOpt);

        // 선택된 값 세팅
        EvtChangeMonthYear(dtNow.getFullYear() , dtNow.getMonth());
    });

    $(function ()
 	{
		const dtpickerOpt = {
            dateFormat: 'yy-mm-dd', // 데이터는 yyyy-MM-dd로 나옴
            closeText: '닫기',
            prevText: '이전달',
            nextText: '다음달',
            currentText: '오늘',
            monthNames: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            monthNamesShort: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
            dayNames: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesShort: ['일', '월', '화', '수', '목', '금', '토'],
            dayNamesMin: ['일', '월', '화', '수', '목', '금', '토'],
            weekHeader: 'Wk',
            firstDay: 0,
            isRTL: false,
            duration: 200,
            showAnim: 'show',
            // maxDate: dtNow,       // 오늘 날자이후 데이터 클릭은 막기위해
            //changeMonth: true,
            //changeYear: true,
            //yearRange: 'c-10:c',
            showMonthAfterYear: true,
            yearSuffix: '년',
            showOtherMonths: true, // 나머지 날짜도 화면에 표시
            selectOtherMonths: true, // 나머지 날짜에도 선택을 하려면 true
            // defaultDate: dtAsk,

            onChangeMonthYear: function (year, month, inst) {
    			// 년 또는 월이 변경시 이벤트 발생
                EvtChangeMonthYear(year, month);
            },

            beforeShow: function (input, inst) {
    			// 일자 선택되기전 이벤트 발생
            },
            onSelect: function (dateText, inst) {
				// 일자 선택된 후 이벤트 발생
            }
        };

		$("#startDtpicker").datepicker(dtpickerOpt);
		$("#endDtpicker").datepicker(dtpickerOpt);
        $.datepicker.setDefaults($.datepicker.regional['ko']);
    });

    


    // 월이나 년이 바뀔때의 이벤트
    function EvtChangeMonthYear(Year, Month) {
        $(".ui-datepicker-current-day").attr("style", "background-color:#ff0000;");  // 선택된 날자에 테두리를 만든다.
		var arrSplit = ($("#startDtpicker").val()).split("-");        // 선택된 날자를 배열로 받음
		var arrSplit2 = ($("#endDtpicker").val()).split("-");        // 선택된 날자를 배열로 받음

  		var vDt = new Date();
        var Day = getStrDay(vDt.getDate());
        var dtMin = new Date(Year, Month - 1, 1);

        dtMin = new Date(Year, Month - 1, 1 - dtMin.getDay());       // 달력의 최초 날자를 구하기 위해
        var strMin = dtMin.getFullYear() + "-" + getStrMonth(dtMin.getMonth() + 1) + "-" + getStrDay(dtMin.getDate());
        var dtMax = new Date(new Date(Year, Month, 1) - 86400000);

        var dtMax = new Date(Year, Month - 1, dtMax.getDate() + 6 - dtMax.getDay()); // 달력의 마지막 날자를 구하기 위해
        var strMax = dtMax.getFullYear() + "-" + getStrMonth(dtMax.getMonth() + 1) + "-" + getStrDay(dtMax.getDate());

//        var strUrl = "/Lab/NDailyCheck/GetDailyMonthsAjx";
//        var vLabNo = "@LabNo";
//        var selCheckGubun = $("#CheckGubunVal").val();

//        $.ajax({
//            type: 'POST',
//            async: true,    //비동기
//            dataType: "json",
//            url: strUrl,
//            data: { LabNo: vLabNo, CheckGubun: selCheckGubun, dtMinDay: strMin, dtMaxDay: strMax },
//            success: function (data) {   // 통신이 성공적으로 이루어졌을 때 이 함수를 타게 된다.
//                MathMonths(data, strMin);
//            },
//            complete: function (data) {   // 통신이 실패했어도 완료가 되었을 때 이 함수를 타게 된다.
//            },
//            error: function (xhr, status, error) {
//                alert("통신에러 → " + xhr.responseText + ":" + error);
//            }
//        });
    }


    function getStrMonth(Month) {
        Month = Month + "";
        if (Month.length == 1) {
            Month = "0" + Month;
        }
        return Month;
    }

    function getStrDay(Day) {
        Day = Day + "";
        if (Day.length == 1) {
            Day = "0" + Day;
        }
        return Day;
	}
	
	$('#selectClassGrade').change(function(){
		initOption();	
		initModal();	
	});

	$('#selectNewGradeList').change(function(){
		initModal();		
	});

	// $('#selectTextbookGrade').change(function(){		
	// 	$.get("/codetextbooks/" + $('#selectTextbookGrade').val(), function(data){ 
	// 		$('#selectTextbookClass option').remove();
	// 		for(var i=0; i<data.data.length; i++)
	// 		{
	// 			// console.log("count = " + i);
	// 			$('#selectTextbookClass').append("<option value='"+data.data[i].id+"'>"+data.data[i].sValue+"</option>");
	// 		}
	// 	}, "json");
	// });

	$('#selectTextbookGrade').change(function(){		
		$.get("/studentclass/" + $('#selectTextbookGrade').val(), function(data){ 
			$('#selectTextbookClass option').remove();
			for(var i=0; i<data.length; i++)
			{
				// console.log("count = " + i);
				$('#selectTextbookClass').append("<option value='"+data[i].id+"'>"+data[i].name+"</option>");
			}
		}, "json");
	});

	// 해설 저장
	function addCommentary() {
	if(confirm("저장 하시겠습니까?"))
		{
			$.ajax({
				type: 'POST',
				url: '/commentarys',
				data: {
					"questionId": $('#idCommentary').val(),
					"content": $('#inputCommentary').val()
				},
				success: function (data) {
					$('#inputCommentary').val('');
					$('#addCommentaryModal').modal('hide');
					$('#idCommentary').val('');
					$('#inputCommentary').val('')
				}
			})
		}
	}

	// 해설 수정
	function editCommentary() {
	if(confirm("저장 하시겠습니까?"))
		{
			$.ajax({
				type: 'POST',
				url: '/commentarys',
				data: {
					"questionId": $('#idCommentary').val(),
					"content": $('#inputCommentary').val()
				},
				success: function (data) {
					$('#inputCommentary').val('');
					$('#addCommentaryModal').modal('hide');
					$('#idCommentary').val('');
					$('#inputCommentary').val('')
				}
			})
		}
	}

	// 해설 삭제
	function deleteCommentary() {
	if(confirm("삭제 하시겠습니까?"))
		{
			$.ajax({
				type: 'DELETE',
				url: '/commentarys',
				data: {
					"questionId": $('#idCommentary').val()
				},
				success: function (data) {
					$('#addCommentaryModal').modal('hide');
					$('#idCommentary').val('');
					$('#inputCommentary').val('')
				}
			})
		}
	}
	
	
	//  이미지 업로드 사이즈 체크
	var reader = new FileReader();
	$('#fileInput').change(function(){
		console.log($(this).val());

		readImage($(this).val());
		
		// loadImageFile($(this).val());

		// Check($(this).val());
		// fileCheck($(this).val());
		// getFileSize($(this).val())
	});

	function readImage(file) {
		var image = new Image();
		file = file.replace("\\fakepath", '');
		console.log(file);

		reader.readAsDataURL(file);
		reader.onload = function(_file) {
			image.src = _file.target.result;
			image.onload = function() {
				var w =  this.width
			}
		}
	}

	

	function Check(obj)
	{
		// 선택파일의 경로를 분리하여 확장자를 구합니다.
		pathpoint = obj.lastIndexOf('.');
		filepoint = obj.substring(pathpoint+1,obj.length);
		filetype = filepoint.toLowerCase();

		// 확장자가 이미지 파일이면 체크를 위해 임시로 로딩합니다.
		if(filetype=='jpg' || filetype=='gif' || filetype=='png' || filetype=='jpeg' || filetype=='bmp')
		{
			F.preview.src = obj; 
		}
	}

	function fileCheck(obj) {
		// 선택파일의 경로를 분리하여 확장자를 구합니다.
		pathpoint = obj.lastIndexOf('.');
		filepoint = obj.substring(pathpoint + 1, obj.length);
		filetype = filepoint.toLowerCase();

		// 확장자가 이미지 파일이면 사이즈를 체크합니다.
		if (filetype == 'jpg' || filetype == 'gif' || filetype == 'png' || filetype == 'jpeg' || filetype == 'bmp') {

			var wwd = 800;  //제한할이미지가로사이즈
			var hhd = 800;  //제한할이미지세로사이즈

			ImageWidth = document.F.preview.width; //이미지의가로사이즈체크 
			ImageHeight = document.F.preview.height; //이미지의세로사이즈체크

			//이미지가로사이즈가지정한사이즈보다클때메세지와함께폼전송을중지합니다.   


			if (ImageWidth < wwd) {
				alert('첨부한 이미지의 가로사이즈는' + ImageWidth + '입니다.\n\n이미지의가로사이즈는' + wwd + '이상이여야합니다.');
				return false;
			}



			//이미지세로사이즈가지정한사이즈보다클때메세지와함께폼전송을중지합니다.
			if (ImageHeight < hhd) {
				alert('첨부한 이미지의 세로사이즈는' + ImageHeight + '입니다.\n\n이미지의세로사이즈는' + hhd + '이상이여야합니다.');
				return false;
			}
		}
		else {
			// 업파일이 이미지확장자가 아닐경우 경고를 줍니다.
			alert('이미지 파일만 업로드 하실수 있습니다.');
			// F.preview.src = '';
			return false;
		}

		// 이미지 확장자이지만 BMP 확장자라면 일단 경고를 준다.
		// 이 부분은 꼭 필요한 부분은 아니지만 제가 운영자라면 bmp 파일은 용량이 크기때문에 웬지.. -_-;


		if (filetype == 'bmp') {
			upload = confirm('BMP 파일은 웹상에서 사용하기엔 적절한 이미지 포맷이 아닙니다.\n그래도 계속 하시겠습니까?');
			if (!upload) return false;
		}
	}

	
	function getFileSize(obj) {
		// var fileObj = document.getElementById("fileInput");
		// fileObj.dynsrc.value = obj.value; 
		var img = new Image();
		img.dynsrc = obj.value;
		// document.getElementById("sizeReport").innerText = fileObj.fileSize;
		console.log(img.dynsrc);
	} 

	function loadImageFile(obj) 
	{
		if (window.FileReader) 
		{
			var ImagePre;
			var ImgReader = new window.FileReader();
			var fileType = /^(?:image\/bmp|image\/gif|image\/jpeg|image\/png|image\/x\-xwindowdump|image\/x\-portable\-bitmap)$/i;

			ImgReader.onload = function (Event) {
				console.log("This!!");
				ImagePre = null;
				ImagePre = new Image();
				ImagePre.src = Event.target.result;
				alert(ImagePre.width + ', ' + ImagePre.height);
			};

			return function () {
				var img = document.getElementById("fileInput").files;
				if (!fileType.test(img[0].type)) {
					alert("이미지 파일을 업로드 하세요");
					return;
				}
				ImgReader.readAsDataURL(img[0]);
				consile.log(img[0]);
			}
		}
		// document.getElementById("imagePreview").src = document.getElementById("image").value;\
		console.log(document.getElementById("image").value);
	};

	</script>
	
</body>

</html>
