<!-- Header 호출 -->
<% include ./common/header-student.ejs %>

<body class="fixed-header horizontal-menu horizontal-app-menu dashboard">
  <!-- START PAGE-CONTAINER -->
  <div class="header p-r-0 bg-primary">
    <div class="header-inner header-md-height">
      <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu text-white" data-toggle="horizontal-menu"></a>
      <div class="">
        <div class="brand inline no-border hidden-xs-down">
          <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_white_2x.png" width="200" height="40">
        </div>
      </div>
      <div class="d-flex align-items-center">
        <!-- START User Info-->
        <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down text-white">
            <span class="semi-bold" style="color: #ffffff">내정보(<%=user.name%>)</span>
          </div>
          <div class="dropdown pull-right">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userProfile">
              <span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
                <img src="assets/img/profiles/avatar.png" alt="" data-src="assets/img/profiles/avatar.png" data-src-retina="assets/img/profiles/avatar_small2x.png" width="32" height="32">
                </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
              <a href="/userinfo" class="dropdown-item"><i class="pg-settings_small"></i>마이페이지</a>
              <a href="/admin-index" class="dropdown-item" id="pageManagement" style="display:none"><i class="pg-outdent"></i>관리자 페이지</a>
              <a href="#" class="clearfix bg-master-lighter dropdown-item">
                <span class="pull-left" onclick="logout()">Logout</span>
                <span class="pull-right"><i class="pg-power"></i></span>
              </a>
            </div>
          </div>
          <!-- END User Info-->           
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
        <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
          <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
          </a>
          <ul>
            <li>
              <a href="/index">홈</a>
            </li>
            <li>
              <a href="/notice"  style="color:black"><span class="title">공지사항</span></a>
            </li>
            <li>
              <a href="/studystatus"><span class="title">학습 기록</span></a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="title">오답 관리</span>
                <span class="arrow"></span>
              </a>
              <ul class="">
                <li class="">
                  <a href="/wronganser"><span class="title">나의 틀린문제</span></a>
                </li>
                <li>
                  <a href="/report"><span class="title">나의 오답노트</span></a>
                </li>
                <li class="">
                  <a href="/wanote"><span class="title">추천 오답노트</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/userinfo"><span class="title">마이페이지</span></a>
            </li>
            <li id="consertingBoard" class=" active">
              <a href="/consulting"><span class="title">상담 게시판</span></a>
            </li>
          </ul>            
        </div>
      </div>
    </div>
  </div>
  <div class="page-container ">
    <!-- START PAGE CONTENT WRAPPER -->
    <div class="page-content-wrapper ">
      <!-- START PAGE CONTENT -->
      <div class="content ">
        <!-- MODAL STICK UP  -->
        <div class="bg-white">
          <div class="container">
            <ol class="breadcrumb breadcrumb-alt">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item">상담 게시판</li>
              <li class="breadcrumb-item active">작 성</li>
            </ol>
          </div>
        </div>
          <!-- START CONTAINER FLUID -->
          <div class="container">
            <div class="col-md-12">
              <div class="panel panel-default card-view">
                <div class="panel-heading">
                  <div class="pull-left" style="width:100%">
                    <input id="inputTitle" style="width:100%" placeholder="제 목">
                  </div>
                  <div class="clearfix"></div>
                </div>

                <div class="panel-wrapper collapse in">
                  <div class="panel-body">
                    <form method="post">
                      <div class="form-group">
                        <textarea id="textareaContent" class="textarea_editor form-control" rows="15" placeholder="상담 내용을 입력하세요. ..."></textarea>
                      </div>
                    </form>
                    <div class="col-md-offset-3 col-md-8" style="text-align: right">
                      <button type="submit" class="btn btn-success  mr-10" onclick="addConsulting()">등 록</button>
                      <button type="button" class="btn btn-default" onclick="location.href='/consulting'">취 소</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START CONTAINER FLUID -->
        <div class=" container   container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </p>
            <div class="clearfix"></div>
            <input type="hidden" id="userid" value="<%= user.userid%>">
            <input type="hidden" id="username" value="<%= user.name%>">
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END OVERLAY -->
    <!-- BEGIN VENDOR JS -->
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap3-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-autonumeric/autoNumeric.js"></script>
    <script type="text/javascript" src="assets/plugins/dropzone/dropzone.min.js"></script>
    <script type="text/javascript" src="assets/plugins/bootstrap-tag/bootstrap-tagsinput.min.js"></script>
    <script type="text/javascript" src="assets/plugins/jquery-inputmask/jquery.inputmask.min.js"></script>
    <script src="assets/plugins/bootstrap-form-wizard/js/jquery.bootstrap.wizard.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="assets/plugins/summernote/js/summernote.min.js" type="text/javascript"></script>
    <script src="assets/plugins/moment/moment.min.js"></script>
    <script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="assets/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="assets/plugins/bootstrap-typehead/typeahead.bundle.min.js"></script>
    <script src="assets/plugins/bootstrap-typehead/typeahead.jquery.min.js"></script>
    <script src="assets/plugins/handlebars/handlebars-v4.0.5.js"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/form_elements.js" type="text/javascript"></script>
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->

    <script  language="javascript" type="text/javascript">
    function addConsulting()
		{
      var check = confirm("상담내용을 등록하시겠습니까?");
      var contentBody = $('#textareaContent').val();
      contentBody = contentBody.replace(/<br>/g, '\n');
      console.log(contentBody);
			if(check)
			{        
				var req = new XMLHttpRequest();
				req.open('POST', '/consultings');
				req.setRequestHeader('Content-type', 'application/json');
				req.send(JSON.stringify(
					{
            title : $('#inputTitle').val(),
            content: contentBody,
            writer: $('#userid').val(),
            writername: $('#username').val()
					})
				);
          
        console.log($('#username').val());
        
				req.onreadystatechange = function (e) 
        {
          if (req.readyState === 4) 
          {
            console.log("OK");
            if(req.status === 200) 
            {
              location.href="/consulting";
              // console.log("addNotice() : " + req.responseText);
            } 
            else 
            {
              console.log("Error!");
            }
          }
        }
      };
    }
      
    </script>
  </body>
</html>