<!-- Header 호출 -->
<% include ./common/header-student.ejs %>

  <body class="fixed-header horizontal-menu horizontal-app-menu dashboard">
    <!-- START PAGE-CONTAINER -->
    <div class="header p-r-0 bg-primary">
      <div class="header-inner header-md-height">
        <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu text-white" data-toggle="horizontal-menu"></a>
        <div class="">
          <div class="brand inline no-border hidden-xs-down">
            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_white_2x.png" width="200" height="40">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <!-- START User Info-->
          <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down text-white">
            <span class="semi-bold" style="color: #ffffff">내정보(<%=user.name%>)</span>
          </div>
          <div class="dropdown pull-right">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userProfile">
              <span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
                <img src="assets/img/profiles/avatar.png" alt="" data-src="assets/img/profiles/avatar.png" data-src-retina="assets/img/profiles/avatar_small2x.png" width="32" height="32">
                </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
              <a href="/userinfo" class="dropdown-item"><i class="pg-settings_small"></i>마이페이지</a>
              <a href="/admin-index" class="dropdown-item" id="pageManagement" style="display:none"><i class="pg-outdent"></i>관리자 페이지</a>
              <a href="#" class="clearfix bg-master-lighter dropdown-item">
                <span class="pull-left" onclick="logout()">Logout</span>
                <span class="pull-right"><i class="pg-power"></i></span>
              </a>
            </div>
          </div>
          <!-- END User Info-->          
        </div>
      </div>
      <div class="bg-white">
        <div class="container">
          <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
            <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
            </a>
            <ul>
              <li class=" active">
                <a href="/index" style="color:black">홈</a>
              </li>
              <li>
                <a href="/notice"><span class="title">공지사항</span></a>
              </li>
              <li>
                <a href="/studystatus"><span class="title">학습 기록</span></a>
              </li>
              <li>
                <a href="javascript:;">
                  <span class="title">오답 관리</span>
                  <span class="arrow"></span>
                </a>
                <ul class="">
                  <li class="">
                    <a href="/wronganser"><span class="title">나의 틀린문제</span></a>
                  </li>
                  <li>
                    <a href="/report"><span class="title">나의 오답노트</span></a>
                  </li>
                  <li class="">
                    <a href="/wanote"><span class="title">추천 오답노트</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/userinfo"><span class="title">마이페이지</span></a>
              </li>
              <li id="consertingBoard">
                <a href="/consulting"><span class="title">상담 게시판</span></a>
              </li>
            </ul>            
          </div>
        </div>
      </div>
    </div>
    <div class="page-container ">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content sm-gutter">
          <!-- START BREADCRUMBS -->
          <div class="bg-white">
            <div class="container">
              <ol class="breadcrumb breadcrumb-alt">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">대시보드</li>
              </ol>
            </div>
          </div>
          <!-- END BREADCRUMBS -->
          <!-- START CONTAINER FLUID -->
          <div class="container sm-padding-10 p-t-20 p-l-0 p-r-0">
            <!-- START ROW -->
            <div class="row">
              <div class="col-lg-3 col-sm-6 d-flex flex-column">
                <!-- START WIDGET widget_map_sales-->
                <!-- START ITEM -->
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                      <div class="panel-body sm-data-box-1">
                        <span class="uppercase-font weight-500 font-14 block text-center txt-dark">시험 응시률</span>	
                        <div class="cus-sat-stat weight-500 txt-primary text-center mt-5">
                          <span class="counter-anim">93.13</span><span>%</span>
                        </div>
                        <div class="progress-anim mt-20">
                          <div class="progress">
                            <div class="progress-bar progress-bar-primary wow animated progress-animated" role="progressbar" aria-valuenow="93.12" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <ul class="flex-stat mt-5">
                          <li>
                            <span class="block">이전 응시률</span>
                            <span class="block txt-dark weight-500 font-15">79%</span>
                          </li>
                          <li>
                            <span class="block">학생 수</span>
                            <span class="block txt-dark weight-500 font-15">65명</span>
                          </li>
                          <li>
                            <span class="block">추 세</span>
                            <span class="block">
                              <i class="zmdi zmdi-trending-up txt-success font-20"></i>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
                <div class="panel panel-default card-view">
                    <div class="panel-wrapper collapse in">
                      <div class="panel-body sm-data-box-1">
                        <span class="uppercase-font weight-500 font-14 block text-center txt-dark">시험 오답률</span>	
                        <div class="cus-sat-stat weight-500 txt-primary text-center mt-5">
                          <span class="counter-anim">13</span><span>%</span>
                        </div>
                        <div class="progress-anim mt-20">
                          <div class="progress">
                            <div class="progress-bar progress-bar-primary wow animated progress-animated" role="progressbar" aria-valuenow="93.12" aria-valuemin="0" aria-valuemax="100"></div>
                          </div>
                        </div>
                        <ul class="flex-stat mt-5">
                          <li>
                            <span class="block">이전 오답률</span>
                            <span class="block txt-dark weight-500 font-15">17%</span>
                          </li>
                          <li>
                            <span class="block">학생 수</span>
                            <span class="block txt-dark weight-500 font-15">65명</span>
                          </li>
                          <li>
                            <span class="block">추 세</span>
                            <span class="block">
                              <i class="zmdi zmdi-trending-up txt-success font-20"></i>
                            </span>
                          </li>
                        </ul>
                      </div>
                    </div>
                </div>
                <!-- END ITEM -->
                <!-- END WIDGET -->
                <div>
                  
                </div>
              </div>
              <!-- Footer -->
			<!-- <footer class="footer container-fluid pl-30 pr-30">
          <div class="row">
            <div class="col-sm-12">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </div>
          </div> -->
          <!-- 사용자 정보 값 -->
          <input type="hidden" id="isadmin" value=<%= user.admin%>>
          <input type="hidden" id="isparent" value=<%= user.isparent%>>
          <input type="hidden" id="userid" value=<%= user.userid%>>
          <input type="hidden" id="userindex" value=<%= user.id%>>
          <input type="hidden" id="username" value=<%= user.name%>>
        </footer>
        <!-- /Footer -->
    </div>
    
    <!-- END OVERLAY -->
    <!-- BEGIN VENDOR JS -->
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/lib/d3.v3.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/nv.d3.min.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/utils.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/tooltip.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/interactiveLayer.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/axis.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/line.js" type="text/javascript"></script>
    <script src="assets/plugins/nvd3/src/models/lineWithFocusChart.js" type="text/javascript"></script>
    <script src="assets/plugins/mapplic/js/hammer.js"></script>
    <script src="assets/plugins/mapplic/js/jquery.mousewheel.js"></script>
    <script src="assets/plugins/mapplic/js/mapplic.js"></script>
    <script src="assets/plugins/rickshaw/rickshaw.min.js"></script>
    <script src="assets/plugins/jquery-metrojs/MetroJs.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="assets/plugins/skycons/skycons.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="assets/plugins/moment/moment.min.js"></script>
    <script src="assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/dashboard.js" type="text/javascript"></script>
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->

    <!-- Custom Script -->
    <script type="text/javascript">
    
    // 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
      };	

      // 관리자 페이지 표시
	function managementViewpage() {
		const manageUsers = document.getElementById('pageManagement');
		// const manageUserLine = document.getElementById('manageusersline');

		if(document.getElementById('isadmin') == true)
		{
			manageUsers.style.display = 'block';
			// manageUserLine.style.display = 'block';
		}
		else
		{
			manageUsers.style.display = 'none';
			// manageUserLine.style.display = 'none';
    }
    
    if($('#isparent').val() == 'true')
    {
      console.log("is parent!!")
      $('#consertingBoard').show();
    }
    else
    {
      console.log("is not parent!!")
      $('#consertingBoard').hide();
    }
	}

	$(document).ready(function() {
		managementViewpage();
	});
    </script>

    
  </body>
</html>