<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/front/assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/front/assets/vendors/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/front/assets/css/animate.css"/>
    <link rel="stylesheet" type="text/css" href="/front/assets/css/owl.carousel.css"/>
    <link rel="stylesheet" type="text/css" href="/front/assets/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="/front/assets/css/jquery.mmenu.all.css"/>
    <link rel="stylesheet" type="text/css" href="/front/assets/vendors/fancybox/source/jquery.fancybox.css"/>
    <link rel="stylesheet" href="/front/assets/vendors/fancybox/source/helpers/jquery.fancybox-buttons.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/front/assets/vendors/fancybox/source/helpers/jquery.fancybox-thumbs.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/front/assets/vendors/scrollbar/jquery.scrollbar.css"/>
    <link rel="stylesheet" type="text/css" href="/front/style.css"/>
    <title>수학의 빛 학원 (Light of Math)</title>
</head>
<body id="top" data-spy="scroll" data-target="#myScrollspy" data-offset="20">
<header class="header">
    <div class="main-header header-fixed">
        <div class="container-outer">
            <div class="row">
                <div class="col-lg-2 col-sm-3 col-xs-6 header-logo">
                    <div class="logo">
                        <a href="#">
                            <img class="img-responsive" src="/front/assets/images/logo-dark.png" alt="수학의빛 로고"/>
                        </a>
                    </div><!--end logo-->
                </div>
                <div class="col-lg-10 col-sm-9 col-xs-6 header-nav">
                    <!-- Button Menu Mobile -->
                    <a href="#primary-navigation" class="mobile-navigation">
                        <span class="button-icon">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </span>
                    </a>
                    <!-- End Button Menu Mobile -->
                    <!-- Main Nav Menu -->
                    <nav id="primary-navigation" class="site-navigation">
                        <div id="myScrollspy" class="main-menu">
                            <ul class="nav menu-nav">
                                <li class="menu-item ">
                                    <a href="#home">Home</a>

                                </li>
                                <li class="menu-item">
                                    <a href="#about">학원소개</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#team">선생님</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#mathclass">수업정보</a>
                                </li>
       
                                <li class="menu-item ">
                                    <a href="#blog">학원소식</a>
                  
                                </li>
                                <li class="menu-item"><a href="/login">로그인</a></li>
                            </ul>
                        </div>
                    </nav>
                    <!-- End Main Nav Menu -->
                </div>
            </div>
        </div>
    </div>
    <div id="home" class="header-banner">
        <div class="banner-video">
            <video loop="" muted="" autoplay="">
                <source src="https://player.vimeo.com/external/185782885.hd.mp4?s=d7e2cd838e7da9017ff2d5fb5f83be3792232800&amp;profile_id=119" type="video/mp4">
                Your browser does not support HTML5 video.
            </video>
            <div class="banner-content">
                <div class="container">
                    <a class="fancybox-button btn-video" href="https://www.youtube.com/watch?v=F5Eyd_2JMa0"></a>

                    <h3 class="smtitle-banner">희망대학,<span>희망성적으로 </span>보장하는</h3>
                    <h1 class="title-banner">수학의빛 학원</h1>
                </div>
            </div>
        </div>
    </div>
</header>
<div id="about" class="custom-css-01">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-title">
                    01<span>학원소개</span>
                </h2>
                <div class="block-content text-center custom-css-02">
                    <h3 class="block-title">
                        수학의 빛 학원은 학부모님께<br/>
                        세가지 약속을 드립니다.
                    </h3>
                    <div class="block-text">
                        1. 수학의 빛 수업과 관리는 타학원과 다릅니다.<br>
                        2. 인격완성과 성적향상으로 보답해드립니다.<br>
                        3. 희망대학, 희망점수를 보장하는 학원=수학의 빛
                    </div>
                </div>
                <div class="single-image text-center">
                    <img src="/front/assets/images/logo-1.png" alt="parallax-about">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="custom-css-03">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="lexio-counter">
                    <div class="counter-up">
                        <span class="counter">200</span><span class="sup-plus">+</span>
                    </div>
                    <h4 class="counter-title">현재 학원 인원수</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="lexio-counter">
                    <div class="counter-up">
                        <span class="counter">8</span><span class="sup-plus">+</span>
                    </div>
                    <h4 class="counter-title">수학교육과목</h4>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="lexio-counter">
                    <div class="counter-up">
                        <span class="counter">8</span>
                    </div>
                    <h4 class="counter-title">선생님</h4>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="team" class="custom-css-04">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="section-title custom-css-05">
                    02<span>선생님</span>
                </h2>
                <div class="lexio-team">
                    <div class="slide-owl-carousel" data-loop="yes" data-number="3" data-navcontrol="no" data-dots="yes"
                         data-margin="30">
                        <div class="team-item">
                            <div class="team-image">
                                <img src="/front/assets/images/park1.jpg" alt="박광희">
                      
                            </div>
                            <div class="team-info">
                                <h4 class="team-name">박광희</h4>
                                <span class="team-position">선생님</span>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-image">
                                <img src="/front/assets/images/jean.jpg" alt="전철환">
       
                            </div>
                            <div class="team-info">
                                <h4 class="team-name">전철환</h4>
                                <span class="team-position">선생님</span>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-image">
                                <img src="/front/assets/images/kimgp.jpg" alt="김근표">
     
                            </div>
                            <div class="team-info">
                                <h4 class="team-name">김근표</h4>
                                <span class="team-position">선생님</span>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-image">
                                <img src="/front/assets/images/kimhj.jpg" alt="김혜진">
    
                            </div>
                            <div class="team-info">
                                <h4 class="team-name">김혜진</h4>
                                <span class="team-position">선생님</span>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-image">
                                <img src="/front/assets/images/joo.jpg" alt="주형문">

                            </div>
                            <div class="team-info">
                                <h4 class="team-name">주형문</h4>
                                <span class="team-position">선생님</span>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-image">
                                <img src="/front/assets/images/im.jpg" alt="임재익">
  
                            </div>
                            <div class="team-info">
                                <h4 class="team-name">임재익</h4>
                                <span class="team-position">선생님</span>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-image">
                                <img src="/front/assets/images/no.jpg" alt="노윤주">
  
                            </div>
                            <div class="team-info">
                                <h4 class="team-name">노윤주</h4>
                                <span class="team-position">선생님</span>
                            </div>
                        </div>
                        <div class="team-item">
                            <div class="team-image">
                                <img src="/front/assets/images/shin.jpg" alt="신애리">
 
                            </div>
                            <div class="team-info">
                                <h4 class="team-name">신애리</h4>
                                <span class="team-position">선생님</span>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="padding-0 col-sm-12">
                <div class="lexio-video">
                    <div class="video-content">
                        <a class="btn-video fancybox-button" href="https://www.youtube.com/watch?v=F5Eyd_2JMa0"
                           title="수학의빛 소개영상"></a>
                        <h3 class="video-title">인격완성과 성적향상으로 보답하겠습니다.</h3>
                        <span class="video-smtitle">수학의빛 학원 일동</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="mathclass" class="custom-css-06">
    <div class="container">
        <div class="row" id="classInfo">
            <h2 class="section-title custom-css-11">
                03<span>수업정보</span>
            </h2>

            <!-- <div class="col-sm-4 custom-css-09">
                <div class="lexio-about">
                    <h4 class="about-title"><span class="about-number">1</span><span class="about-text">고1 수학</span>
                    </h4>
                    <div class="about-content">Dramatically embrace market-driven benefits whereas cross-media
                        expertise.
                        Conveniently iterate premium process improvements and enterprise-wide architectures.
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-sm-4 custom-css-09">
                <div class="lexio-about">
                    <h4 class="about-title"><span class="about-number">2</span><span
                            class="about-text">고2 수학</span></h4>
                    <div class="about-content">Dramatically embrace market-driven benefits whereas cross-media
                        expertise.
                        Conveniently iterate premium process improvements and enterprise-wide architectures.
                    </div>
                </div>
            </div>
            <div class="col-sm-4 custom-css-09">
                <div class="lexio-about">
                    <h4 class="about-title"><span class="about-number">3</span><span class="about-text">고3 수학</span>
                    </h4>
                    <div class="about-content">Dramatically embrace market-driven benefits whereas cross-media
                        expertise.
                        Conveniently iterate premium process improvements and enterprise-wide architectures.
                    </div>
                </div>
            </div>
            <div class="col-sm-4 custom-css-09">
                <div class="lexio-about">
                    <h4 class="about-title"><span class="about-number">4</span><span class="about-text">수리 논술</span>
                    </h4>
                    <div class="about-content">Dramatically embrace market-driven benefits whereas cross-media
                        expertise.
                        Conveniently iterate premium process improvements and enterprise-wide architectures.
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-sm-4 custom-css-09">
                <div class="lexio-about">
                    <h4 class="about-title"><span class="about-number">5</span><span
                            class="about-text">고2 수학</span></h4>
                    <div class="about-content">Dramatically embrace market-driven benefits whereas cross-media
                        expertise.
                        Conveniently iterate premium process improvements and enterprise-wide architectures.
                    </div>
                </div>
            </div> -->
            <!-- <div class="col-sm-4 custom-css-09">
                <div class="lexio-about">
                    <h4 class="about-title"><span class="about-number">6</span><span class="about-text">고3 수학</span>
                    </h4>
                    <div class="about-content">Dramatically embrace market-driven benefits whereas cross-media
                        expertise.
                        Conveniently iterate premium process improvements and enterprise-wide architectures.
                    </div>
                </div>
            </div>         -->
        </div>
    </div>
</div>

<div id="blog" class="custom-css-13">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class=" section-title custom-css-14">
                    04<span>학원소식</span>
                </h2>
                <div class="lexio-blog">
                    <div class="slide-owl-carousel" data-loop="yes" data-number="3" data-navcontrol="no" data-dots="yes"
                         data-margin="30" id="classNotice">
                        <!-- <div class="blog-item">
                            <div class="post-info">
                                <span class="post-date">2018-03-01</span>
                                <h4 class="post-title"><a href="#">Packaging Design for Avanaa by Caserne</a></h4>
                                <div class="post-content">Conveniently iterate premium process improvements and
                                    enterprise-wide architectures...
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="blog-item">
                            <div class="post-info">
                                <span class="post-date">2018-03-01</span>
                                <h4 class="post-title"><a href="#">Packaging Design for Avanaa by Caserne</a></h4>
                                <div class="post-content">Conveniently iterate premium process improvements and
                                    enterprise-wide architectures...
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="blog-item">
                            <div class="post-info">
                                <span class="post-date">2018-03-02</span>
                                <h4 class="post-title"><a href="#">Packaging Design for Avanaa by Caserne</a></h4>
                                <div class="post-content">Conveniently iterate premium process improvements and
                                    enterprise-wide architectures...
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="blog-item">

                            <div class="post-info">
                                <span class="post-date">2018-03-02 </span>
                                <h4 class="post-title"><a href="#">Packaging Design for Avanaa by Caserne</a></h4>
                                <div class="post-content">Conveniently iterate premium process improvements and
                                    enterprise-wide architectures...
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="blog-item">

                            <div class="post-info">
                                <span class="post-date">2018-03-02</span>
                                <h4 class="post-title"><a href="#">Packaging Design for Avanaa by Caserne</a></h4>
                                <div class="post-content">Conveniently iterate premium process improvements and
                                    enterprise-wide architectures...
                                </div>
                            </div>
                        </div> -->
                        <!-- <div class="blog-item">

                            <div class="post-info">
                                <span class="post-date">2018-03-03 </span>
                                <h4 class="post-title"><a href="#">Packaging Design for Avanaa by Caserne</a></h4>
                                <div class="post-content">Conveniently iterate premium process improvements and
                                    enterprise-wide architectures...
                                </div>
                            </div>
                        </div> -->


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="custom-css-16">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="section-title custom-css-17">
                    05<span>학원생 인터뷰</span>
                </h2>
                <div class="lexio-testimonial">
                    <div class="slide-owl-carousel" data-loop="yes" data-number="1" data-navcontrol="no" data-dots="yes"
                         data-margin="30">
                        <div class="testimonial-item">
                            <div class="testimonial-avatar">
                                <iframe 
                                    type="text/html" 
                                    allowtransparency="true" 
                                    frameborder="0" 
                                    width="640" height="480" 
                                    src="http://www.youtube.com/embed/ORervx42zSY?controls=2&amp;rel=0&amp;disablekb=1&amp;modestbranding=1&amp;showinfo=0&amp;autohide=2">
                                </iframe>
                                <h5 class="testimonial-author">고1 강현준</h5>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-avatar">
                                <iframe 
                                    type="text/html" 
                                    allowtransparency="true" 
                                    frameborder="0" 
                                    width="640" height="480" 
                                    src="http://www.youtube.com/embed/Y4tBQDVuHeQ?controls=2&amp;rel=0&amp;disablekb=1&amp;modestbranding=1&amp;showinfo=0&amp;autohide=2">
                                </iframe>
                                <h5 class="testimonial-author">고2 최혜영</h5>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-avatar">
                                <iframe 
                                    type="text/html" 
                                    allowtransparency="true" 
                                    frameborder="0" 
                                    width="640" height="480" 
                                    src="http://www.youtube.com/embed/BDSgYvUfJLE?controls=2&amp;rel=0&amp;disablekb=1&amp;modestbranding=1&amp;showinfo=0&amp;autohide=2">
                                </iframe>
                                <h5 class="testimonial-author">고2 류정민</h5>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-avatar">
                                <iframe 
                                    type="text/html" 
                                    allowtransparency="true" 
                                    frameborder="0" 
                                    width="640" height="480" 
                                    src="http://www.youtube.com/embed/B9e0JiIjT4Y?controls=2&amp;rel=0&amp;disablekb=1&amp;modestbranding=1&amp;showinfo=0&amp;autohide=2">
                                </iframe>
                                <h5 class="testimonial-author">고2 김연희</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <a class="backtotop" href="#top">위로<br>가기</a>
                <div class="lexio-blog">
                    수학의빛 학원<br>
                    문의전화: <a href="tel:031-712-3446">031-712-3446</a><br>
                    문의메일: <a href="mailto:malcomx009@naver.com">malcomx009@naver.com</a><br>
                    주소: 경기도 성남시 분당구 정자일로 240, 월드프라자 7층 
                </div>
                <div class="copyright">Copyright &copy;2018 Light of Math. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer><!-- .footer -->
<script type="text/javascript" src="/front/assets/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/front/assets/vendors/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/front/assets/js/owl.carousel.js"></script>
<script type="text/javascript" src="/front/assets/js/waypoints.min.js"></script>
<script type="text/javascript" src="/front/assets/js/wow.min.js"></script>
<script type="text/javascript" src="/front/assets/js/jquery.counterup.min.js"></script>
<script type="text/javascript" src="/front/assets/js/isotope.min.js"></script>
<script type="text/javascript" src="/front/assets/js/jquery.mmenu.all.min.js"></script>
<script type="text/javascript" src="/front/assets/vendors/fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/front/assets/vendors/fancybox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="/front/assets/vendors/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
<script type="text/javascript" src="/front/assets/vendors/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>
<script type="text/javascript" src="/front/assets/vendors/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script type="text/javascript" src="/front/assets/js/jquery.sticky.min.js"></script>
<script type="text/javascript" src="/front/assets/vendors/scrollbar/jquery.scrollbar.js"></script>
<script type="text/javascript" src="/front/assets/js/TweenLite.min.js"></script>
<script type="text/javascript" src="/front/assets/js/EasePack.min.js"></script>
<script type="text/javascript" src="/front/assets/js/banner.js"></script>
<script type="text/javascript" src="/front/assets/js/function.js"></script>

<!-- Time Func -->
<script src="/admin/dist/js/moment/min/moment.min.js"></script>

<script>
    $(document).ready(function() 
    {
		// 수업 정보
        $.ajax(
        {
            type : 'GET',
            url : "/studentclass",
            success : function(data)
            {
                for(var i=0; i<data.length; i++)
                {
                    let div = document.createElement("div");
                    div.setAttribute("class", "col-sm-4 custom-css-09");
                    let strHtml = '';
                    // strHtml += '<div class="col-sm-4 custom-css-09"> ';
                    strHtml += '    <div class="lexio-about"> ';
                    strHtml += '        <h4 class="about-title"><span class="about-number">'+(i+1)+'</span><span class="about-text">'+data[i].name+'</span> ';
                    strHtml += '        </h4> ';
                    strHtml += '        <div class="about-content">';
                    // strHtml +=          data[i].explanation;
                    strHtml +=              data[i].explanation.substring(0, 20) + '<br>';
                    strHtml +=              data[i].explanation.substring(21, 40) + '<br>';
                    strHtml +=              data[i].explanation.substring(41, 50) + '<br>';
                    if(data[i].explanation.substring(51, 60) > 0)
                    {
                        strHtml += '......';
                    }
                    strHtml += '        </div> ';
                    strHtml += '    </div> ';
                    // strHtml += '</div> ';

                    div.innerHTML = strHtml;
                    document.getElementById('classInfo').appendChild(div);
                }
            }
        });

        // 학원 소식
        $.ajax({
            type : 'GET',
            url : "/notices",
            success : function(data){
                // document.getElementById('classInfo').empty();
                for(var i=0; i<data.data.length; i++)
                {
                    let div = document.createElement("div");
                    div.setAttribute("class", "owl-item cloned");
                    div.setAttribute("style", "width: 360px; margin-right: 30px;");
                    let strHtml = '';
                    strHtml += '<div class="blog-item"> ';
                    strHtml += '    <div class="post-info"> ';
                    strHtml += '        <span class="post-date">'+(moment(data.data[i].createdAt).format("YYYY-MM-DD"))+'</span> ';
                    strHtml += '        <h4 class="post-title"><a href="#">'+data.data[i].title+'</a></h4> ';
                    strHtml += '        <div class="post-content"> ';
                    strHtml +=              data.data[i].content.substring(0, 20) + '<br>';
                    strHtml +=              data.data[i].content.substring(21, 40) + '......';
                    strHtml += '        </div> ';
                    strHtml += '    </div> ';
                    // strHtml += '</div> ';

                    console.log(data.data[i]);

                    div.innerHTML = strHtml;
                    // document.getElementById('classNotice').appendChild(div);
                    // document.getElementById('classNotice').appendChild(div);
                    $('.owl-stage').append(div);
                }
            }

            // <div class="blog-item">
            //     <div class="post-info">
            //         <span class="post-date">2018-03-02</span>
            //         <h4 class="post-title"><a href="#">Packaging Design for Avanaa by Caserne</a></h4>
            //         <div class="post-content">Conveniently iterate premium process improvements and
            //             enterprise-wide architectures...
            //         </div>
            //     </div>
            // </div>
        });
    });
</script>
</body>
</html>