<!DOCTYPE html>
<html dir="ltr" lang="ko">
<head>

<!-- Meta Tags -->
<meta name="viewport" content="width=device-width,initial-scale=1.0"/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="분당 수학의빛 수학문제은행" />
<meta name="keywords" content="분당, 학원, 수학학원, 수학, 문제은행, 교육" />
<meta name="author" content="MJ Kim by VOiDLINK" />

<!-- Page Title -->
<title>분당 수학의빛 수학문제은행</title>

<!-- Favicon and Touch Icons -->
<link href="/front/images/favicon.png" rel="shortcut icon" type="image/png">
<link href="/front/images/apple-touch-icon.png" rel="apple-touch-icon">
<link href="/front/images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
<link href="/front/images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
<link href="/front/images/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">

<!-- Stylesheet -->
<link href="/front/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/front/css/jquery-ui.min.css" rel="stylesheet" type="text/css">
<link href="/front/css/animate.css" rel="stylesheet" type="text/css">
<link href="/front/css/css-plugin-collections.css" rel="stylesheet"/>
<!-- CSS | menuzord megamenu skins -->
<link id="menuzord-menu-skins" href="/front/css/menuzord-skins/menuzord-rounded-boxed.css" rel="stylesheet"/>
<!-- CSS | Main style file -->
<link href="/front/css/style-main.css" rel="stylesheet" type="text/css">
<!-- CSS | Preloader Styles -->
<link href="/front/css/preloader.css" rel="stylesheet" type="text/css">
<!-- CSS | Custom Margin Padding Collection -->
<link href="/front/css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css">
<!-- CSS | Responsive media queries -->
<link href="/front/css/responsive.css" rel="stylesheet" type="text/css">
<!-- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
<!-- <link href="css/style.css" rel="stylesheet" type="text/css"> -->

<!-- CSS | Theme Color -->
<link href="/front/css/colors/theme-skin-color-set-1.css" rel="stylesheet" type="text/css">

<!-- external javascripts -->
<script src="/front/js/jquery-2.2.4.min.js"></script>
<script src="/front/js/jquery-ui.min.js"></script>
<script src="/front/js/bootstrap.min.js"></script>
<!-- JS | jquery plugin collection for this theme -->
<script src="/front/js/jquery-plugin-collection.js"></script>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body class="">
<div id="wrapper" class="clearfix">
  <!-- preloader -->
  <div id="preloader">
    <div id="spinner">
      <div class="preloader-dot-loading">
        <div class="cssload-loading"><i></i><i></i><i></i><i></i></div>
      </div>
    </div>
    <div id="disable-preloader" class="btn btn-default btn-sm">Disable Preloader</div>
  </div> 
  
  <!-- Header -->
  <header id="header" class="header">
    <div class="header-top bg-theme-color-2 sm-text-center p-0">

    </div>
    <div class="header-middle p-0 bg-lightest xs-text-center">
      <div class="container pt-0 pb-0">
        <div class="row">
          <div class="col-xs-12 col-sm-4 col-md-5">
            <div class="widget no-border m-0">
              <a class="menuzord-brand pull-left flip xs-pull-center mb-15" href="javascript:void(0)"><img src="/front/images/logo-wide.png" alt=""></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
              <ul class="list-inline">
                <li><i class="fa fa-phone-square text-theme-colored font-36 mt-5 sm-display-block"></i></li>
                <li>
                  <a href="#" class="font-12 text-gray text-uppercase">상담전화</a>
                  <h5 class="font-14 m-0"> 031-712-3446</h5>
                </li>
              </ul>
            </div>
          </div>  
          <div class="col-xs-12 col-sm-4 col-md-3">
            <div class="widget no-border pull-right sm-pull-none sm-text-center mt-10 mb-10 m-0">
              <ul class="list-inline">
                <li><i class="fa fa-clock-o text-theme-colored font-36 mt-5 sm-display-block"></i></li>
                <li>
                  <a href="#" class="font-12 text-gray text-uppercase">학원운영시간</a>
                  <h5 class="font-13 text-black m-0"> 평일 2:00-10:00</h5>
                  <h5 class="font-13 text-black m-0"> 주말 10:00-저녁9:00</h5>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="header-nav">
      <div class="header-nav-wrapper navbar-scrolltofixed bg-theme-colored border-bottom-theme-color-2-1px">
        <div class="container">
          <nav id="menuzord" class="menuzord bg-theme-colored pull-left flip menuzord-responsive">
            <ul class="menuzord-menu">
              <li ><a href="#home">Home</a>

              </li>
              <li ><a href="/login">로그인</a>

              </li>
              </li>
            </ul>
     
            <div id="top-search-bar" class="collapse">
              <div class="container">

              </div>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </header>
  
  <!-- Start main-content -->
  <div class="main-content">
    <!-- Section: home -->
    <section id="home" class="divider parallax" data-bg-img="/front/images/bg1.jpg">
      <div class="display-table">
        <div class="display-table-cell">
          <div class="container pt-200 pb-200">
            <div class="row">
              <div class="col-md-12 text-center">
                <h1 class="tagline text-title font-46 font-weight-700">
                  <span class="typed-text-carousel" data-speed="70" data-back_delay="500" data-loop="true">
                    <span>수학의 빛 수업과 관리는 타학원과 다릅니다.</span>
                    <span>인격완성과 성적향상으로 보답해드립니다. </span>
                    <span>희망대학, 희망점수를 보장하는 학원=수학의 빛</span>
                  </span>
                </h1>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: About -->
    <section class="">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h6 class="letter-space-4 text-gray-darkgray text-uppercase mt-0 mb-0">수학의빛은?</h6>
              <h4 class="text-uppercase font-weight-600 mt-0 font-24 line-bottom">수학의 빛은 학부모님께 세가지의 약속을 드립니다.</h4>
              <h4 class="text-theme-colored">1.  수학의 빛 수업과 관리는 타학원과 다릅니다. </h4>
              <h4 class="text-theme-colored">2.  인격완성과 성적향상으로 보답해드립니다. </h4>
              <h4 class="text-theme-colored">3.  희망대학, 희망점수를 보장하는 학원=수학의 빛 </h4>
              <!-- <p>학원 소개 문구를 정리해서 보내주세요. 그리고 우측은 영상링크인데 학원 소개 영상이 있거나 없으시면 사진이라도 주세요</p> -->
              
            </div>
            <div class="col-md-6">
              <div class="video-popup">                
                <a href="https://www.youtube.com/watch?v=pW1uVUg5wXM" data-lightbox-gallery="youtube-video" title="Video">
                  <!-- <img alt="" src="http://placehold.it/555x330" class="img-responsive img-fullwidth"> -->
                  <iframe 
                    type="text/html" 
                    allowtransparency="true" 
                    frameborder="0" 
                    width="640" height="480" 
                    src="http://www.youtube.com/embed/R9F0ebVmjJM?autoplay=1&amp;controls=1&amp;rel=0&amp;disablekb=1&amp;modestbranding=1&amp;autohide=2">
                  </iframe>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Section: COURSES -->
    <section class="bg-lighter">
      <div class="container pb-60">
        <div class="section-title mb-10">
        <div class="row">
          <div class="col-md-8">
            <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1"><span class="text-theme-color-2 font-weight-400">수업정보</span></h2>
         </div>
        </div>
        </div>
        <div class="section-content">
          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel-4col" data-dots="true">
                <div class="item ">
                  <div class="service-block bg-white">
                    <div class="thumb"> 
                      <!-- <img alt="featured project" src="http://placehold.it/265x195" class="img-fullwidth"> -->
                      <!-- <iframe 
                        type="text/html" 
                        allowtransparency="true" 
                        frameborder="0" 
                        width="265" height="195" 
                        src="http://www.youtube.com/embed/ORervx42zSY?controls=1&amp;rel=0&amp;disablekb=1&amp;modestbranding=1&amp;showinfo=0&amp;autohide=2">
                      </iframe> -->
                    </div>
                    <div class="content text-left flip p-25 pt-0">
                      <h4 class="line-bottom mb-10">고1 수학</h4>
                      <p>내신 심화 완벽대비 + 개인별, 수준별 개별 선행 
                        학생별 개별 누적오답 시스템 + 개인만의 개념 노트 완성 ---영상으로 설명 
                        철저한 담임제 관리+시험 시관관리 해법제시 </p>
                    
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="service-block mb-md-30 bg-white">
                    <div class="thumb"> 
                      <!-- <img alt="featured project" src="http://placehold.it/265x195" class="img-responsive img-fullwidth"> -->
                      <!-- <iframe 
                        type="text/html" 
                        allowtransparency="true" 
                        frameborder="0" 
                        width="265" height="195" 
                        src="http://www.youtube.com/embed/B9e0JiIjT4Y?controls=1&amp;rel=0&amp;disablekb=1&amp;modestbranding=1&amp;showinfo=0&amp;autohide=2">
                      </iframe> -->
                    
                    </div>
                    <div class="content text-left flip p-25 pt-0">
                      <h4 class="line-bottom mb-10">고2 수학</h4>
                      <p>내신 심화 완벽대비 + 1:1 밀착 질문 및 숙제 관리    ----영상으로 설명 
                        학생별 개별 누적오답 시스템 + 개인별 오답관리 노트 완성 
                        철저한 담임제 관리 + 완벽한 시험대비 시스템 </p>
                     
                   </div>
                  </div>
                </div>
                <div class="item">
                  <div class="service-block mb-md-30 bg-white">
                    <div class="thumb"> 
                      <!-- <img alt="featured project" src="http://placehold.it/265x195" class="img-responsive img-fullwidth"> -->
                      <!-- <iframe 
                        type="text/html" 
                        allowtransparency="true" 
                        frameborder="0" 
                        width="265" height="195" 
                        src="http://www.youtube.com/embed/BDSgYvUfJLE?controls=1&amp;rel=0&amp;disablekb=1&amp;modestbranding=1&amp;showinfo=0&amp;autohide=2">
                      </iframe> -->
                    </div>
                    <div class="content text-left flip p-25 pt-0">
                      <h4 class="line-bottom mb-10">고3 수학</h4>
                      <p>철저한 담임제 관리 + 대입 컨설팅(성적에 맞는 입시전략 수립 --영상으로 설명
                        수능 완벽 분석 학원교재 + 월별 모의고사 전략수립 
                        자소서 조언 및 멘탈 관리</p>
                   </div>
                  </div>
                </div>
                <div class="item">
                  <div class="service-block mb-md-30 bg-white">
                    <div class="thumb"> 
                      <!-- <img alt="featured project" src="http://placehold.it/265x195" class="img-responsive img-fullwidth"> -->
                      <!-- <iframe 
                        type="text/html" 
                        allowtransparency="true" 
                        frameborder="0" 
                        width="265" height="195" 
                        src="http://www.youtube.com/embed/Y4tBQDVuHeQ?controls=1&amp;rel=0&amp;disablekb=1&amp;modestbranding=1&amp;showinfo=0&amp;autohide=2">
                      </iframe> -->
                    </div>
                    <div class="content text-left flip p-25 pt-0">
                      <h4 class="line-bottom mb-10">수리 논술</h4>
                      <p>수리논술 배경 습득과정(1월~2월)+ 수리논술 중급과정(3월~6월) 
                        수리논술 고급 과정 (7월~10월)을 통해 완벽한 논술 준비. 
                        개인별 첨삭 및 꾸준한 디베이팅 과정을 통한 체계적 사고 완성</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="item">
                  <div class="service-block mb-md-30 bg-white">
                    <div class="thumb"> <img alt="featured project" src="http://placehold.it/265x195" class="img-responsive img-fullwidth">
             
                    </div>
                    <div class="content text-left flip p-25 pt-0">
                      <h4 class="line-bottom mb-10">해법수학</h4>
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam aliquam ipsum quis ipsum facilisis sit amet.</p>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Divider: Funfact -->
    <section class="divider parallax layer-overlay overlay-theme-colored-9" data-bg-img="http://placehold.it/1920x1280" data-parallax-ratio="0.7">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50">
            <div class="funfact text-center">
              <i class="pe-7s-smile mt-5 text-theme-color-2"></i>
              <h2 data-animation-duration="2000" data-value="200" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
              <h5 class="text-white text-uppercase mb-0">현재 학원 인원수</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50">
            <div class="funfact text-center">
              <i class="pe-7s-note2 mt-5 text-theme-color-2"></i>
              <h2 data-animation-duration="2000" data-value="8" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
              <h5 class="text-white text-uppercase mb-0">수학교육과목</h5>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-4 mb-md-50">
            <div class="funfact text-center">
              <i class="pe-7s-users mt-5 text-theme-color-2"></i>
              <h2 data-animation-duration="2000" data-value="8" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
              <h5 class="text-white text-uppercase mb-0">선생님</h5>
            </div>
          </div>
          <!-- <div class="col-xs-12 col-sm-6 col-md-3 mb-md-0">
            <div class="funfact text-center">
              <i class="pe-7s-cup mt-5 text-theme-color-2"></i>
              <h2 data-animation-duration="2000" data-value="90" class="animate-number text-white mt-0 font-38 font-weight-500">0</h2>
              <h5 class="text-white text-uppercase mb-0">평균수학점수</h5>
            </div>
          </div> -->
        </div>
      </div>
    </section>

     <!-- Section: team -->
    <section>
      <div class="container">
        <div class="section-title mb-10">
          <div class="row">
            <div class="col-md-8">
              <h2 class="mt-0 text-uppercase font-28 line-bottom line-height-1"><span class="text-theme-color-2 font-weight-400">선생님</span></h2>
           </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row multi-row-clearfix">
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/front/images/tr/박광희tr.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">박광희 - <small>선생님</small></h4>
                  <p class="mb-20">
                    수학적사고의 4단계.<br/>
                    P.C.B.S사고법 개발<br/>
                    S.K.Y입학생 다수배출<br/>
                    창의적사고와 공부습관<br/>
                    완성 중점 수업
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/front/images/tr/전철환tr.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">전철환 - <small>선생님</small></h4>
                  <p class="mb-20"><strong>학생은 학생답게, 강사는 프로답게!!</strong></p>
                  <p class="mb-20">
                    전 강남 대치동 학원 출강<br/>
                    <!-- 학생은 학생답게, 강사는 프로답게가 슬로건.<br/> -->
                    S.K.Y입학생 다수배출<br/>
                    최고의 관리와 완성수업
                  </p>

                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/front/images/tr/김근표tr.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">김근표 - <small>선생님</small></h4>
                  <p class="mb-20"><strong>논리와 이성으로 최고의 학생을!!</strong></p>
                  <p class="mb-20">
                    완벽한 정리강의 추구<br/>
                    <!-- 논리와 이성으로 최고의 학생 육성 목표<br/> -->
                    S.K.Y입학생 다수배출<br/>
                    수리논술 및 자사고수업
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/front/images/tr/혜진tr.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">김혜진 - <small>선생님</small></h4>
                  <p class="mb-20"><strong>배려와 사랑으로 알때까지 가르치자!!</strong></p>
                  <p class="mb-20">
                    강한집념과 열정으로~<br/>
                    고1-고3까지 고등부 전임<br/>
                    대표 강사.학생들의 대표 멘토.
                    <!-- 배려와 사랑으로 끝까지 알때까지 가르치자 -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row multi-row-clearfix">
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/front/images/tr/형문tr.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">주형문 - <small>선생님</small></h4>
                  <p class="mb-20"><strong>친절한 소통의 마스터</strong></p>
                  <p class="mb-20">
                    수학의 빛 고2팀장<br/>
                    <!-- 친절한 소통의 마스터<br/> -->
                    어려운 내용도 쉽게<br/>
                    수학교육은 내손안에<br/>
                    모든학생을 소중하게
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/front/images/tr/재익tr.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">임재익 - <small>선생님</small></h4>
                  <p class="mb-20"><strong>다양한 풀이와 논리적 접근을!!</strong></p>
                  <p class="mb-20">
                    수학을 사랑하는 수학과 출신.<br/>
                    다양한 풀이와 논리적 접근을<br/>
                    통한 고3 전임 강사.<br/>
                    깊이와 핵심 을 전달하는 강의추구
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center mb-sm-30">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/front/images/tr/윤주tr.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">노윤주 - <small>선생님</small></h4>
                  <p class="mb-20"><strong>수학이 좋아지도록 너를 바꾸어줄게.</strong></p>
                  <p class="mb-20">
                    열정과 친근함으로~<br/>
                    수학이 좋아지도록 너를 바꾸어줄게.<br/>
                    학생 한명,한명 최선을 다하는 <br/>
                    진정성 최고의 강사
                  </p>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 sm-text-center">
              <div class="team maxwidth400">
                <div class="thumb"><img class="img-fullwidth" src="/front/images/tr/신애리tr.jpg" alt=""></div>
                <div class="content border-1px border-bottom-theme-color-2-2px p-15 bg-light clearfix">
                  <h4 class="name text-theme-color-2 mt-0">신애리 - <small>선생님</small></h4>
                  <p class="mb-20"><strong>미모와 상냥함은 최고의 미덕.</strong></p>
                  <p class="mb-20">
                    부모님은 왕처럼<br/>
                    학생은 가족처럼<br/>
                    수학의 빛 상담주임<br/>
                    미모와 상냥함은 최고의 미덕.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


  

    <!-- Section: Why Choose Us -->
    <section id="event" class="">
      <div class="container pb-50">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6">
              <h3 class="text-uppercase line-bottom mt-0 line-height-1"><i class="fa fa-calendar mr-10"></i><span class="text-theme-color-2">학원소식</span></h3>
              <article class="post media-post clearfix pb-0 mb-10">
                <!-- <a href="#" class="post-thumb mr-20"><img alt="" src="http://placehold.it/120x120"></a> -->
                <div class="post-right">
                  <h4 class="mt-0 mb-5"><a href="#">학원소식</a></h4>
                  <ul class="list-inline font-12 mb-5">
                    <li class="pr-0"><i class="fa fa-calendar mr-5"></i> 2018-03-14 |</li>
                  </ul>
                  <p class="mb-0 font-13">2018년 3월 14/15일  고1, 2  학부모 설명회</p>
                  <a class="text-theme-colored font-13" href="#">더보기 →</a>
                </div>
              </article>
              <article class="post media-post clearfix pb-0 mb-10">
                <!-- <a href="#" class="post-thumb mr-20"><img alt="" src="http://placehold.it/120x120"></a> -->
                <div class="post-right">
                  <h4 class="mt-0 mb-5"><a href="#">공지사항</a></h4>
                  <ul class="list-inline font-12 mb-5">
                    <li class="pr-0"><i class="fa fa-calendar mr-5"></i> 2018-02-01 |</li>
                  </ul>
                  <p class="mb-0 font-13">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam.</p>
                  <a class="text-theme-colored font-13" href="#">더보기 →</a>
                </div>
              </article>
              <article class="post media-post clearfix pb-0 mb-10">
                <!-- <a href="#" class="post-thumb mr-20"><img alt="" src="http://placehold.it/120x120"></a> -->
                <div class="post-right">
                  <h4 class="mt-0 mb-5"><a href="#">여기에 공지가!</a></h4>
                  <ul class="list-inline font-12 mb-5">
                    <li class="pr-0"><i class="fa fa-calendar mr-5"></i> 2018-02-01 |</li>
                  </ul>
                  <p class="mb-0 font-13">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas eveniet, nemo dicta. Ullam nam.</p>
                  <a class="text-theme-colored font-13" href="#">더 보기 →</a>
                </div>
              </article>
            </div>
            <div class="col-md-6">
              <h3 class="line-bottom mt-0 line-height-1"> <span class="text-theme-color-2">입학안내</span></h3>
              <p class="mb-10">T학원 입학시 간단한 절차를 정리해서 알려주세요.</p>
              <div id="accordion1" class="panel-group accordion">
                <div class="panel">
                  <div class="panel-title"> <a class="active" data-parent="#accordion1" data-toggle="collapse" href="#accordion11" aria-expanded="true"> <span class="open-sub"></span> 온라인</a> </div>
                  <div id="accordion11" class="panel-collapse collapse in" role="tablist" aria-expanded="true">
                    <div class="panel-content">
                      <p>입학 test 날짜와 시간을 정한 후 입학 란 게시글로 올려주시면 그 시간에 test 후 반배정이 됩니다. </p>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <div class="panel-title"> <a data-parent="#accordion1" data-toggle="collapse" href="#accordion12" class="" aria-expanded="true"> <span class="open-sub"></span> 오프라인</a> </div>
                  <div id="accordion12" class="panel-collapse collapse" role="tablist" aria-expanded="true">
                    <div class="panel-content">
                      <p>평일 오전 11:00~ 2:00 까지 전화번호를 입학안내 문의란에 남겨 주시면 직접 방문하여 입학 상담을 드립니다.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Divider: testimonials -->
    <!--<section class="divider parallax layer-overlay overlay-theme-colored-9" data-background-ratio="0.5" data-bg-img="http://placehold.it/1920x1280">
      <div class="container pb-50">
        <div class="section-title">
          <div class="row">
            <div class="col-md-6">
              <h5 class="font-weight-300 m-0 text-gray-lightgray">Happy Student</h5>
              <h2 class="mt-0 mb-0 text-uppercase line-bottom text-white font-28">Testimonials<span class="font-30 text-theme-color-2">.</span></h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-10">
            <div class="owl-carousel-2col boxed" data-dots="true">
              <div class="item">
                <div class="testimonial pt-10">
                  <div class="thumb pull-left mb-0 mr-0 pr-20">
                    <img width="75" class="img-circle" alt="" src="http://placehold.it/100x100">
                  </div>
                  <div class="ml-100 ">
                    <h4 class="text-white mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                    <p class="author mt-20">- <span class="text-theme-color-2">Catherine Grace,</span> <small><em class="text-gray-lightgray">CEO apple.inc</em></small></p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial pt-10">
                  <div class="thumb pull-left mb-0 mr-0 pr-20">
                    <img width="75" class="img-circle" alt="" src="http://placehold.it/100x100">
                  </div>
                  <div class="ml-100 ">
                    <h4 class="text-white mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                    <p class="author mt-20">- <span class="text-theme-color-2">Catherine Grace,</span> <small><em class="text-gray-lightgray">CEO apple.inc</em></small></p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial pt-10">
                  <div class="thumb pull-left mb-0 mr-0 pr-20">
                    <img width="75" class="img-circle" alt="" src="http://placehold.it/100x100">
                  </div>
                  <div class="ml-100 ">
                    <h4 class="text-white mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                    <p class="author mt-20">- <span class="text-theme-color-2">Catherine Grace,</span> <small><em class="text-gray-lightgray">CEO apple.inc</em></small></p>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial pt-10">
                  <div class="thumb pull-left mb-0 mr-0 pr-20">
                    <img width="75" class="img-circle" alt="" src="http://placehold.it/100x100">
                  </div>
                  <div class="ml-100 ">
                    <h4 class="text-white mt-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quas vel sint, ut. Quisquam doloremque minus possimus eligendi dolore ad.</h4>
                    <p class="author mt-20">- <span class="text-theme-color-2">Catherine Grace,</span> <small><em class="text-gray-lightgray">CEO apple.inc</em></small></p>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </section> -->


  <!-- Footer -->
  <footer id="footer" class="footer divider layer-overlay overlay-dark-9" data-bg-img="http://placehold.it/1920x1280">
    <div class="container">
      <div class="row border-bottom">
        <div class="col-sm-12 col-md-12">
          <div class="widget dark">
            <img class="mt-5 mb-20" alt="" src="/front/images/logo-white-footer.png">
            <p>주소 정보</p>
            <ul class="list-inline mt-5">
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-phone text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">031-712-3446</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-envelope-o text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">contact@lightofmath.com</a> </li>
              <li class="m-0 pl-10 pr-10"> <i class="fa fa-globe text-theme-color-2 mr-5"></i> <a class="text-gray" href="#">lightofmath.com</a> </li>
            </ul>
          </div>
        </div>

      </div>
    </div>
    <div class="footer-bottom bg-black-333">
      <div class="container pt-20 pb-20">
        <div class="row">
          <div class="col-md-6">
            <p class="font-11 text-black-777 m-0">Copyright &copy;2018 수학의빛학원. All Rights Reserved</p>
          </div>
          <div class="col-md-6 text-right">
            <div class="widget no-border m-0">
              <ul class="list-inline sm-text-center mt-5 font-12">
                <li>
                  <a href="#">로그인</a>
                </li>
                <li>|</li>
                <li>
                  <a href="#">Support</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
  <a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
</div>
<!-- end wrapper -->

<!-- Footer Scripts -->
<!-- JS | Custom script for all pages -->
<script src="/front/js/custom.js"></script>
	
<script src="iframe.js"></script>
<script src="www-embed-player.js"></script>

</body>
</html>