<!-- Header 호출 -->
<% include ./common/header-student.ejs %>

  <body class="fixed-header horizontal-menu horizontal-app-menu ">
    <!-- START PAGE-CONTAINER -->
  <div class="header p-r-0 bg-primary">
    <div class="header-inner header-md-height">
      <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu text-white" data-toggle="horizontal-menu"></a>
      <div class="">
        <div class="brand inline no-border hidden-xs-down">
          <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_white_2x.png" width="200" height="40">
        </div>
      </div>
      <div class="d-flex align-items-center">
        <!-- START User Info-->
        <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down text-white">
            <span class="semi-bold" style="color: #ffffff">내정보(<%=user.name%>)</span>
          </div>
          <div class="dropdown pull-right">
            <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userProfile">
              <span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
                <img src="assets/img/profiles/avatar.png" alt="" data-src="assets/img/profiles/avatar.png" data-src-retina="assets/img/profiles/avatar_small2x.png" width="32" height="32">
                </span>
            </button>
            <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
              <a href="/userinfo" class="dropdown-item"><i class="pg-settings_small"></i>마이페이지</a>
              <a href="/admin-index" class="dropdown-item" id="pageManagement" style="display:none"><i class="pg-outdent"></i>관리자 페이지</a>
              <a href="#" class="clearfix bg-master-lighter dropdown-item">
                <span class="pull-left" onclick="logout()">Logout</span>
                <span class="pull-right"><i class="pg-power"></i></span>
              </a>
            </div>
          </div>
          <!-- END User Info-->           
      </div>
    </div>
    <div class="bg-white">
      <div class="container">
        <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
          <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
          </a>
          <ul>
            <li>
              <a href="/index">홈</a>
            </li>
            <li class=" active">
              <a href="/notice"  style="color:black"><span class="title">공지사항</span></a>
            </li>
            <li>
              <a href="/studystatus"><span class="title">학습 기록</span></a>
            </li>
            <li>
              <a href="javascript:;">
                <span class="title">오답 관리</span>
                <span class="arrow"></span>
              </a>
              <ul class="">
                <li class="">
                  <a href="/wronganser"><span class="title">나의 틀린문제</span></a>
                </li>
                <li>
                  <a href="/report"><span class="title">나의 오답노트</span></a>
                </li>
                <li class="">
                  <a href="/wanote"><span class="title">추천 오답노트</span></a>
                </li>
              </ul>
            </li>
            <li>
              <a href="/userinfo"><span class="title">마이페이지</span></a>
            </li>
            <li>
              <a href="/consulting"><span class="title">상담 게시판</span></a>
            </li>
          </ul>            
        </div>
      </div>
    </div>
  </div>
  <div class="page-container ">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
          <div class="bg-white">
            <div class="container">
              <ol class="breadcrumb breadcrumb-alt">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item">상담 게시판</li>
                <li class="breadcrumb-item active">상담 내용</li>
              </ol>
            </div>
          </div>
          <!-- START CONTAINER FLUID -->
          <div class="container container-fixed-lg">
            <div class="card card-transparent">
              <div class="card-header ">
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card card-default" style="height:100%">
                      <div class="card-header  separator">
                        <div class="" style="float:left">
                            <h3><span class="semi-bold" id="contentTitle"></span></h3>
                        </div>
                        <div class="" style="float:right">
                          <p style="font-size: 16px" id="noticeTime"></p>
                          <p style="font-size: 16px" id="noticeWriter"></p>
                        </div>
                      </div>
                      <div class="card-block">
                        <p style="font-size: 16px" id="contentBody">
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- 답변 -->
          <!-- <div class=" container container-fixed-lg" style="display: none" id="replyContent">
            <div class="card card-transparent">
              <div class="card-header ">
              </div>
              <div class="card-block">
                <div class="row">
                  <div class="col-lg-12">
                    <div class="card card-default" style="height:100%">
                      <div class="card-header  separator">
                        <div class="" style="float:left">
                          <p style="font-size: 16px" id="replyInfo"></p>
                          <p style="font-size: 16px" id="replyInfo2"></p>
                        </div>
                      </div>
                      <div class="card-block">
                        <p style="font-size: 16px" id="replyBody">
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->


          <!--댓글-->
          <!-- <div class="container container-fixed-lg">
              <div class="panel panel-default panel-dropdown card-view">
                <div class="panel-heading">
                  <div class="pull-left">
                    <h6 class="panel-title txt-dark">댓 글</h6>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="panel-wrapper collapse in">
                  <div class="panel-body">
                    <input type="text" class="form-control" style="width:100%" id="inputNotiReply">
                  </div>
                  <div align="right" width=30px;>
                    <button class="btn  btn-primary btn-rounded" style="padding:10px; margin-bottom: 10px" onclick="addNotice()">저 장</button>
                  </div>
                </div>
              </div>
            </div>
            <div id="viewNotiReply">

            </div> -->
            <!--댓글-->


          <!-- END CONTAINER FLUID -->
          <!-- <div class=" container    container-fixed-lg" id="replyContent"></div> -->
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class=" container   container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN VENDOR JS -->
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/card.js" type="text/javascript"></script>
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->

    <script src="/admin/dist/js/moment/min/moment.min.js"></script>

    <script  language="javascript" type="text/javascript">
    // 변수
    var noticeId ='';

    // 로그 아웃
    function logout() {
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if (req.status === 200) {
            location.href = '/';
          }
        } else {
          console.log("Error!");
        }
      }
    };	


    // 공지사항 상세내용
    function readConsulting() {
      var req = new XMLHttpRequest();
			var url = '/notices/' + noticeId;
			console.log(url);
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === 4) 
				{
					if(req.status === 200) 
					{
						var jsonResponse = JSON.parse(req.responseText);

						console.log(jsonResponse);

						// 데이터 세팅
						document.getElementById('contentTitle').innerHTML = jsonResponse.data.title;
						document.getElementById('contentBody').innerHTML = jsonResponse.data.content;
						document.getElementById('noticeWriter').innerHTML = jsonResponse.data.writer;
						document.getElementById('noticeTime').innerHTML = moment(jsonResponse.data.createdAt).format("YYYY-MM-DD HH:mm:ss");
						

						// 시간 계산
						//document.getElementById('noticeTime').innerHTML = jsonResponse.createdAt;
						// const time = new Date(jsonResponse.createdAt);
						// document.getElementById('noticeTime').innerHTML = 
						// 	time.getFullYear() + '-' + 
						// 	(time.getMonth()>=10 ? time.getMonth() : '0'+time.getMonth()) + '-' + 
						// 	(time.getDate()>=10 ? time.getdate() : '0'+time.getDate()) + '  ' + 
						// 	(time.getHours()>=10 ? time.getHours() : '0'+time.getHours()) + ':' +
						// 	(time.getMinutes()>=10 ? time.getMinutes() : '0'+time.getMinutes()) + ":" +
						// 	(time.getSeconds()>=10 ? time.getSeconds() : '0'+time.getSeconds());
						
						document.getElementById('filepath').value = jsonResponse.filepath;
						

						var fileName = jsonResponse.filepath.split("\\");
						var nLength = fileName.length;

						console.log(jsonResponse.filepath);
						if(jsonResponse.filepath != '')
						{
							$('#fileView').css('display','')
							var div = document.createElement("div");
							div.innerHTML = '<a href="' + getFileDown() + '" download="">' + fileName[nLength-1] + '</a>';					
							document.getElementById('fileinfo').appendChild(div);
						}
						else
						{
							$('#fileView').css('display','none')
						}
					}
				} 
				else 
				{
					console.log("Error!");
				}
			}
    };	

    // 댓글 목록을 호춯
		function readNoticeReply()
		{
			var req = new XMLHttpRequest();
			var url = '/notireplys/' + noticeId;
			req.open('GET', url);
			req.send();

			req.onreadystatechange = function (e) 
			{
				if (req.readyState === XMLHttpRequest.DONE) 
				{
					if(req.status === 200) 
					{
						// 댓글 리스트 초기화
						var parent = document.getElementById("viewNotiReply");
						while(parent.hasChildNodes())
						{
							parent.removeChild(parent.firstChild);
						}

						// 리스트 만들기
						var jsonResponse = JSON.parse(req.responseText);
						for(var i=0; i<jsonResponse.length; i++)
						{						
							// 그룹 리스트
							var div = document.createElement("div");
							var strHtml = "";
							strHtml += ' <div class="panel panel-default panel-dropdown card-view">';
							strHtml += ' 	<div class="panel-heading">';
							strHtml += ' 		<div class="pull-left">';
							strHtml += ' 			<h6 class="panel-title txt-dark">'+ jsonResponse[i].writer +'</h6>';
							strHtml += ' 		</div>';
							strHtml += ' 		<div class="pull-right">';
							strHtml += ' 			<div class="dropdown  pull-left">';
							strHtml += ' 				<a class="dropdown-toggle weight-500" id="examplePanelDropdown" data-toggle="dropdown" href="#" aria-expanded="false" role="button">';
							// strHtml += ' 					<i class="zmdi zmdi-edit inline-block mr-5"></i>';
							strHtml += ' 					<span class="panel-title txt-dark">'+ moment(jsonResponse[i].createdAt).format("YYYY-MM-DD HH:mm:ss") +'</span> ';
							strHtml += ' 					<i class="zmdi zmdi-chevron-down caret-down"></i>';
							strHtml += ' 				</a>';
							// strHtml += ' 				<ul class="dropdown-menu bullet dropdown-menu-right" role="menu">';
							// strHtml += ' 					<li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-reply" aria-hidden="true"></i> 수정</a></li>';
							// strHtml += ' 					<li role="presentation"><a href="javascript:void(0)" role="menuitem"><i class="icon wb-trash" aria-hidden="true"></i> 삭제</a></li>';
							// strHtml += ' 				</ul>';
							strHtml += ' 			</div>';
							strHtml += ' 		</div>';
							strHtml += ' 		<div class="clearfix"></div>';
							strHtml += ' 	</div>';
							strHtml += ' 	<div class="panel-wrapper collapse in">';
							strHtml += ' 		<div class="panel-body">';
							strHtml += ' 			<p>'+ jsonResponse[i].content +'</p>';
							strHtml += ' 		</div>';
							strHtml += ' 	</div>';
							strHtml += ' </div>';
							

							div.innerHTML = strHtml;
							//tr.setAttribute("onclick", "setChildValue(" + jsonResponse[i].id + ")");
							document.getElementById('viewNotiReply').appendChild(div);
						}
					} 
					else 
					{
						console.log("Error!");
					}
				}
			};	
		}

    $(document).ready(function() {
			var val = location.href.substr(
				location.href.lastIndexOf('=') + 1
			);
      noticeId = val;
      
      readConsulting();
      // readConsultingReply();
      // $('#replyContent').hide();
		});
    </script>
  </body>
</html>