<!-- Header 호출 -->
<% include ./common/header-student.ejs %>

  <body class="fixed-header horizontal-menu horizontal-app-menu dashboard">
    <!-- START PAGE-CONTAINER -->
    <div class="header p-r-0 bg-primary">
      <div class="header-inner header-md-height">
        <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu text-white" data-toggle="horizontal-menu"></a>
        <div class="">
          <div class="brand inline no-border hidden-xs-down">
            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_white_2x.png" width="200" height="40">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <!-- START User Info-->
          <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down text-white">
              <span class="semi-bold" style="color: #ffffff">내정보(<%=user.name%>)</span>
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userProfile">
                <span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
                  <img src="assets/img/profiles/avatar.png" alt="" data-src="assets/img/profiles/avatar.png" data-src-retina="assets/img/profiles/avatar_small2x.png" width="32" height="32">
                  </span>
              </button>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a href="/userinfo" class="dropdown-item"><i class="pg-settings_small"></i>마이페이지</a>
                <a href="/admin-index" class="dropdown-item" id="pageManagement" style="display:none"><i class="pg-outdent"></i>관리자 페이지</a>
                <a href="#" class="clearfix bg-master-lighter dropdown-item">
                  <span class="pull-left" onclick="logout()">Logout</span>
                  <span class="pull-right"><i class="pg-power"></i></span>
                </a>
              </div>
            </div>
            <!-- END User Info-->           
        </div>
      </div>
      <div class="bg-white">
        <div class="container">
          <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
            <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
            </a>
            <ul>
              <li>
                <a href="/index">홈</a>
              </li>
              <li class=" active">
                <a href="/notice"  style="color:black"><span class="title">공지사항</span></a>
              </li>
              <li>
                <a href="/studystatus"><span class="title">학습 기록</span></a>
              </li>
              <li>
                <a href="javascript:;">
                  <span class="title">오답 관리</span>
                  <span class="arrow"></span>
                </a>
                <ul class="">
                  <li class="">
                    <a href="/wronganser"><span class="title">나의 틀린문제</span></a>
                  </li>
                  <li>
                    <a href="/report"><span class="title">나의 오답노트</span></a>
                  </li>
                  <li class="">
                    <a href="/wanote"><span class="title">추천 오답노트</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/userinfo"><span class="title">마이페이지</span></a>
              </li>
              <li id="consertingBoard">
                <a href="/consulting"><span class="title">상담 게시판</span></a>
              </li>
            </ul>            
          </div>
        </div>
      </div>
    </div>
    <div class="page-container ">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
          <!-- MODAL STICK UP  -->
          <div class="modal fade stick-up" id="addNewAppModal" tabindex="-1" role="dialog" aria-labelledby="addNewAppModal" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header clearfix ">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                  </button>
                  <h4 class="p-b-5"><span class="semi-bold">New</span> App</h4>
                </div>
                <div class="modal-body">
                  <p class="small-text">Create a new app using this form, make sure you fill them all</p>
                  <form role="form">
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label>name</label>
                          <input id="appName" type="text" class="form-control" placeholder="Name of your app">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group form-group-default">
                          <label>Description</label>
                          <input id="appDescription" type="text" class="form-control" placeholder="Tell us more about it">
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="form-group form-group-default">
                          <label>Price</label>
                          <input id="appPrice" type="text" class="form-control" placeholder="your price">
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="form-group form-group-default">
                          <label>Notes</label>
                          <input id="appNotes" type="text" class="form-control" placeholder="a note">
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button id="add-app" type="button" class="btn btn-primary  btn-cons">Add</button>
                  <button type="button" class="btn btn-cons" data-dismiss="modal">Close</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <div class="bg-white">
            <div class="container">
              <ol class="breadcrumb breadcrumb-alt">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">공지사항</li>
              </ol>
            </div>
          </div>
          <!-- START CONTAINER FLUID -->
          <div class=" no-padding  container-fixed-lg bg-white">
            <div class="container">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header  d-flex justify-content-between">
                  <div class="card-title">공지사항
                  </div>
                  <div class="export-options-container"></div>
                  <!-- <div class="clearfix"></div> -->
                </div>
                <div class="card-block">
                  <table class="table table-striped" id="datable_1" style="width:100%">
                    <thead>
                      <tr>
                        <th style="width:5%">No</th>
                        <th style="width:50%">제목</th>
                        <th style="width:15%">작성자</th>
                        <th style="width:30%">작성 시간</th>
                      </tr>
                    </thead>
                    <tbody id="noticeList">          
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- END card -->
            </div>
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class=" container   container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
      <!-- Footer -->
			<!-- <footer class="footer container-fluid pl-30 pr-30">
          <div class="row">
            <div class="col-sm-12">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </div>
          </div> -->
          <!-- 사용자 정보 값 -->
          <input type="hidden" id="isadmin" value=<%= user.admin%>>
          <input type="hidden" id="isparent" value=<%= user.isparent%>>
          <input type="hidden" id="userid" value=<%= user.userid%>>
          <input type="hidden" id="userindex" value=<%= user.id%>>
          <input type="hidden" id="username" value=<%= user.name%>>
        </footer>
        <!-- /Footer -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN VENDOR JS -->
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/datatables.js" type="text/javascript"></script>
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->

    <!-- Time Func -->
	  <script src="/admin/dist/js/moment/min/moment.min.js"></script>

    <script>

      // 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
      };	
      /*
    // 공지사항 목록을 호춯
	function readNotice(param=0){
		var req = new XMLHttpRequest();
		var url = '/notices';
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === XMLHttpRequest.DONE) {
				if(req.status === 200) {
					// 공지사항 리스트 초기화
					var parent = document.getElementById("noticeList");
					while(parent.hasChildNodes())
					{
						parent.removeChild(parent.firstChild);
					}

					// 리스트 만들기
					var jsonResponse = JSON.parse(req.responseText);
					for(var i=0; i<jsonResponse.length; i++){	
						
						// 그룹 리스트
						var tr = document.createElement("tr");
            var strHtml = "";
            strHtml += "<td>" + i + "</td>";
						strHtml += "<td>" + jsonResponse[i].writer + "</td>";
						strHtml += "<td>" + jsonResponse[i].title + "</td>";
            strHtml += "<td>" + jsonResponse[i].createdAt + "</td>";
            
            tr.innerHTML = strHtml;
            tr.setAttribute("class", "odd gradeX");
						tr.setAttribute("onclick", "setChildValue(" + jsonResponse[i].id + ")");
						document.getElementById('noticeList').appendChild(tr);
					}
				} else {
				console.log("Error!");
				}
			}
		};	
  }
  */

	// 클릭 한 공지사항 ID값을 태워 상세보기페이지 호출
	function setChildValue(index) {
    	window.location.href = "/notice-detail?index=" + index;
     }
     
	// 관리자 페이지 표시
	function managementViewpage() {

    if(document.getElementById('isadmin').value === 'true')
    {
      $('#manageusers').css('display','');
      $('#manageusersline').css('display','');
    }
    else
    {
      $('#manageusers').css('display','none');
      $('#manageusersline').css('display','none');
    }

    if($('#isparent').val() == 'true')
    {
      console.log("is parent!!")
      $('#consertingBoard').show();
    }
    else
    {
      console.log("is not parent!!")
      $('#consertingBoard').hide();
    }
  }

	// 화면 로드 시 공지사항 목록을 호출
	$(document).ready(function() {
    managementViewpage();
    // readNotice();
    
    $('#datable_1').DataTable({
				oLanguage : {
					"sProcessing" : "처리중...",
					"sZeroRecords" : "데이터가 없습니다.",
					"sLengthMenu" : "_MENU_ 건 표시",
					"oPaginate" : {
						"sFirst" : "처음",
						"sNext" : "다음",
						"sPrevious" : "이전",
						"sLast" : "끝"
					},
					"sInfo" : "총 _TOTAL_ 건 중, _START_ 건부터 _END_ 건까지 표시",
					"sInfoEmpty" : "0건 중, 0 부터 0까지 표시",
					'sInfoFilterd' : "(총 _MAX_ 건에서 추출)",
					"sSearch" : "검색 : "
				}, 
				processing : true,
				bPaginate : true,  	// 페이징
				iDisplayLength : 10,	// 기본 표시행
				bLengthChange : true,	// 보여주는 건수 선택
				bFilter : true,		// 검색
				bSort : true,			// 소트
				bAutoWidth : true,			
			
				ajax : 
				{
					url : "/notices"
				},
				columns: [
					{ data: "id" },
					{ 
						data: "title",
						render: function(data, type, row) {
							return '<a onclick="setChildValue(\''+ row.id +'\')">' + data + '</a>';
						}
					},
					{ data: "writer" },
					{ 
						data: "createdAt",
						render: function ( data, type, row ) 
						{
							// If display or filter data is requested, format the date
							if ( type === 'display' || type === 'filter' ) 
							{
								var rowvalue = row["EventDate"];
								var rowvalueallday = row["AllDayEvent"];
								return (moment(data).format("YYYY-MM-DD HH:mm:ss"));
							}
						return data;
						}
					}
				],
				order : [[0, 'desc']]
			});
	});
    </script>
  </body>
</html>