<!-- Header 호출 -->
<% include ./common/header-student.ejs %>

  <body class="fixed-header horizontal-menu horizontal-app-menu dashboard">
    <!-- START PAGE-CONTAINER -->
    <div class="header p-r-0 bg-primary">
      <div class="header-inner header-md-height">
        <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu text-white" data-toggle="horizontal-menu"></a>
        <div class="">
          <div class="brand inline no-border hidden-xs-down">
            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_white_2x.png" width="200" height="40">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <!-- START User Info-->
          <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down text-white">
              <span class="semi-bold" style="color: #ffffff">내정보(<%=user.name%>)</span>
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userProfile">
                <span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
                  <img src="assets/img/profiles/avatar.png" alt="" data-src="assets/img/profiles/avatar.png" data-src-retina="assets/img/profiles/avatar_small2x.png" width="32" height="32">
                  </span>
              </button>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a href="/userinfo" class="dropdown-item"><i class="pg-settings_small"></i>마이페이지</a>
                <a href="/admin-index" class="dropdown-item" id="pageManagement" style="display:none"><i class="pg-outdent"></i>관리자 페이지</a>
                <a href="#" class="clearfix bg-master-lighter dropdown-item">
                  <span class="pull-left" onclick="logout()">Logout</span>
                  <span class="pull-right"><i class="pg-power"></i></span>
                </a>
              </div>
            </div>
            <!-- END User Info-->           
        </div>
      </div>
      <div class="bg-white">
        <div class="container">
          <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
            <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
            </a>
            <ul>
              <li>
                <a href="/index">홈</a>
              </li>
              <li>
                <a href="/notice"><span class="title">공지사항</span></a>
              </li>
              <li class=" active">
                <a href="/studystatus"  style="color:black"><span class="title">학습 기록</span></a>
              </li>
              <li>
                <a href="javascript:;">
                  <span class="title">오답 관리</span>
                  <span class="arrow"></span>
                </a>
                <ul class="">
                  <li class="">
                    <a href="/wronganser"><span class="title">나의 틀린문제</span></a>
                  </li>
                  <li>
                    <a href="/report"><span class="title">나의 오답노트</span></a>
                  </li>
                  <li class="">
                    <a href="/wanote"><span class="title">추천 오답노트</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/userinfo"><span class="title">마이페이지</span></a>
              </li>
              <li id="consertingBoard">
                <a href="/consulting"><span class="title">상담 게시판</span></a>
              </li>
            </ul>            
          </div>
        </div>
      </div>
    </div>
    <div class="page-container ">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
          <!-- Modal -->
          <!-- 시험보기 -->
          <div class="modal fade slide-up disable-scroll" id="modalTest" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog ">
              <div class="modal-content-wrapper">
                <div class="modal-content">
                  <div class="modal-header clearfix text-left">
                    <button type="button" class="close" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <h5 id="doTestCount"></h5>
                    <p class="p-b-10" id="doTestDate"></p>
                  </div>
                  <div class="modal-body">
                    <form role="form">
                      <div class="form-group-attached">
                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-block">
                            <div class="table-responsive" style="width:100%; height:800px; overflow:auto">
                              <table class="table table-striped" width="100%" border="0" cellspacing="0" cellpadding="0" id="anserPaper">
                                <thead>
                                  <tr>
                                    <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user Comman Practice Followed-->
                                    <th style="width:10%">No</th>
                                    <th style="width:90%">정답</th>
                                  </tr>
                                </thead>
                                <tbody id="anserPaperBody">
                                  
                                </tbody>
                              </table>
                            </div>
                            <div style="display:flex;">
                              <div class="btn  btn-primary btn-rounded" onclick="saveAnser()">제 출</div>
                              <div style="flex:1"></div>
                              <button class="btn  btn-primary btn-rounded">취 소</button>
                            </div>
                          </div>
                        </div>
                <!-- END card -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
          </div>
          <!-- 시험보기 상세 -->
          <div class="modal fade slide-up disable-scroll" id="modalTestDetail" tabindex="-1" role="dialog" aria-hidden="false">
              <div class="modal-dialog ">
                <div class="modal-content-wrapper">
                  <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                      </button>
                      <h5>[10문제] <span class="semi-bold">2017년 2학기 시험 1차</span></h5>
                      <p class="p-b-10">응시일 : 2017-11-18</p>
                    </div>
                    <div class="modal-body">
                      <form role="form">
                        <div class="form-group-attached">
                          <!-- START card -->
                          <div class="card card-transparent">
                            <div class="card-block">
                              <div class="table-responsive">
                                <table class="table table-striped" id="datable_1">
                                  <thead>
                                    <tr>
                                      <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user Comman Practice Followed-->
                                      <th style="width:10%">No</th>
                                      <th style="width:60%">정답</th>
                                      <th style="width:10%">문제내용</th>
                                      <th style="width:10%">영상강의</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                  <!-- END card -->
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
            </div>
          <!-- /.modal-dialog -->

          <div class="bg-white">
            <div class="container">
              <ol class="breadcrumb breadcrumb-alt">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">학습기록</li>
              </ol>
            </div>
          </div>
          <!-- START CONTAINER FLUID -->
          <div class=" no-padding    container-fixed-lg bg-white">
            <div class="container">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header  d-flex justify-content-between">
                  <div class="card-title">학습기록
                  </div>
                  <div class="export-options-container"></div>
                  <!-- <div class="clearfix"></div> -->
                </div>
                <div class="card-block">
                  <table class="table table-striped" id="tableWithExportOptions">
                    <thead>
                      <tr>
                        <th>출시자</th>
                        <th>시험명</th>
                        <th>시작일</th>
                        <th>종료일</th>
                        <th>정답</th>
                        <th>보기</th>
                      </tr>
                    </thead>
                    <tbody>  
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- END card -->
            </div>
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class=" container   container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
      <!-- Footer -->
			<!-- <footer class="footer container-fluid pl-30 pr-30">
          <div class="row">
            <div class="col-sm-12">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </div>
          </div> -->
          <!-- 사용자 정보 값 -->
          <input type="hidden" id="isadmin" value=<%= user.admin%>>
          <input type="hidden" id="isparent" value=<%= user.isparent%>>
          <input type="hidden" id="userid" value=<%= user.userid%>>
          <input type="hidden" id="userindex" value=<%= user.id%>>
          <input type="hidden" id="username" value=<%= user.name%>>
          <input type="hidden" id="usergrade" value=<%= user.grade%>>
          <input type="hidden" id="userclass" value=<%= user.classname%>>
          <input type="hidden" id="testindex" value="">
          <input type="hidden" id="testtitle" value="">
          <input type="hidden" id="testtotal" value="">
          <input type="hidden" id="testdate" value="">
          <input type="hidden" id="testgrade" value="">
        </footer>
        <!-- /Footer -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN VENDOR JS -->
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/datatables.js" type="text/javascript"></script>
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->

    <!-- Time Func -->
	  <script src="/admin/dist/js/moment/min/moment.min.js"></script>

    <script type="text/javascript">

      // 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();
      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
      };	

    // 변수
    // var url = '/studenttestpapers';

  // 파일 다운로드
  function getFileDown(param){
		console.log('param = ' + param);
		if(!param)
			return '';
			
		var req = new XMLHttpRequest();
		//var url = '/download/' + param;
		let array = [];
		// array = param.split('\\');

		if(param.indexOf('\\') != -1)
		{
			array = param.split('\\');
		}
		else
		{
			array = param.split('/');
		}


		// var name = path.basename
		var url = '/download/'+array[array.length-3]+'/' + array[array.length-1];
		
		return url;



		// // 1. 파라미터 받기
		// if(!param)
		// 	return '';
		
		// // 2. 서버에 파일경로 요청
		// var req = new XMLHttpRequest();
		
		// // 3. 웹서버의 경로
  }
  
  // 시험 응시
  function doTest(param) {
    if(confirm("시험에 응시하시겠습니까?"))
    {
      $.get('/testpapers2/' + param, function(req, status){
        if(status == 'success') {
						// 유져 리스트 초기화
            const parent = document.getElementById("anserPaperBody");
						while(parent.hasChildNodes())
						{
							parent.removeChild(parent.firstChild);
            }
            
            // 제목
            $("#doTestCount").html("[" + req.data.total + " 문제] " + "<span class=\"semi-bold\" >"+req.data.name+"</span>");
            $("#testindex").val(req.data.id);
            $("#testtitle").val(req.data.name);
            $("#testtotal").val(req.data.total);
            $("#testgrade").val(req.data.grade);

            // 응시 날짜
            let today = new Date();
            $("testdate").val(moment(today).format("YYYY-MM-DD HH:mm:ss"));
            $("#doTestDate").text("응시일자 : " + moment(today).format("YYYY-MM-DD HH:mm:ss"));

            // 시험 문제
            console.log(req.data.question1);
            if(req.data.question1)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\" > ";
              strHtml += "<p>1</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";

              // if(false)
              // {
              //   // 객관식 생성
              //   strHtml += "<a href=\"#\" class=\"btn\" style=\"width:19%\">1</a> ";
              //   strHtml += "<a href=\"#\" class=\"btn\" style=\"width:19%\">2</a> ";
              //   strHtml += "<a href=\"#\" class=\"btn\" style=\"width:19%\">3</a> ";
              //   strHtml += "<a href=\"#\" class=\"btn\" style=\"width:19%\">4</a> ";
              //   strHtml += "<a href=\"#\" class=\"btn\" style=\"width:19%\">5</a> ";
              // }
              // else
              // {
                // 주관식 생성
                strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser1\"> ";
              // }
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question2)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>2</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser2\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question3)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>3</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser3\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question4)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>4</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser4\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question5)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>5</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser5\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question6)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>6</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser6\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question7)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>7</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser7\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question8)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>8</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser1\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question9)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>9</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser9\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question10)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>10</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser1\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question11)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>11</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser11\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question12)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>12</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser12\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question13)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>13</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser13\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question14)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>14</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser14\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question15)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>15</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser15\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question16)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>16</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser16\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question17)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>17</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser17\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question18)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>18</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser18\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question19)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>19</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser19\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question20)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>20</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser20\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question21)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>21</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser21\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question22)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>22</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser22\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question23)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>23</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser23\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question24)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>24</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser24\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question25)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>25</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser25\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question26)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>26</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser26\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question27)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>27</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser27\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }
            
            if(req.data.question28)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>28</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser28\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question29)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>29</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser29\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }

            if(req.data.question30)
            {
              var tr = document.createElement("tr");
              var strHtml = "";
              strHtml += "<td class=\"v-align-middle semi-bold\"> ";
              strHtml += "<p>30</p> ";
              strHtml += "</td> ";
              strHtml += "<td class=\"v-align-middle\"> ";
              strHtml += "<input type=\"text\" class=\"form-control\" id=\"anser30\"> ";
              strHtml += "</td> ";
              tr.innerHTML = strHtml;
              document.getElementById('anserPaperBody').appendChild(tr);
            }
            $("#modalTest").modal("show");
          }
      })
    }
  }

  // 파일 다운로드
	function getFileDown(param){
		console.log('param = ' + param);
		if(!param)
			return '';
			
		var req = new XMLHttpRequest();
		//var url = '/download/' + param;
		let array = [];
		// array = param.split('\\');

		if(param.indexOf('\\') != -1)
		{
			array = param.split('\\');
		}
		else
		{
			array = param.split('/');
		}


		// var name = path.basename
		var url = '/download/'+array[array.length-3]+'/pdf/' + array[array.length-1];
		
		return url;



		// // 1. 파라미터 받기
		// if(!param)
		// 	return '';
		
		// // 2. 서버에 파일경로 요청
		// var req = new XMLHttpRequest();
		
		// // 3. 웹서버의 경로
	};

  function saveAnser(){
    // table
    if( confirm("시험지를 제출하시겠습니까?") )
    {
      let totalCount = document.getElementById("testtotal").value;      
      
        var req = new XMLHttpRequest();
        req.open('POST', '/studenttestpapers');
        req.setRequestHeader('Content-type', 'application/json');
        req.send(JSON.stringify({
          studentid: document.getElementById("userid").value,
          testpaperid: document.getElementById("testindex").value,
          name: document.getElementById("testtitle").value,
          writer: document.getElementById("userid").value,
          // startdate: document.getElementById("testdate").value,
          grade: document.getElementById("testgrade").value,
          total: totalCount,

          question1anser: $("#anser1").val(),
          question2anser: $("#anser2").val(),
          question3anser: $("#anser3").val(),
          question4anser: $("#anser4").val(),
          question5anser: $("#anser5").val(),
          question6anser: $("#anser6").val(),
          question7anser: $("#anser7").val(),
          question8anser: $("#anser8").val(),
          question9anser: $("#anser9").val(),
          question10anser: $("#anser10").val(),
          question11anser: $("#anser11").val(),
          question12anser: $("#anser12").val(),
          question13anser: $("#anser13").val(),
          question14anser: $("#anser14").val(),
          question15anser: $("#anser15").val(),
          question16anser: $("#anser16").val(),
          question17anser: $("#anser17").val(),
          question18anser: $("#anser18").val(),
          question19anser: $("#anser19").val(),
          question20anser: $("#anser20").val(),
          question21anser: $("#anser21").val(),
          question22anser: $("#anser22").val(),
          question23anser: $("#anser23").val(),
          question24anser: $("#anser24").val(),
          question25anser: $("#anser25").val(),
          question26anser: $("#anser26").val(),
          question27anser: $("#anser27").val(),
          question28anser: $("#anser28").val(),
          question29anser: $("#anser29").val(),
          question30anser: $("#anser30").val()
        }));   
    }
    
        req.onreadystatechange = function (e) {
        if (req.readyState === 4) {
          if(req.status === 200) {
            $('#modalTest').modal('hide');
          } else {
            alert(req.responseText.console.error());
          }
        }
      }
  }

  // 관리자 페이지 표시
  function managementViewpage() {
    if(document.getElementById('isadmin').value === 'true')
    {
      $('#manageusers').css('display','');
      $('#manageusersline').css('display','');
    }
    else
    {
      $('#manageusers').css('display','none');
      $('#manageusersline').css('display','none');
    }

    if($('#isparent').val() == 'true')
    {
      console.log("is parent!!")
      $('#consertingBoard').show();
    }
    else
    {
      console.log("is not parent!!")
      $('#consertingBoard').hide();
    }
  }

  $(document).ready(function() {
    managementViewpage();
    
    // table = $('#tableWithExportOptions').DataTable(tableOpt);

    var url2 = '/studenttestpapers/' + $('#usergrade').val() + "/" + $('#userclass').val() + "/" + $('#userid').val();
    console.log(url2);
    $('#tableWithExportOptions').DataTable().ajax.url(url2).load(null, false);
    //$('#datable_1').DataTable().ajax.load(null, false);
  });

  </script>
  </body>
</html>