<!-- Header 호출 -->
<% include ./common/header-student.ejs %>

  <body class="fixed-header horizontal-menu horizontal-app-menu dashboard">
    <!-- START PAGE-CONTAINER -->
    <div class="header p-r-0 bg-primary">
      <div class="header-inner header-md-height">
        <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu text-white" data-toggle="horizontal-menu"></a>
        <div class="">
          <div class="brand inline no-border hidden-xs-down">
            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_white_2x.png" width="200" height="40">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <!-- START User Info-->
          <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down text-white">
              <span class="semi-bold" style="color: #ffffff">내정보(<%=user.name%>)</span>
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userProfile">
                <span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
                  <img src="assets/img/profiles/avatar.png" alt="" data-src="assets/img/profiles/avatar.png" data-src-retina="assets/img/profiles/avatar_small2x.png" width="32" height="32">
                  </span>
              </button>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a href="/userinfo" class="dropdown-item"><i class="pg-settings_small"></i>마이페이지</a>
                <a href="/admin-index" class="dropdown-item" id="pageManagement" style="display:none"><i class="pg-outdent"></i>관리자 페이지</a>
                <a href="#" class="clearfix bg-master-lighter dropdown-item">
                  <span class="pull-left" onclick="logout()">Logout</span>
                  <span class="pull-right"><i class="pg-power"></i></span>
                </a>
              </div>
            </div>
            <!-- END User Info-->         
        </div>
      </div>
      <div class="bg-white">
        <div class="container">
          <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
            <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
            </a>
            <ul>
              <li>
                <a href="/index">홈</a>
              </li>
              <li>
                <a href="/notice"><span class="title">공지사항</span></a>
              </li>
              <li>
                <a href="/studystatus"><span class="title">학습 기록</span></a>
              </li>
              <li>
                <a href="javascript:;">
                  <span class="title">오답 관리</span>
                  <span class="arrow"></span>
                </a>
                <ul class="">
                  <li class="">
                    <a href="/wronganser"><span class="title">나의 틀린문제</span></a>
                  </li>
                  <li>
                    <a href="/report"><span class="title">나의 오답노트</span></a>
                  </li>
                  <li class="">
                    <a href="/wanote"><span class="title">추천 오답노트</span></a>
                  </li>
                </ul>
              </li>
              <li class=" active">
                <a href="/userinfo"  style="color:black"><span class="title">마이페이지</span></a>
              </li>
              <li id="consertingBoard">
                <a href="/consulting"><span class="title">상담 게시판</span></a>
              </li>
            </ul>            
          </div>
        </div>
      </div>
    </div>
    <div class="page-container ">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
          <div class="bg-white">
            <div class="container">
              <ol class="breadcrumb breadcrumb-alt">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">마이페이지</li>
              </ol>
            </div>
          </div>
          <!-- START CONTAINER FLUID -->
          <div class=" container    container-fixed-lg">
            <!-- START BREADCRUMB -->
            <div class="row">
              <div class="col-xl-7 col-lg-6 ">
                <!-- START card -->
                <div class="card card-transparent">
                  <div class="card-block">
                    <form id="form-personal" role="form" autocomplete="off">
                      <div class="row clearfix">
                        <div class="col-md-12">
                          <div class="form-group form-group-default required">
                            <label>I D</label>
                            <input type="text" class="form-control" name="userId" value="<%= user.userid%>" disabled>
                          </div>                          
                        </div>                      
                      </div>
                      <div class="row clearfix">
                        <div class="col-md-12">
                          <div class="form-group form-group-default required">
                            <label>이 름</label>
                            <input type="text" class="form-control" name="userName" value="<%= user.name%>">
                          </div>
                        </div>
                      </div>    
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group form-group-default">
                            <label>최근 접속일시</label>
                            <input type="text" class="form-control" name="lastConnect" value="" id="lastincome">
                          </div>
                        </div>
                      </div>
                      <div class="clearfix"></div>
                      <div style="position: left">                        
                        <button class="btn btn-complete btn-cons" data-toggle="modal" data-target="#modalSlideUp">비밀번호 변경</button>
                        <!-- <button class="btn btn-primary" type="submit">정보 수정</button> -->
                      </div>
                      <!-- Modal -->
                      <div class="modal fade slide-up disable-scroll" id="modalSlideUp" tabindex="-1" role="dialog" aria-hidden="false">
                          <div class="modal-dialog ">
                            <div class="modal-content-wrapper">
                              <div class="modal-content">
                                <div class="modal-header clearfix text-left">
                                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                                  </button>
                                  <h5 class="semi-bold"><%= user.name%> <span>비밀번호 변경</span></h5>
                                  <p class="p-b-10">비밀번호를 변경합니다.</p>
                                </div>
                                <div class="modal-body">
                                  <form role="form">
                                    <div class="form-group-attached">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group form-group-default">
                                            <label>비밀번호</label>
                                            <input type="password" class="form-control" id="inputEditPassword">
                                          </div>
                                        </div>
                                      </div>
                                      <div class="row">
                                        <div class="col-md-12">
                                          <div class="form-group form-group-default">
                                            <label>비밀번호 확인</label>
                                            <input type="password" class="form-control" id="inputEditPasswordConfirm">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </form>
                                  <div class="row">
                                    <div class="col-md-8">
                                     
                                    </div>
                                    <div class="col-md-4 m-t-10 sm-m-t-10" style="position: right;">
                                      <button type="button" class="btn btn-primary btn-block m-t-5" onclick="userInfoUpdate()">변 경</button>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <!-- /.modal-content -->
                          </div>
                        </div>
                        <!-- /.modal-dialog -->
                    </form>
                  </div>
                </div>
                <!-- END card -->
              </div>
              <div class="col-xl-5 col-lg-6">
                <!-- START card -->
                <div class="card card-transparent">
                  <!-- START card -->
                <div class="card card-transparent">                  
                  <div class="card-block">
                    <div class="table-responsive">
                      <table class="table table-hover table-condensed" id="condensedTable">
                        <thead>
                          <tr>
                            <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user
											Comman Practice Followed
											-->
                            <th style="width:50%">IP</th>
                            <th style="width:50%">접속 일시</th>
                          </tr>
                        </thead>
                        <tbody>
                          
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <!-- END card -->
                </div>
                <!-- END card -->
              </div>
            </div>
          </div>
          <!-- END CONTAINER FLUID -->
          
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class=" container   container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
    </div>
    <!-- END PAGE CONTAINER -->
    
      <!-- Footer -->
			<!-- <footer class="footer container-fluid pl-30 pr-30">
          <div class="row">
            <div class="col-sm-12">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </div>
          </div> -->
          <!-- 사용자 정보 값 -->
          <input type="hidden" id="isadmin" value=<%= user.admin%>>
          <input type="hidden" id="isparent" value=<%= user.isparent%>>
          <input type="hidden" id="userid" value=<%= user.userid%>>
          <input type="hidden" id="userindex" value=<%= user.id%>>
          <input type="hidden" id="username" value=<%= user.name%>>
          <input type="hidden" id="userpassword" value=<%= user.password%>>
        </footer>
        <!-- /Footer -->
    </div>
    <!-- END OVERLAY -->
    <!-- BEGIN VENDOR JS -->
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-validation/js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" type="text/javascript"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/form_layouts.js" type="text/javascript"></script>
    <script src="assets/js/scripts.js" type="text/javascript"></script>

    <script src="/admin/dist/js/moment/min/moment.min.js"></script>
    <!-- END PAGE LEVEL JS -->

    <script>

      // 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
      };	
	// 관리자 페이지 표시
	function managementViewpage() {

    if(document.getElementById('isadmin').value === 'true')
    {
      $('#manageusers').css('display','');
      $('#manageusersline').css('display','');
    }
    else
    {
      $('#manageusers').css('display','none');
      $('#manageusersline').css('display','none');
    }

    if($('#isparent').val() == 'true')
    {
      console.log("is parent!!")
      $('#consertingBoard').show();
    }
    else
    {
      console.log("is not parent!!")
      $('#consertingBoard').hide();
    }
  }


	function readIpList(){
		var url = '';
		url = "/iplists/" + document.getElementById('userid').value;
    
		var req = new XMLHttpRequest();
		req.open('GET', url);
		req.send();

		req.onreadystatechange = function (e) {
			if (req.readyState === 4) {
				if(req.status === 200) {

					// 리스트 만들기
          var jsonResponse = JSON.parse(req.responseText).data;
					for(var i=0; i<jsonResponse.length; i++){	

            if(i === 1)
            {
              $('#lastincome').val(moment(jsonResponse[i].createdAt).format("YYYY-MM-DD HH:mm:ss"));
            }
						
						// 그룹 리스트
						var tr = document.createElement("tr");
						var strHtml = '';
						strHtml += '<td class="v-align-middle">'+jsonResponse[i].ip.replace("::ffff:", "")+'</td>';
            strHtml += '<td class="v-align-middle semi-bold">'+ moment(jsonResponse[i].createdAt).format("YYYY-MM-DD HH:mm:ss") +'</td>';
						
						tr.innerHTML = strHtml;
						//tr.setAttribute("onclick", "setChildValue(" + jsonResponse[i].id + ")");
						document.getElementById('condensedTable').appendChild(tr);
					}
				} else {
				console.log("Error!");
				}
			}
		};	
  }
  
  function userInfoUpdate() {
				var check = confirm("정보를 수정하시겠습니까?")
				if(check)
				{
          if($('#inputEditPassword').val() === $('#inputEditPasswordConfirm').val())
          {
            var req = new XMLHttpRequest();
            req.open('PUT', '/users');
            req.setRequestHeader('Content-type', 'application/json');
            req.send(JSON.stringify(
              {
                userid: document.getElementById('userid').value,
                name: document.getElementById('username').value,
                password: document.getElementById('inputEditPassword').value
              })
            );
          
            req.onreadystatechange = function (e) 
            {
              if (req.readyState === 4) 
              {
                if(req.status === 200) 
                {
                  alert("정보가 변경되어 다시 로그인 해주세요.")
                  location.href="/";
                } 
                else 
                {
                  console.log("Error!");
                }
              }
            }
          }
          else
          {
            alert('비밀번호가 일치하지 않습니다.\n다시 확인해 주세요.');
          }
				};
			}

	$(document).ready(function() {
    if($('#userpassword').val() === 'password')
    {
      alert('비밀번호가 기본 비밀번호입니다.\n비밀번호를 변경해 주세요.')
    }

    managementViewpage();
    readIpList();
  });
  </script>
  </body>
</html>