<!-- Header 호출 -->
<% include ./common/header-student.ejs %>

  <body class="fixed-header horizontal-menu horizontal-app-menu dashboard">
    <!-- START PAGE-CONTAINER -->
    <div class="header p-r-0 bg-primary">
      <div class="header-inner header-md-height">
        <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu text-white" data-toggle="horizontal-menu"></a>
        <div class="">
          <div class="brand inline no-border hidden-xs-down">
            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_white_2x.png" width="200" height="40">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <!-- START User Info-->
          <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down text-white">
              <span class="semi-bold" style="color: #ffffff">내정보(<%=user.name%>)</span>
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userProfile">
                <span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
                  <img src="assets/img/profiles/avatar.png" alt="" data-src="assets/img/profiles/avatar.png" data-src-retina="assets/img/profiles/avatar_small2x.png" width="32" height="32">
                  </span>
              </button>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a href="/userinfo" class="dropdown-item"><i class="pg-settings_small"></i>마이페이지</a>
                <a href="/admin-index" class="dropdown-item" id="pageManagement" style="display:none"><i class="pg-outdent"></i>관리자 페이지</a>
                <a href="#" class="clearfix bg-master-lighter dropdown-item">
                  <span class="pull-left" onclick="logout()">Logout</span>
                  <span class="pull-right"><i class="pg-power"></i></span>
                </a>
              </div>
            </div>
            <!-- END User Info-->            
        </div>
      </div>
      <div class="bg-white">
        <div class="container">
          <div class="menu-bar header-sm-height" data-pages-init='horizontal-menu' data-hide-extra-li="4">
            <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-close" data-toggle="horizontal-menu">
            </a>
            <ul>
              <li>
                <a href="/index">홈</a>
              </li>
              <li>
                <a href="/notice"><span class="title">공지사항</span></a>
              </li>
              <li>
                <a href="/studystatus"><span class="title">학습 기록</span></a>
              </li>
              <li class=" active">
                <a href="javascript:;" style="color:black">
                  <span class="title">오답 관리</span>
                  <span class="arrow"></span>
                </a>
                <ul class="">
                  <li class="">
                    <a href="/wronganser"><span class="title">나의 틀린문제</span></a>
                  </li>
                  <li>
                    <a href="/report"><span class="title">나의 오답노트</span></a>
                  </li>
                  <li class="">
                    <a href="/wanote"><span class="title">추천 오답노트</span></a>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/userinfo"><span class="title">마이페이지</span></a>
              </li>
              <li id="consertingBoard">
                <a href="/consulting"><span class="title">상담 게시판</span></a>
              </li>
            </ul>            
          </div>
        </div>
      </div>
    </div>
    <div class="page-container ">
      <!-- START PAGE CONTENT WRAPPER -->
      <div class="page-content-wrapper ">
        <!-- START PAGE CONTENT -->
        <div class="content ">
          <!-- Modal -->
          <!-- 시험보기 -->
          <div class="modal fade slide-up disable-scroll" id="modalTest" tabindex="-1" role="dialog" aria-hidden="false">
            <div class="modal-dialog ">
              <div class="modal-content-wrapper">
                <div class="modal-content">
                  <div class="modal-header clearfix text-left">
                    <button type="button" class="close" aria-hidden="true"><i class="pg-close fs-14"></i>
                    </button>
                    <h5 id="doTestCount"></h5>
                    <p class="p-b-10" id="doTestDate"></p>
                  </div>
                  <div class="modal-body">
                    <form role="form">
                      <div class="form-group-attached">
                        <!-- START card -->
                        <div class="card card-transparent">
                          <div class="card-block">
                            <div class="table-responsive" style="width:100%; height:800px; overflow:auto">
                              <table class="table table-striped" width="100%" border="0" cellspacing="0" cellpadding="0" id="anserPaper">
                                <thead>
                                  <tr>
                                    <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user Comman Practice Followed-->
                                    <th style="width:10%">No</th>
                                    <th style="width:90%">정답</th>
                                  </tr>
                                </thead>
                                <tbody id="anserPaperBody">
                                  
                                </tbody>
                              </table>
                            </div>
                            <div style="display:flex;">
                              <div class="btn  btn-primary btn-rounded" onclick="saveAnser()">제 출</div>
                              <div style="flex:1"></div>
                              <button class="btn  btn-primary btn-rounded">취 소</button>
                            </div>
                          </div>
                        </div>
                <!-- END card -->
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
          </div>
          <!-- 시험보기 상세 -->
          <div class="modal fade slide-up disable-scroll" id="modalTestDetail" tabindex="-1" role="dialog" aria-hidden="false">
              <div class="modal-dialog ">
                <div class="modal-content-wrapper">
                  <div class="modal-content">
                    <div class="modal-header clearfix text-left">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="pg-close fs-14"></i>
                      </button>
                      <h5>[10문제] <span class="semi-bold">2017년 2학기 시험 1차</span></h5>
                      <p class="p-b-10">응시일 : 2017-11-18</p>
                    </div>
                    <div class="modal-body">
                      <form role="form">
                        <div class="form-group-attached">
                          <!-- START card -->
                          <div class="card card-transparent">
                            <div class="card-block">
                              <div class="table-responsive">
                                <table class="table table-striped" id="datable_1">
                                  <thead>
                                    <tr>
                                      <!-- NOTE * : Inline Style Width For Table Cell is Required as it may differ from user to user Comman Practice Followed-->
                                      <th style="width:10%">No</th>
                                      <th style="width:60%">정답</th>
                                      <th style="width:10%">문제내용</th>
                                      <th style="width:10%">영상강의</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                  <!-- END card -->
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
            </div>
          <!-- /.modal-dialog -->

          <!-- 문제보기 Modal -->
          <div id="showImgModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h5 class="modal-title" id="showQuestionLabel"></h5>
                </div>
                <div class="modal-body">
                  <img src="" id="showImgSrc" style="max-width: 100%; max-height: 100%">
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- 문제보기 Modal -->

          <!-- 오답노트 추가 Modal -->
          <div id="addWrongAnser" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h5 class="modal-title" id="myModalLabel">오답노트 추가</h5>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="col-md-12 mb-20">
                      <label class="control-label mb-10">이름</label>
                      <input id="inputTestpaperName" type="text" class="form-control" value="">
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-success waves-effect" onclick="makeWronganserMaker()">추 가</button>
                  <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">취 소</button>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- 시험지 추가 Modal -->

          <!-- QR보기 Modal -->
          <div id="showQRModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" style="width:10%">
              <div class="modal-content" style="width:300px; text-align: center; position: relative;">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h5 class="modal-title" id="showQRcodeLabel"></h5>
                </div>
                <div class="modal-body">
                  <img src="" id="showQRcodeSrc">
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <!-- 문제보기 Modal -->

          <!-- 해설 등록 -->
          <!-- Modal -->															
          <div aria-hidden="true" role="dialog" tabindex="-1" id="addCommentaryModal" class="modal fade in" style="display: none;">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                  <h4 class="modal-title" id="myModalLabel">해설 등록</h4>
                </div>

                <div class="modal-body">
                  <div class="form-horizontal form-material">
                    <div class="form-group">
                      <div class="col-md-12 mb-20">
                        <p style="color:black">해설 내용</p>

                        
                        <!-- <textarea rows="30" cols="30" class="form-control" id="inputCommentary"></textarea> -->
                        <!-- <p id="inputCommentary"></p> -->
                        <img src="" id="inputCommentary" style="max-width: 100%; max-height: 100%">
                        <input type="hidden" id="idCommentary"/>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer" style="display:flex;">
                  <div>
                  </div>
                  <div style="flex:1"></div>
                  <div>
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">확 인</button>	
                  </div>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
          <div class="bg-white">
            <div class="container">
              <ol class="breadcrumb breadcrumb-alt">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active">나의 틀린문제</li>
              </ol>
            </div>
          </div>
          <!-- START CONTAINER FLUID -->
          <div class=" no-padding    container-fixed-lg bg-white">
            <div class="container">
              <!-- START card -->
              <div class="card card-transparent">
                <div class="card-header  d-flex justify-content-between">
                  <div class="card-title">나의 틀린문제
                  </div>
                  <div class="export-options-container"></div>
                  <!-- <div class="clearfix"></div> -->
                </div>
                <div class="card-block">
                  <table class="table table-striped" id="tableWithExportOptions">
                    <thead>
                      <tr>
                        <th width='5%'></th>
                        <th width='5%'>번 호</th>
                        <th width='10%'>단 원</th>
                        <th width='15%'>이 름</th>
                        <th width='10%'>유 형</th>
                        <th width='10%'>난이도</th>
                        <th width='8%'>정 답</th>
                        <th width='7%'>오 답</th>
                        <th width='10%'>문 제</th>
                        <th width='10%'>해 설</th>
                        <th width='10%'>영 상</th>
                      </tr>
                    </thead>
                    <tbody>  
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="form-actions mt-10" style="display: flex; padding : 30px">
                <div style="flex:1"></div>
                <button class="btn btn-primary btn-anim" data-toggle="modal" data-target="#addWrongAnser">
                  <i class="fa fa-sign-out"></i>
                  <span class="btn-text">오답노트 생성</span>
                </button>
              </div>
              <!-- END card -->
            </div>
          </div>
          <!-- END CONTAINER FLUID -->
        </div>
        <!-- END PAGE CONTENT -->
        <!-- START COPYRIGHT -->
        <!-- START CONTAINER FLUID -->
        <!-- START CONTAINER FLUID -->
        <div class=" container   container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>
        <!-- END COPYRIGHT -->
      </div>
      <!-- END PAGE CONTENT WRAPPER -->
      <!-- Footer -->
			<!-- <footer class="footer container-fluid pl-30 pr-30">
          <div class="row">
            <div class="col-sm-12">
              <p>Copyright ©2018 Light of Math. All rights reserved.</p>
            </div>
          </div> -->
          <!-- 사용자 정보 값 -->
          <input type="hidden" id="isadmin" value=<%= user.admin%>>
          <input type="hidden" id="isparent" value=<%= user.isparent%>>
          <input type="hidden" id="userid" value=<%= user.userid%>>
          <input type="hidden" id="userindex" value=<%= user.id%>>
          <input type="hidden" id="username" value=<%= user.name%>>
          <input type="hidden" id="usergrade" value=<%= user.grade%>>
          <input type="hidden" id="testindex" value="">
          <input type="hidden" id="testtitle" value="">
          <input type="hidden" id="testtotal" value="">
          <input type="hidden" id="testdate" value="">
          <input type="hidden" id="testgrade" value="">
        </footer>
        <!-- /Footer -->
    </div>
    <!-- END PAGE CONTAINER -->
    <!-- BEGIN VENDOR JS -->
    <script src="assets/plugins/pace/pace.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-1.11.1.min.js" type="text/javascript"></script>
    <script src="assets/plugins/modernizr.custom.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
    <script src="assets/plugins/tether/js/tether.min.js" type="text/javascript"></script>
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery/jquery-easy.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-unveil/jquery.unveil.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-ios-list/jquery.ioslist.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-actual/jquery.actual.min.js"></script>
    <script src="assets/plugins/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script type="text/javascript" src="assets/plugins/select2/js/select2.full.min.js"></script>
    <script type="text/javascript" src="assets/plugins/classie/classie.js"></script>
    <script src="assets/plugins/switchery/js/switchery.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/media/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/TableTools/js/dataTables.tableTools.min.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/media/js/dataTables.bootstrap.js" type="text/javascript"></script>
    <script src="assets/plugins/jquery-datatable/extensions/Bootstrap/jquery-datatable-bootstrap.js" type="text/javascript"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/datatables.responsive.js"></script>
    <script type="text/javascript" src="assets/plugins/datatables-responsive/js/lodash.min.js"></script>
    <!-- END VENDOR JS -->
    <!-- BEGIN CORE TEMPLATE JS -->
    <script src="pages/js/pages.min.js"></script>
    <!-- END CORE TEMPLATE JS -->
    <!-- BEGIN PAGE LEVEL JS -->
    <script src="assets/js/datatables4.js" type="text/javascript"></script>
    <script src="assets/js/scripts.js" type="text/javascript"></script>
    <!-- END PAGE LEVEL JS -->

    <!-- Time Func -->
	  <script src="/admin/dist/js/moment/min/moment.min.js"></script>

    <script type="text/javascript">

      // 로그 아웃
    function logout(){
      var req = new XMLHttpRequest();
      var url = '/logout';
      req.open('GET', url);
      req.send();

      location.href = '/';
      req.onreadystatechange = function (e) {
        if (req.readyState === XMLHttpRequest.DONE) {
          if(req.status === 200) {
            location.href = '/';
            }
          } else {
          console.log("Error!");
          }
        }
      };	

    // 변수

  // 이미지 보기
  function changeImg(path, textbook, number, name){
		// 주소 변경
		const imgQuest = document.getElementById('showImgSrc');
    imgQuest.src = '/img/' + path;
    console.log(path);

		// 타이틀 변경
		const imgLabel = document.getElementById('showQuestionLabel');
		imgLabel.innerHTML = '[' + textbook + '/' + number + '] ' + name;
  }
  
  // 해설 보기
  function changeCommImg(path, textbook, number, name){
		// 주소 변경
		const imgQuest = document.getElementById('inputCommentary');
		imgQuest.src = '/img/' + path;

		// 타이틀 변경
		const imgLabel = document.getElementById('showQuestionLabel');
		imgLabel.innerHTML = '[' + textbook + '/' + number + '] ' + name;
	}

  // 파일 다운로드
  function getFileDown(param){
		console.log('param = ' + param);
		if(!param)
			return '';
			
		var req = new XMLHttpRequest();
		//var url = '/download/' + param;
		let array = [];
		// array = param.split('\\');

		if(param.indexOf('\\') != -1)
		{
			array = param.split('\\');
		}
		else
		{
			array = param.split('/');
		}


		// var name = path.basename
		var url = '/wanotedownload/' + array[array.length-1];
		console.log(url);
		return url;



		// // 1. 파라미터 받기
		// if(!param)
		// 	return '';
		
		// // 2. 서버에 파일경로 요청
		// var req = new XMLHttpRequest();
		
		// // 3. 웹서버의 경로
  }

  // 오답지 생성
	function makeWronganserMaker() {
		let localTable = wanoteTable.$(".editor-active:checked", {"page": "all"});
		
		if(localTable.length === 0)
		{
			alert("선택 된 오답이 없습니다.");
			$('#addWrongAnser').modal('hide');
		}
		else if(document.getElementById('inputTestpaperName').value)
		{
			console.log("오답지 생성");
			let data = [30];
			// let total = localTable.length;

			for(i=0; i<30; i++)
			{
				data[i] = localTable[i] || null;
			}
			
			// console.log("total : " + total);
			console.log(data[0]);
			var req = new XMLHttpRequest();
					req.open('POST', '/reports');

					req.setRequestHeader('Content-type', 'application/json');
					req.send(JSON.stringify({
            name: document.getElementById('inputTestpaperName').value,
            userid: document.getElementById('userid').value,
            grade: document.getElementById('usergrade').value,

						question1 : data[0] === null? null : data[0].value,
						question2 : data[1] === null? null : data[1].value,
						question3 : data[2] === null? null : data[2].value,
						question4 : data[3] === null? null : data[3].value,
						question5 : data[4] === null? null : data[4].value,
						question6 : data[5] === null? null : data[5].value,
						question7 : data[6] === null? null : data[6].value,
						question8 : data[7] === null? null : data[7].value,
						question9 : data[8] === null? null : data[8].value,
						question10 : data[9] === null? null : data[9].value,
						question11 : data[10] === null? null : data[10].value,
						question12 : data[11] === null? null : data[11].value,
						question13 : data[12] === null? null : data[12].value,
						question14 : data[13] === null? null : data[13].value,
						question15 : data[14] === null? null : data[14].value,
						question16 : data[15] === null? null : data[15].value,
						question17 : data[16] === null? null : data[16].value,
						question18 : data[17] === null? null : data[17].value,
						question19 : data[18] === null? null : data[18].value,
						question20 : data[19] === null? null : data[19].value,
						question21 : data[20] === null? null : data[20].value,
						question22 : data[21] === null? null : data[21].value,
						question23 : data[22] === null? null : data[22].value,
						question24 : data[23] === null? null : data[23].value,
						question25 : data[24] === null? null : data[24].value,
						question26 : data[25] === null? null : data[25].value,
						question27 : data[26] === null? null : data[26].value,
						question28 : data[27] === null? null : data[27].value,
						question29 : data[28] === null? null : data[28].value,
						question30 : data[29] === null? null : data[29].value
				}));

				req.onreadystatechange = function (e) {
				if (req.readyState === XMLHttpRequest.DONE) {
					if(req.status === 200) {
						// console.log("addTestPaper() : " + req.responseText);
						// readTextbook();
					} else {
						console.log("Error!");
					}
				}
			};
			$('#addWrongAnser').modal('hide');
		}
		else{
			alert("오답노트 명을 입력해 주세요.")
		}
	}

  // 관리자 페이지 표시
  function managementViewpage() {
    if(document.getElementById('isadmin').value === 'true')
    {
      $('#manageusers').css('display','');
      $('#manageusersline').css('display','');
    }
    else
    {
      $('#manageusers').css('display','none');
      $('#manageusersline').css('display','none');
    }

    if($('#isparent').val() == 'true')
    {
      console.log("is parent!!")
      $('#consertingBoard').show();
    }
    else
    {
      console.log("is not parent!!")
      $('#consertingBoard').hide();
    }
  }

  // QR 보기
	function changeQR(path, name){
		// 주소 변경
		const imgQRcode = document.getElementById('showQRcodeSrc');
		// imgQRcode.src = generateBarCode(path);
		// console.log(generateBarCode(path));
		imgQRcode.src = generateBarCode(path);

		// 타이틀 변경
		const QRLabel = document.getElementById('showQRcodeLabel');
		QRLabel.innerHTML = name;
  }
  
  // QR코드
	function generateBarCode(path)
	{
		console.log("generateBarCode");
		var url = 'https://api.qrserver.com/v1/create-qr-code/?data=' + path + '&amp;size=50x50';
		console.log(url);
		return url;
	}

  // 해설 보기
	function changeCommentary(id){
    $('#idCommentary').val(id);

		$.ajax({
			type: 'GET',
			url: '/commentarys/' + id,
			success: function (data) {
				if(data.data[0])
				{
          // $('#inputCommentary').html(data.data[0].commentary.replace(/\n/gi, "<br>"))
          $('#inputCommentary').attr("src", '/img2/'+data.data[0].id);
          console.log('/img/'+data.data[0].id);

					// $('#btnDeleteCommentary').show();
					// $('#btnEditCommentary').show();
					// $('#btnAddCommentary').hide();
				}
				else
				{
					// $('#btnDeleteCommentary').hide();
					// $('#btnEditCommentary').hide();
					// $('#btnAddCommentary').show();
				}				
			}
		})
	}

  $(document).ready(function() {
    managementViewpage();
    
    // table = $('#tableWithExportOptions').DataTable(tableOpt);

    // var url2 = '/wrongpapers2/' + $('#userid').val();
    // console.log(url2);
    var url2 = '/wrongansers2/' + $('#userid').val();
    $('#tableWithExportOptions').DataTable().ajax.url(url2).load(null, false);
  });

  </script>
  </body>
</html>