<!-- Footer -->
<footer class="footer container-fluid pl-30 pr-30">
<div class="row">
    <div class="col-sm-12">
        <p>Copyright ©2018 Light of Math. All rights reserved.</p>
    </div>
</div>
<!-- 사용자 정보 값 -->
<input type="hidden" id="isadmin" value=<%= user.admin%>>
<input type="hidden" id="userid" value=<%= user.userid%>>
<input type="hidden" id="userindex" value=<%= user.id%>>
<input type="hidden" id="username" value=<%= user.name%>>
<input type="hidden" id="usergrade" value=<%= user.grade%>>
<input type="hidden" id="userclassname" value=<%= user.classname%>>
<input type="hidden" id="filepath" value="">
<input type="hidden" id="tempindex" value="">
<input type="hidden" id="userpassword" value=<%= user.password%>>
</footer>
<!-- /Footer -->