<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<title>수학의 빛</title>
	<meta name="author" content="hencework"/>
	
	<!-- Favicon -->
	<link rel="shortcut icon" href="admin/favicon.ico">
	<link rel="icon" href="admin/favicon.ico" type="image/x-icon">
	
	<!-- Data table CSS -->
	<link href="admin/vendors/bower_components/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" type="text/css"/>
    
    <!-- Bootstrap Wysihtml5 css -->
    <link rel="stylesheet" href="/admin/vendors/bower_components/bootstrap3-wysihtml5-bower/dist/bootstrap3-wysihtml5.css" />
    
    <!-- 달력 -->
	<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.0/themes/base/jquery-ui.css" />

	<!-- Custom CSS -->
    <link href="admin/dist/css/style.css" rel="stylesheet" type="text/css">
    
    <style type="text/css">
		.ui-datepicker{ font-size: 13.2px; width: 293px; height:295px; z-index:100; margin:0px;}
	</style>
</head>

