<!-- Left Sidebar Menu -->
<div class="fixed-sidebar-left">
<ul class="nav navbar-nav side-nav nicescroll-bar">
    <li class="navigation-header">
        <span>전체</span> 
        <i class="zmdi zmdi-more"></i>
    </li>			
    <li>
        <a href="/admin-index" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-dashboard mr-20"></i>
                <span class="right-nav-text">대시보드</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="/admin-notice" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-comment mr-20"></i>
                <span class="right-nav-text">공지사항</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="/admin-consulting" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-comment mr-20"></i>
                <span class="right-nav-text">학부모 상담</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li class="navigation-header">
        <span>문제 관리</span> 
        <i class="zmdi zmdi-more"></i>
    </li>
    <li>
        <a href="/admin-codemanager" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-pencil mr-20"></i>
                <span class="right-nav-text">문제 코드</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="/admin-textbook" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-check-square-o mr-20"></i>
                <span class="right-nav-text">문제</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="/admin-testpaper" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-file-o mr-20"></i>
                <span class="right-nav-text">시험지</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="/admin-wronganser" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-check-square-o mr-20"></i>
                <span class="right-nav-text">오답</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="/admin-wanote" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-file-o mr-20"></i>
                <span class="right-nav-text">오답노트</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li class="navigation-header">
        <span>학급 관리</span> 
        <i class="zmdi zmdi-more"></i>
    </li>	
    <li>
        <a href="/admin-student" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-child mr-20"></i>
                <span class="right-nav-text">학생</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li id="menuTeacher">
        <a href="/admin-teacher" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-user mr-20"></i>
                <span class="right-nav-text">선생님</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <!-- <li class="navigation-header">
        <span>사이트 관리</span> 
        <i class="zmdi zmdi-more"></i>
    </li>
    <li>
        <a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-comment mr-20"></i>
                <span class="right-nav-text">외부 공지사항</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa fa-fa mr-20"></i>
                <span class="right-nav-text">수업 정보</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
    <li>
        <a href="#" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-user mr-20"></i>
                <span class="right-nav-text">선생님 정보</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li> -->
    <li class="navigation-header">
        <span>정보</span> 
        <i class="zmdi zmdi-more"></i>
    </li>
    <li>
        <a href="/admin-userinfo" data-toggle="collapse" data-target="#dropdown_dr_lv1">
            <div class="pull-left">
                <i class="fa fa-user mr-20"></i>
                <span class="right-nav-text">내 정보</span>
            </div>
            <div class="clearfix"></div>
        </a>
    </li>
</ul>
</div>
<!-- /Left Sidebar Menu -->	