<div class="header-inner header-md-height">
        <a href="#" class="btn-link toggle-sidebar hidden-lg-up pg pg-menu text-white" data-toggle="horizontal-menu"></a>
        <div class="">
          <div class="brand inline no-border hidden-xs-down">
            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_white_2x.png" width="200" height="40">
          </div>
        </div>
        <div class="d-flex align-items-center">
          <!-- START User Info-->
          <div class="pull-left p-r-10 fs-14 font-heading hidden-md-down text-white">
              <span class="semi-bold" style="color: #ffffff">내정보(<%=user.name%>)</span>
            </div>
            <div class="dropdown pull-right">
              <button class="profile-dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="userProfile">
                <span class="thumbnail-wrapper d32 circular inline sm-m-r-5">
                  <img src="assets/img/profiles/avatar.png" alt="" data-src="assets/img/profiles/avatar.png" data-src-retina="assets/img/profiles/avatar_small2x.png" width="32" height="32">
                  </span>
              </button>
              <div class="dropdown-menu dropdown-menu-right profile-dropdown" role="menu">
                <a href="/userinfo" class="dropdown-item"><i class="pg-settings_small"></i>마이페이지</a>
                <a href="/admin-index" class="dropdown-item" id="pageManagement" style="display:none"><i class="pg-outdent"></i>관리자 페이지</a>
                <a href="#" class="clearfix bg-master-lighter dropdown-item">
                  <span class="pull-left" onclick="logout()">Logout</span>
                  <span class="pull-right"><i class="pg-power"></i></span>
                </a>
              </div>
            </div>
            <!-- END User Info-->           
        </div>
      </div>