/*
Theme Name: Light of Math v2
Author: MJ Kim
Author URI: https://voidlink.io
Description:
Version: 1.0.0
Note:
*/
/* -------------------------------------------
[Table of contents]
1.0 RESET BROWSER
	1.1 FORM THEME
	1.2 TABLE THEME
	1.3 WORDPRESS THEME
2.0 DEFAULT CLASS
    2.1 CUSTOM COLUMNS BOOTSTRAP
    2.2 CAROUSEL THEME
3.0 HEADER THEME
	3.1 HEADER NAV THEME
	3.2 MENU MOBILE
	3.3 HEADER BANNER THEME
4.0 FOOTER THEME
5.0 BLOG THEME
	5.1 PAGE HEADING THEME
    5.2 TAB BOOTSTRAP THEME
    5.3 BLOG ITEM THEME
    5.4 SINGLE BLOG
6.0 SHORTCODE THEME
	6.1 SECTION-TITLE
	6.2 BLOCK CONTENT
	6.3 LEXIO COUNTER UP
	6.4 LEXIO FEATURE
	6.5 LEXIO TEAM
	6.6 LEXIO VIDEO
	6.7 LEXIO SKILL
	6.8 TITLE LINE
	6.9 LEXIO ABOUT
	6.10 LEXIO PORTFOLIO
    6.11 LEXIO BLOG CAROUSEL
    6.12 LEXIO QUOTE SOCIAL
    6.13 LEXIO TESTIMONIAL
    6.14 BANNER BOTTOM
    6.15 CONTACT
    6.16 LEXIO SERVICE
7.0 PROJECT THEME
    7.1 PROJECT HEADER
    7.2 PROJECT FOOTER
    7.3 PROJECT INFO
    7.4 PROJECT 1
    7.5 PROJECT 2
    7.6 PROJECT 3
    7.7 PROJECT 4
8.0 CUSTOM CSS THEME
    8.1 SECTION TITLE
    8.2 BLOCK CONTENT
    8.3 LEXIO COUNTER UP
    8.4 LEXIO TEAM
    8.5 LEXIO VIDEO
    8.6 TITLE LINE
    8.7 LEXIO ABOUT
	8.8 LEXIO PORTFOLIO
    8.9 LEXIO QUOTE
    8.10 LEXIO BLOG
    8.11 LEXIO QUOTE SOCIAL
    8.12 LEXIO TESTIMONIAL
    8.13 CONTACT
    8.14 PROJECT 1
    8.15 PROJECT 2
    8.16 SINGLE BLOG
    8.16 BLOG
9.0 RESPONSIVE
------------------------------------------- */

/* ==========================================================================
  1.0 RESET BROWSER
========================================================================== */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

@font-face {
	font-family: "BebasNeue";
	src: url("assets/fonts/BebasNeue-Regular.otf?v=1.0.4") format("opentype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'linecons';
	src: url('assets/fonts/linecons.eot?17392200');
	src: url('assets/fonts/linecons.eot?17392200#iefix') format('embedded-opentype'),
	url('assets/fonts/linecons.woff?17392200') format('woff'),
	url('assets/fonts/linecons.ttf?17392200') format('truetype'),
	url('assets/fonts/linecons.svg?17392200#linecons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: "linecons", sans-serif;
	font-style: normal;
	font-weight: normal;
	display: inline-block;
	text-decoration: inherit;
	text-align: center;
	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;
	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

}

.icon-music:before {
	content: '\e022';
}

.icon-search:before {
	content: '\e009';
}

.icon-mail:before {
	content: '\e019';
}

.icon-heart:before {
	content: '\e000';
}

.icon-star:before {
	content: '\e002';
}

.icon-user:before {
	content: '\e007';
}

.icon-videocam:before {
	content: '\e005';
}

.icon-camera:before {
	content: '\e00b';
}

.icon-photo:before {
	content: '\e01b';
}

.icon-attach:before {
	content: '\e029';
}

.icon-lock:before {
	content: '\e00d';
}

.icon-eye:before {
	content: '\e013';
}

.icon-tag:before {
	content: '\e00c';
}

.icon-thumbs-up:before {
	content: '\e01a';
}

.icon-pencil:before {
	content: '\e00f';
}

.icon-comment:before {
	content: '\e014';
}

.icon-location:before {
	content: '\e012';
}

.icon-cup:before {
	content: '\e016';
}

.icon-trash:before {
	content: '\e006';
}

.icon-doc:before {
	content: '\e018';
}

.icon-note:before {
	content: '\e01c';
}

.icon-cog:before {
	content: '\e00a';
}

.icon-params:before {
	content: '\e01f';
}

.icon-calendar:before {
	content: '\e02b';
}

.icon-sound:before {
	content: '\e004';
}

.icon-clock:before {
	content: '\e01d';
}

.icon-lightbulb:before {
	content: '\e00e';
}

.icon-tv:before {
	content: '\e003';
}

.icon-desktop:before {
	content: '\e011';
}

.icon-mobile:before {
	content: '\e017';
}

.icon-cd:before {
	content: '\e02d';
}

.icon-inbox:before {
	content: '\e015';
}

.icon-globe:before {
	content: '\e02f';
}

.icon-cloud:before {
	content: '\e001';
}

.icon-paper-plane:before {
	content: '\e01e';
}

.icon-fire:before {
	content: '\e028';
}

.icon-graduation-cap:before {
	content: '\e024';
}

.icon-megaphone:before {
	content: '\e023';
}

.icon-database:before {
	content: '\e021';
}

.icon-key:before {
	content: '\e008';
}

.icon-beaker:before {
	content: '\e025';
}

.icon-truck:before {
	content: '\e02e';
}

.icon-money:before {
	content: '\e020';
}

.icon-food:before {
	content: '\e026';
}

.icon-shop:before {
	content: '\e02a';
}

.icon-diamond:before {
	content: '\e010';
}

.icon-t-shirt:before {
	content: '\e027';
}

.icon-wallet:before {
	content: '\e02c';
}

body {
	font-family: "Nanum Gothic",'Montserrat', sans-serif;
	font-size: 16px;
	line-height: 26px;
	color: #a5a5a5;
	overflow-x: hidden;
}

label {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-weight: normal;
	color: #000000;
}

a {
	color: #000000;
	text-decoration: none;
}

a:hover, a:focus, a:active {
	text-decoration: none;
	outline: none;
	color: #e94c1f;
}

img {
	max-width: 100%;
	height: auto;
}

ul, ol {
	margin: 0;
	padding-left: 17px;
}

ul ul,
ul ol,
ol ol,
ol ul {
	padding-left: 17px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	line-height: 1.2;
	color: #000000;
	margin-top: 0;
}

h1 {
	font-size: 36px;
}

h2 {
	font-size: 30px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 20px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

p {
	margin-bottom: 26px;
}

blockquote, q {
	display: inline-block;
	padding: 10px 22px 12px 22px;
	border-left: 4px solid #e94c1f;
	color: #000000;
	font-size: 18px;
	line-height: 30px;
}

/* ==========================================================================
  1.1 FORM THEME
============================================================================ */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: polygon(0px 0px, 0px 0px, 0px 0px, 0px 0px);
	position: absolute !important;
	white-space: nowrap;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="search"],
input[type="url"],
textarea,
select {
	border: 2px solid #f0f0f0;
	border-radius: 0;
	padding: 0 26px;
	max-width: 100%;
	background-color: transparent;
	font-size: 16px;
	height: 56px;
	line-height: 56px;
}

textarea {
	line-height: 28px;
	padding: 15px 26px;
	height: auto;
	width: 100%;
}

button,
input[type="submit"] {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	display: inline-block;
	height: 56px;
	line-height: 56px;
	font-size: 16px;
	letter-spacing: 0.2em;
	color: #ffffff;
	padding: 0 15px;
	background: #000000;
	border: none;
	border-radius: 0;
}

button:hover,
input[type="submit"]:hover,
button:focus,
input[type="submit"]:focus {
	color: #ffffff;
	background: #e94c1f;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
input[type="submit"]:focus,
button:focus,
select:focus {
	outline: none;
	border-color: #e94c1f !important;
}

:focus {
	outline: none;
}

::-webkit-input-placeholder {
	text-align: inherit;
	color: inherit;
	opacity: 1;
	filter: alpha(opacity=100);
}

:-moz-placeholder {
	/* Firefox 18- */
	text-align: inherit;
	color: inherit;
	opacity: 1;
	filter: alpha(opacity=100);
}

::-moz-placeholder {
	/* Firefox 19+ */
	text-align: inherit;
	color: inherit;
	opacity: 1;
	filter: alpha(opacity=100);
}

:-ms-input-placeholder {
	text-align: inherit;
	color: inherit;
	opacity: 1;
	filter: alpha(opacity=100);
}

.return-message {
	line-height: 20px;
	padding: 10px 30px;
	margin-top: 15px;
}

/* ==========================================================================
  1.2 TABLE THEME
============================================================================ */
table {
	border: 1px solid #ebebeb;
	border-collapse: collapse;
	border-spacing: 0;
	table-layout: auto;
	width: 100%;
	margin-bottom: 20px;
}

table thead {
	background-color: #f8f8f8;
}

th, td {
	border: 1px solid #f0f0f0;
	padding: 10px;
	font-weight: normal;
}

table tr th:last-child,
table tr td:last-child {
	border-right: 0;
}

table tr:last-child td, table tr:last-child th {
	border-bottom: none;
}

/* ==========================================================================
  1.3 WORDPRESS THEME
============================================================================ */
.alignnone {
	margin: 5px 20px 20px 0;
}

img.alignnone {
	margin: 0;
}

.aligncenter,
div.aligncenter {
	display: block;
	margin: 5px auto 5px auto;
}

.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

.sticky {
	color: inherit;
}

.bypostauthor {
	color: inherit;
}

a img.alignright {
	float: right;
	margin: 5px 0 20px 20px;
}

a img.alignnone {
	margin: 5px 20px 20px 0;
}

a img.alignleft {
	float: left;
	margin: 5px 20px 20px 0;
}

a img.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto
}

.wp-caption {
	background: #ffffff;
	max-width: 100%; /* Image does not overflow the content area */
	padding: 5px 0;
	text-align: center;
	margin: 0;
}

.wp-caption.alignnone {
	margin: 5px 20px 20px 0;
	clear: both;
}

.wp-caption.alignleft {
	margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
	margin: 5px 0 20px 20px;
}

.wp-caption.aligncenter {
	margin: 0 auto;
}

.wp-caption img {
	border: 0 none;
	height: auto;
	margin: 0;
	max-width: 100%;
	padding: 0;
	width: auto;
}

.wp-caption p.wp-caption-text {
	font-size: 12px;
	line-height: 17px;
	padding: 10px 4px 5px;
	margin: 0 !important;
}

.gallery-caption {
	color: #707070;
	display: block;
	font-family: "Nanum Gothic","Noto Sans", sans-serif;
	font-size: 12px;
	line-height: 1.5;
	padding: 0.5em 0;
}

iframe {
	max-width: 100% !important;
}

.alignright {
	float: right;
	margin: 5px 0 20px 30px;
}

.alignleft {
	float: left;
	margin: 5px 30px 20px 0;
}

.gallery {
	margin-left: -0.5em;
	margin-right: -0.5em;
}

.gallery:after {
	display: table;
	content: "";
	clear: both;
}

.gallery-item {
	margin: 0;
	float: left;
	padding: 0.5em;
	font-size: 0.8125rem;
	font-style: italic;
	text-align: center;
}

.gallery-columns-1 .gallery-item {
	width: 100%;
	float: none;
}

.gallery-columns-2 .gallery-item {
	width: 50%
}

.gallery-columns-3 .gallery-item {
	width: 33.3333%
}

.gallery-columns-4 .gallery-item {
	width: 25%
}

.gallery-columns-5 .gallery-item {
	width: 20%
}

.gallery-columns-6 .gallery-item {
	width: 16.6667%
}

.gallery-columns-7 .gallery-item {
	width: 14.2857%
}

.gallery-columns-8 .gallery-item {
	width: 12.5%
}

.gallery-columns-9 .gallery-item {
	width: 11.1111%
}

.gallery-columns-2 .gallery-item:nth-child(2n+1),
.gallery-columns-3 .gallery-item:nth-child(3n+1),
.gallery-columns-4 .gallery-item:nth-child(4n+1),
.gallery-columns-5 .gallery-item:nth-child(5n+1),
.gallery-columns-6 .gallery-item:nth-child(6n+1),
.gallery-columns-7 .gallery-item:nth-child(7n+1),
.gallery-columns-8 .gallery-item:nth-child(8n+1),
.gallery-columns-9 .gallery-item:nth-child(9n+1) {
	clear: left;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
	display: none;
}

.page-links {
	margin-bottom: 20px;
}

.page-links > a,
.page-links > span:not(.page-links-title) {
	display: inline-block;
	min-width: 40px;
	height: 40px;
	line-height: 40px;
	background-color: #000000;
	border-radius: 4px;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	color: #ffffff;
	padding: 0 5px;
	margin: 0 10px;
}

.page-links > span:not(.page-links-title),
.page-links > a:hover {
	background-color: #e94c1f;
}

.post-title,
.widget {
	-ms-word-wrap: break-word;
	word-wrap: break-word;
}

.widget_rss ul li .rsswidget {
	font-weight: 600;
}

.widget_rss .rss-date {
	display: block;
	font-family: "Nanum Gothic",'lora', sans-serif;
	font-size: 14px;
	font-style: italic;
	line-height: 30px;
	color: #ababab;
}

.widget_calendar .calendar_wrap tr,
.widget_calendar .calendar_wrap td {
	padding: 0;
	text-align: center;
}

/* ==========================================================================
    2.0 DEFAULT CLASS
========================================================================== */
.padding-0 {
	padding-left: 0;
	padding-right: 0;
}

.container-outer {
	width: 1690px;
	padding-left: 15px;
	padding-right: 15px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.container-inner {
	width: 810px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

/* ==========================================================================
    2.1 CUSTOM COLUMNS BOOTSTRAP
========================================================================== */
/*CUSTOM BOOSTRAP 5 COLUMNS*/
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
}

.col-xs-15 {
	width: 20%;
	float: left;
}

@media (min-width: 768px) {
	.col-sm-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 992px) {
	.col-md-15 {
		width: 20%;
		float: left;
	}
}

@media (min-width: 1200px) {
	.col-lg-15 {
		width: 20%;
		float: left;
	}
}

/*AUTO CLEAR*/
@media (min-width: 1200px) {
	.auto-clear .col-lg-1:nth-child(12n+1) {
		clear: left;
	}

	.auto-clear .col-lg-2:nth-child(6n+1) {
		clear: left;
	}

	.auto-clear .col-lg-15:nth-child(5n+1) {
		clear: left;
	}

	.auto-clear .col-lg-3:nth-child(4n+1) {
		clear: left;
	}

	.auto-clear .col-lg-4:nth-child(3n+1) {
		clear: left;
	}

	.auto-clear .col-lg-6:nth-child(odd) {
		clear: left;
	}
}

@media (min-width: 992px) and (max-width: 1199px) {
	.auto-clear .col-md-1:nth-child(12n+1) {
		clear: left;
	}

	.auto-clear .col-md-2:nth-child(6n+1) {
		clear: left;
	}

	.auto-clear .col-md-15:nth-child(5n+1) {
		clear: left;
	}

	.auto-clear .col-md-3:nth-child(4n+1) {
		clear: left;
	}

	.auto-clear .col-md-4:nth-child(3n+1) {
		clear: left;
	}

	.auto-clear .col-md-6:nth-child(odd) {
		clear: left;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.auto-clear .col-sm-1:nth-child(12n+1) {
		clear: left;
	}

	.auto-clear .col-sm-2:nth-child(6n+1) {
		clear: left;
	}

	.auto-clear .col-sm-15:nth-child(5n+1) {
		clear: left;
	}

	.auto-clear .col-sm-3:nth-child(4n+1) {
		clear: left;
	}

	.auto-clear .col-sm-4:nth-child(3n+1) {
		clear: left;
	}

	.auto-clear .col-sm-6:nth-child(odd) {
		clear: left;
	}
}

@media (min-width: 480px) and (max-width: 767px) {
	.auto-clear .col-xs-1:nth-child(12n+1) {
		clear: left;
	}

	.auto-clear .col-xs-2:nth-child(6n+1) {
		clear: left;
	}

	.auto-clear .col-xs-15:nth-child(5n+1) {
		clear: left;
	}

	.auto-clear .col-xs-3:nth-child(4n+1) {
		clear: left;
	}

	.auto-clear .col-xs-4:nth-child(3n+1) {
		clear: left;
	}

	.auto-clear .col-xs-6:nth-child(odd) {
		clear: left;
	}
}

@media (max-width: 479px) {
	.auto-clear .col-ts-1:nth-child(12n+1) {
		clear: left;
	}

	.auto-clear .col-ts-2:nth-child(6n+1) {
		clear: left;
	}

	.auto-clear .col-ts-15:nth-child(5n+1) {
		clear: left;
	}

	.auto-clear .col-ts-3:nth-child(4n+1) {
		clear: left;
	}

	.auto-clear .col-ts-4:nth-child(3n+1) {
		clear: left;
	}

	.auto-clear .col-ts-6:nth-child(odd) {
		clear: left;
	}
}

/*Custom Bostrap Colum form 480 > 767*/

@media (max-width: 480px) {
	.col-lg-1,
	.col-lg-10,
	.col-lg-11,
	.col-lg-12,
	.col-lg-2,
	.col-lg-3,
	.col-lg-4,
	.col-lg-5,
	.col-lg-6,
	.col-lg-7,
	.col-lg-8,
	.col-lg-9,
	.col-md-1,
	.col-md-10,
	.col-md-11,
	.col-md-12,
	.col-md-2,
	.col-md-3,
	.col-md-4,
	.col-md-5,
	.col-md-6,
	.col-md-7,
	.col-md-8,
	.col-md-9,
	.col-sm-1,
	.col-sm-10,
	.col-sm-11,
	.col-sm-12,
	.col-sm-2,
	.col-sm-3,
	.col-sm-4,
	.col-sm-5,
	.col-sm-6,
	.col-sm-7,
	.col-sm-8,
	.col-sm-9,
	.col-xs-1,
	.col-xs-10,
	.col-xs-11,
	.col-xs-12,
	.col-xs-2,
	.col-xs-3,
	.col-xs-4,
	.col-xs-5,
	.col-xs-6,
	.col-xs-7,
	.col-xs-8,
	.col-xs-9,
	.col-ts-1,
	.col-ts-10,
	.col-ts-11,
	.col-ts-12,
	.col-ts-2,
	.col-ts-3,
	.col-ts-4,
	.col-ts-5,
	.col-ts-6,
	.col-ts-7,
	.col-ts-8,
	.col-ts-9 {
		position: relative;
		min-height: 1px;
		padding-right: 15px;
		padding-left: 15px
	}

	.col-ts-1,
	.col-ts-2,
	.col-ts-3,
	.col-ts-4,
	.col-ts-5,
	.col-ts-6,
	.col-ts-7,
	.col-ts-8,
	.col-ts-9,
	.col-ts-10,
	.col-ts-11 {
		float: left;
	}

	.col-ts-12 {
		width: 100%;
	}

	.col-ts-11 {
		width: 91.66666667%;
	}

	.col-ts-10 {
		width: 83.33333333%;
	}

	.col-ts-9 {
		width: 75%;
	}

	.col-ts-8 {
		width: 66.66666667%;
	}

	.col-ts-7 {
		width: 58.33333333%;
	}

	.col-ts-6 {
		width: 50%;
	}

	.col-ts-5 {
		width: 41.66666667%;
	}

	.col-ts-4 {
		width: 33.33333333%;
	}

	.col-ts-3 {
		width: 25%;
	}

	.col-ts-2 {
		width: 16.66666667%;
	}

	.col-ts-1 {
		width: 8.33333333%;
	}

	.col-ts-pull-12 {
		right: 100%;
	}

	.col-ts-pull-11 {
		right: 91.66666667%;
	}

	.col-ts-pull-10 {
		right: 83.33333333%;
	}

	.col-ts-pull-9 {
		right: 75%;
	}

	.col-ts-pull-8 {
		right: 66.66666667%;
	}

	.col-ts-pull-7 {
		right: 58.33333333%;
	}

	.col-ts-pull-6 {
		right: 50%;
	}

	.col-ts-pull-5 {
		right: 41.66666667%;
	}

	.col-ts-pull-4 {
		right: 33.33333333%;
	}

	.col-ts-pull-3 {
		right: 25%;
	}

	.col-ts-pull-2 {
		right: 16.66666667%;
	}

	.col-ts-pull-1 {
		right: 8.33333333%;
	}

	.col-ts-pull-0 {
		right: auto;
	}

	.col-ts-push-12 {
		left: 100%;
	}

	.col-ts-push-11 {
		left: 91.66666667%;
	}

	.col-ts-push-10 {
		left: 83.33333333%;
	}

	.col-ts-push-9 {
		left: 75%;
	}

	.col-ts-push-8 {
		left: 66.66666667%;
	}

	.col-ts-push-7 {
		left: 58.33333333%;
	}

	.col-ts-push-6 {
		left: 50%;
	}

	.col-ts-push-5 {
		left: 41.66666667%;
	}

	.col-ts-push-4 {
		left: 33.33333333%;
	}

	.col-ts-push-3 {
		left: 25%;
	}

	.col-ts-push-2 {
		left: 16.66666667%;
	}

	.col-ts-push-1 {
		left: 8.33333333%;
	}

	.col-ts-push-0 {
		left: auto;
	}

	.col-ts-offset-12 {
		margin-left: 100%;
	}

	.col-ts-offset-11 {
		margin-left: 91.66666667%;
	}

	.col-ts-offset-10 {
		margin-left: 83.33333333%;
	}

	.col-ts-offset-9 {
		margin-left: 75%;
	}

	.col-ts-offset-8 {
		margin-left: 66.66666667%;
	}

	.col-ts-offset-7 {
		margin-left: 58.33333333%;
	}

	.col-ts-offset-6 {
		margin-left: 50%;
	}

	.col-ts-offset-5 {
		margin-left: 41.66666667%;
	}

	.col-ts-offset-4 {
		margin-left: 33.33333333%;
	}

	.col-ts-offset-3 {
		margin-left: 25%;
	}

	.col-ts-offset-2 {
		margin-left: 16.66666667%;
	}

	.col-ts-offset-1 {
		margin-left: 8.33333333%;
	}

	.col-ts-offset-0 {
		margin-left: 0;
	}

	.hidden-ts {
		display: none;
	}
}

/* =========================================================================
    2.2 CAROUSEL THEME
===========================================================================*/
/*owl disabled*/
.owl-carousel .disabled {
	display: none;
}

/*owl-nav*/
.owl-carousel .owl-nav {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-o-transition: all 1s;
	transition: all 1s;
}

.owl-carousel:hover .owl-nav {
	opacity: 1;
	visibility: visible;
}

.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-nav .owl-prev {
	background: rgba(0, 0, 0, 0.8);
	width: 30px;
	height: 70px;
	text-align: center;
	cursor: pointer;
	color: #fff;
	font-size: 12px;
	line-height: 70px;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.owl-carousel .owl-nav .owl-prev {
	left: 0;
}

.owl-carousel .owl-nav .owl-next {
	right: 0;
}

/*.owl-dots*/
.owl-carousel .owl-dots {
	text-align: center;
	position: absolute;
	bottom: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
}

.owl-carousel .owl-dots .owl-dot {
	display: inline-block;
	width: 20px;
	height: 3px;
	margin: 6px;
	vertical-align: middle;
	background-color: #c5c5c5;
}

.owl-carousel .owl-dots .owl-dot.active {
	background-color: #000000;
}

/* ==========================================================================
   3.0 HEADER THEME
========================================================================== */
/* ==========================================================================
   3.1 HEADER NAV THEME
========================================================================== */
.site-navigation {
	float: right;
	padding-right: 76px;
}

.main-header {
	padding-top: 78px;
	padding-bottom: 78px;
	z-index: 10;
	transition: padding 0.5s;
}

.main-header.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.main-header.menu-bg {
	background-color: rgba(0, 0, 0, .8);
	padding-top: 30px;
	padding-bottom: 30px;
}

.header-nav {
	position: relative;
}

.header-nav .menu-nav {
	padding: 0;
}

.header-nav .menu-nav .menu-item {
	list-style: none;
	position: relative;
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 18px;
	letter-spacing: 0.05em;
	color: #ffffff;
}

.header-nav .menu-nav > .menu-item {
	display: inline-block;
	margin: 0 13px;
}

.header-nav .menu-nav > .menu-item:first-child {
	margin-left: 0;
}

.header-nav .menu-nav > .menu-item:last-child {
	margin-right: 0;
}

.header-nav .menu-nav > .menu-item > a {
	position: relative;
	padding-bottom: 6px;
}

.header-fixed .header-nav .menu-nav > .menu-item > a {
	color: #ffffff;
}

.header-nav .menu-nav > .menu-item.active > a,
.header-nav .menu-nav > .menu-item.page-active > a {
	color: #e94c1f;
}

.header-nav .menu-nav > .menu-item.active > a::before,
.header-nav .menu-nav > .menu-item.page-active > a::before {
	display: block;
	content: '';
	width: 100%;
	border: 1px solid;
	position: absolute;
	left: 0;
	bottom: 0;
}

.header-nav .menu-nav > .menu-item.menu-item-has-children:hover > a::after {
	opacity: 1;
	visibility: visible;
}

.header-nav .menu-nav > .menu-item.menu-item-has-children > a::after {
	opacity: 0;
	visibility: hidden;
	display: block;
	width: 0;
	height: 0;
	content: '';
	border-width: 9px 6px;
	border-style: solid;
	border-color: transparent transparent #000000 transparent;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -14px;
	margin: auto;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.header-fixed .header-nav .menu-nav > .menu-item.menu-item-has-children > a::after {
	border-color: transparent transparent #ffffff transparent;
}

.header-nav .menu-nav > .menu-item.menu-item-has-children.megamenu-menu-item > a::after {
	bottom: -14px;
}

.header-nav .menu-nav .menu-item:hover > a {
	color: #e94c1f !important;
}

.header-nav .menu-nav .menu-item:hover > .sub-menu {
	opacity: 1;
	visibility: visible;
}

.header-nav .menu-nav .menu-item .sub-menu {
	opacity: 0;
	visibility: hidden;
	background: #000000;
	display: block;
	padding: 0;
	min-width: 146px;
	position: absolute;
	z-index: 10;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.header-fixed .header-nav .menu-nav .menu-item .sub-menu {
	background-color: #ffffff;
}

.header-nav .menu-nav > .menu-item > .sub-menu {
	left: -7px;
	top: 100%;
	margin-top: 14px;
}

.header-nav .menu-nav > .menu-item > .sub-menu .menu-item a {
	padding: 11px 17px;
	display: inline-block;
	width: 100%;
	border-bottom: 1px solid #f2f2f2;
}

.main-header:not(.header-fixed) .header-nav .menu-nav > .menu-item > .sub-menu .menu-item a {
	color: #ffffff;
	border-bottom: 1px solid rgba(255, 255, 255, .2);
}

.header-nav .menu-nav > .menu-item > .sub-menu .menu-item:last-child a {
	border-bottom: none;
}

.header-nav .menu-nav > .menu-item > .sub-menu .sub-menu {
	left: 100%;
	top: 0;
}

/*megamenu*/
.header-nav .menu-nav .menu-item.megamenu-menu-item {
	position: static;
}

.header-nav .menu-nav .menu-item .sub-menu.megamenu {
	width: 100%;
}

/* ==========================================================================
   3.2 MENU MOBILE
========================================================================== */
.mobile-navigation {
	display: none;
	height: 30px;
	line-height: 5px;
	padding: 0 10px 0 0;
	width: 30px;
	float: right;
}

.icon-bar {
	background: #000000;
	display: inline-block;
	height: 2px;
	width: 30px;
}

.header-fixed .icon-bar {
	background: #ffffff;
}

.mm-menu ul .menu-item {
	width: 100%;
	padding: 10px 0 10px 20px;
	text-transform: capitalize;
}

.mm-menu [class*='col-'] {
	width: 100%;
}

.mm-listview > li:not(.mm-divider)::after {
	left: 0;
}

.mm-listview > li > a,
.mm-listview > li > span {
	padding: 0;
}

.mm-listview > li > a:hover {
	color: #e94c1f;
}

.mm-menu .mm-listview > li .mm-next:hover::after,
.mm-menu .mm-btn:hover::after,
.mm-menu .mm-btn:hover::before {
	border-color: #e94c1f;
}

.mm-panels > .mm-panel.megamenu {
	padding: 0;
}

.mm-panels > .mm-panel.megamenu::after,
.mm-panels > .mm-panel.megamenu::before {
	height: 0;
}

.mm-menu.mm-offcanvas {
	display: block;
	max-width: 100%;
	-webkit-transform: translateX(-100%);
	-ms-transform: translateX(-100%);
	-o-transform: translateX(-100%);
	transform: translateX(-100%);
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
	z-index: 99;
}

.mm-menu.mm-pageshadow::after {
	display: none;
}

.mm-menu.mm-offcanvas.mm-current {
	display: block;
	-webkit-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.mm-clear::after,
.mm-close::after {
	right: 25px;
}

.mm-clear::after,
.mm-clear::before,
.mm-close::after,
.mm-close::before {
	width: 7px;
	height: 7px;
}

/*overlay*/
#mm-blocker {
	z-index: 98;
}

/* ==========================================================================
   3.3 HEADER BANNER THEME
========================================================================== */
/*.banner-parallax*/
.banner-parallax {
	height: 100vh;
	min-height: 450px;
	position: relative;
	background-image: url(assets/images/parallax-banner.jpg);
	background-position: right center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner-parallax .banner-content {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.banner-parallax .banner-content .smtitle-banner {
	display: block;
	font-size: 80px;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 0;
}

.banner-parallax .banner-content .title-banner {
	display: inline-block;
	position: relative;
	font-size: 130px;
	line-height: 1;
	color: #ffffff;
	padding-bottom: 9px;
	margin-bottom: 75px;
}

.banner-parallax .banner-content .title-banner::before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	bottom: 0;
}

.banner-parallax .banner-content .title-banner span {
	color: #e94c1f;
}

.icon-mouse {
	display: block;
	width: 33px;
	height: 48px;
	border-radius: 33px;
	border: 2px solid #ffffff;
	position: absolute;
	bottom: 50px;
	left: 0;
	right: 0;
	margin: auto;
	cursor: pointer;
}

.icon-mouse:hover {
	border-color: #e94c1f;
}

.icon-mouse::before {
	content: '';
	display: block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #ffffff;
	position: absolute;
	top: 10px;
	left: 0;
	right: 0;
	margin: auto;
}

.icon-mouse:hover::before {
	background-color: #e94c1f;
}

/*.banner-animation*/
.banner-animation {
	background-image: url('assets/images/animation-banner.jpg');
	position: relative;
	width: 100%;
	overflow: hidden;
	background-size: cover;
	background-position: center center;
	z-index: 1;
}

.banner-animation .banner-content {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	z-index: 1;
}

.banner-animation .banner-content .smtitle-banner {
	display: block;
	font-size: 60px;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 6px;
}

.banner-animation .banner-content .title-banner {
	display: inline-block;
	font-size: 130px;
	line-height: 1;
	color: #ffffff;
	padding-bottom: 9px;
	margin-bottom: 35px;
}

.banner-animation .banner-content .title-banner span {
	color: #e94c1f;
}

.banner-animation .owl-carousel .owl-dots {
	bottom: 60px;
}

.banner-animation .owl-carousel .owl-dots .owl-dot {
	background-color: rgba(255, 255, 255, .2);
}

.banner-animation .owl-carousel .owl-dots .owl-dot.active {
	background-color: #ffffff;
}

/*.banner-video*/
.banner-video {
	position: relative;
}

.banner-video .banner-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

.banner-video .banner-content .smtitle-banner span {
	color: #e94c1f;
}

.banner-video .banner-content .smtitle-banner {
	display: block;
	font-size: 80px;
	line-height: 1;
	color: #ffffff;
	margin-bottom: 0;
}

.banner-video .banner-content .title-banner {
	display: inline-block;
	position: relative;
	font-size: 130px;
	line-height: 1;
	color: #ffffff;
	padding-bottom: 9px;
	margin-bottom: 35px;
}

.banner-video .banner-content .title-banner::before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	background-color: #ffffff;
	position: absolute;
	left: 0;
	bottom: 0;
}

.banner-video .btn-video {
	display: block;
	margin-bottom: 25px;
	width: 153px;
	height: 153px;
	position: relative;
}

.banner-video .btn-video::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 4px solid #ffffff;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.banner-video .btn-video:hover::before {
	transform: scale(1.2);
}

.banner-video .btn-video::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	margin: auto;
	display: block;
	border-width: 17px 0 17px 21px;
	border-style: solid;
	border-color: transparent transparent transparent #e94c1f;
}

/* ==========================================================================
    4.0 FOOTER THEME
========================================================================== */
.footer {
	padding-top: 45px;
	padding-bottom: 76px;
	background-color: #f6f6f6;
}

/*.backtotop*/
.backtotop {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	display: inline-block;
	width: 116px;
	height: 116px;
	padding: 22px 25px 50px 25px;
	border: 3px solid;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.3em;
	text-align: center;
	position: relative;
	cursor: pointer;
	margin-bottom: 40px;
}

.backtotop::before {
	content: '';
	width: 19px;
	height: 19px;
	border-top: 2px solid;
	border-left: 2px solid;
	transform: rotate(45deg);
	position: absolute;
	bottom: 19px;
	left: 45px;
}

/*socials*/
.socials {
	margin-bottom: 44px;
}

.socials ul {
	padding-left: 0;
}

.socials ul li {
	list-style: none;
	display: inline-block;
	margin: 10px 28px;
}

.socials ul li a {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.2em;
	padding-bottom: 5px;
	position: relative;
}

.socials ul li a::before {
	content: '';
	display: block;
	width: 100%;
	border-bottom: 1px solid;
	position: absolute;
	bottom: 0;
	left: 0;
}

/*.copyright*/
.copyright {
	font-size: 14px;
	line-height: 26px;
}

.copyright span {
	color: #ff0000;
}

/* ==========================================================================
   5.0 BLOG THEME
========================================================================== */
/* ==========================================================================
   5.1 PAGE HEADING THEME
========================================================================== */
.page-heading {
	position: relative;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 844px;
}

.page-heading.page-blog {
	background-image: url(assets/images/blog-banner.jpg);
}

.page-heading.page-service {
	background-image: url(assets/images/services-banner.jpg);
}

.page-heading .heading-content {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	z-index: 1;
}

.page-heading .heading-content .page-title {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 130px;
	line-height: 1.2;
	color: #ffffff;
	display: inline-block;
	position: relative;
	margin-bottom: 0;
}

.page-heading .heading-content .page-title::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	border-bottom: 6px solid;
}

.page-container {
	padding-top: 60px;
	padding-bottom: 112px;
}

/* ==========================================================================
   5.2 TAB BOOTSTRAP THEME
========================================================================== */
.nav {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.nav > li {
	position: relative;
}

.nav > li > a {
	position: relative;
	display: block;
	padding: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
	text-decoration: none;
	background-color: transparent;
}

.nav-tabs {
	border-bottom: none;
	text-align: center;
	margin-bottom: 64px;
}

.nav-tabs > li {
	display: inline-block;
	float: none;
	margin: 0 20px;
}

.nav-tabs > li > a {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 14px;
	letter-spacing: 0.2em;
	margin-right: 0;
	line-height: inherit;
	border: none;
	border-radius: 0;
	position: relative;
	padding-bottom: 3px;
}

.nav-tabs > li > a:hover {
	border-color: transparent;
}

.nav-tabs > li.active a,
.nav-tabs > li.active a:hover,
.nav-tabs > li.active a:focus {
	cursor: default;
	background-color: transparent;
	border: none;
	color: #e94c1f;
}

.nav-tabs > li a::before {
	border-bottom: 2px solid #e94c1f;
	bottom: 0;
	left: 0;
	content: '';
	position: absolute;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	width: 100%;
}

.nav-tabs > li a:hover::before,
.nav-tabs > li.active a::before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.tab-pane {
	display: block !important;
	width: 100%;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	visibility: hidden;
	right: 0;
}

.tab-pane.active {
	opacity: 1;
	position: relative;
	visibility: visible;
}

/* ==========================================================================
   5.3 BLOG ITEM THEME
========================================================================== */
.product-grid {
	list-style: none;
	padding-left: 0;
}

.product-grid .blog-item {
	padding-bottom: 77px;
}

.blog-item .post-thumb {
	position: relative;
	overflow: hidden;
	margin-bottom: 17px;
}

.blog-item .post-thumb::before {
	z-index: 1;
	content: '';
	position: absolute;
	background: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
}

.blog-item .post-thumb:hover::before {
	-webkit-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	-moz-transform: scale(1.01);
	transform: scale(1.01);
}

.blog-item .post-thumb .readmore {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	position: absolute;
	bottom: 0;
	right: 0;
	display: inline-block;
	min-width: 157px;
	height: 58px;
	line-height: 58px;
	padding: 0 15px;
	text-align: center;
	background-color: #ffffff;
	font-size: 14px;
	letter-spacing: 0.2em;
	overflow: hidden;
	z-index: 2;
}

.blog-item .post-thumb .readmore span {
	position: relative;
	display: inline-block;
	width: 17px;
	height: 58px;
	float: right;
}

.blog-item .post-thumb .readmore span::before {
	content: '';
	position: absolute;
	top: 29px;
	left: -22px;
	right: 0;
	margin: auto;
	display: inline-block;
	width: 17px;
	border-bottom: 2px solid;
}

.blog-item .post-thumb .readmore span::after {
	content: '';
	position: absolute;
	top: 26px;
	display: block;
	width: 8px;
	height: 8px;
	border-top: 1px solid;
	border-right: 1px solid;
	right: 11px;
	transform: rotate(45deg);
}

.blog-item .post-info .post-date {
	margin-bottom: 6px;
}

.blog-item .post-info .post-title {
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 18px;
}

.lexio-loadmore {
	text-align: center;
	margin-top: 26px;
}

.lexio-loadmore .loadmore-btn {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 16px;
	letter-spacing: 0.2em;
	line-height: 55px;
	text-align: center;
	display: inline-block;
	padding: 0 15px;
	min-width: 189px;
	height: 55px;
	color: #ffffff;
	background-color: #000000;
}

.lexio-loadmore .loadmore-btn:hover {
	background-color: #e94c1f;
	color: #ffffff;
}

.lexio-newsletter .newsletter-content .newsletter-title {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 40px;
	line-height: 1.25;
	color: #000000;
	text-align: center;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 36px;
}

.lexio-newsletter .newsletter-content .newsletter-title::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	display: inline-block;
	width: 87px;
	border-bottom: 4px solid;
}

.lexio-newsletter .newsletter-content .newsletter-form {
	position: relative;
}

.lexio-newsletter .newsletter-content .newsletter-form .email {
	width: 100%;
	padding-right: 120px;
	border: none;
	background: #ffffff;
}

.lexio-newsletter .newsletter-content .newsletter-form .submit-newsletter {
	position: absolute;
	top: 0;
	right: 0;
	width: 112px;
	color: #ffffff;
}

.lexio-newsletter .newsletter-content .newsletter-form .submit-newsletter:hover,
.lexio-newsletter .newsletter-content .newsletter-form .submit-newsletter:focus {
	background: #000000;
	color: #e94c1f;
}

.lexio-newsletter .newsletter-content .newsletter-form .submit-newsletter span {
	position: relative;
	display: inline-block;
	width: 28px;
	height: 56px;
}

.lexio-newsletter .newsletter-content .newsletter-form .submit-newsletter span::before {
	content: '';
	position: absolute;
	top: 29px;
	left: 0;
	right: 0;
	margin: auto;
	display: inline-block;
	width: 28px;
	border-bottom: 1px solid;
}

.lexio-newsletter .newsletter-content .newsletter-form .submit-newsletter span::after {
	content: '';
	position: absolute;
	top: 22px;
	right: 2px;
	display: block;
	width: 15px;
	height: 15px;
	border-top: 1px solid;
	border-right: 1px solid;
	transform: rotate(45deg);
}

/* ==========================================================================
   5.4 SINGLE BLOG
========================================================================== */
.single-container {
	margin-top: 79px;
	margin-bottom: 81px;
}

.post-cat,
.post-date {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	display: inline-block;
	font-size: 14px;
	line-height: 28px;
	letter-spacing: 0.2em;
	color: #c2c2c2;
}

.post-cat a {
	color: inherit;
}

.post-cat a:hover {
	color: #e94c1f;
}

.post-content p:last-child {
	margin-bottom: 0;
}

/*header-post*/
.header-post {
	position: relative;
	text-align: center;
	margin-bottom: 86px;
}

.header-post .post-title {
	font-size: 80px;
	line-height: 1.2;
	position: relative;
	max-width: 640px;
	padding: 0 40px 32px 40px;
	margin: 0 auto 26px auto;
}

.header-post .post-title::before {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	content: '';
	width: 135px;
	border-bottom: 6px solid;
}

.header-post .post-meta {
	padding: 0 40px;
	margin-bottom: 72px;
}

.header-post .post-cat::after {
	content: '/';
	margin: 0 8px;
}

/*.post-navigation */
.post-navigation .nav-links > div {
	cursor: pointer;
	position: absolute;
	top: 97px;
}

.post-navigation .nav-links .nav-prev {
	left: 0;
}

.post-navigation .nav-links .nav-next {
	right: 0;
}

.post-navigation .nav-links > div a {
	position: relative;
	display: block;
}

.post-navigation .nav-links > div a::before {
	display: none;
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: transparent;
	width: 80px;
	height: 80px;
}

.post-navigation .nav-links > div a:hover::before {
	display: block;
}

/*.arrow*/
.post-navigation .nav-links > div a .arrow {
	display: block;
	width: 35px;
	height: 35px;
	position: relative;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.post-navigation .nav-links > div a .arrow::before {
	border-bottom: 2px solid;
	content: "";
	position: absolute;
	left: 0;
	top: 18px;
	width: 35px;
}

.post-navigation .nav-links > div a .arrow::after {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	border-top: 2px solid;
	border-right: 2px solid;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	right: 3px;
	top: 10px;
}

.post-navigation .nav-links > div.nav-prev a .arrow {
	transform: rotate(180deg);
}

/*thumb-nav*/
.post-navigation .nav-links > div a:hover .thumb-nav {
	opacity: 1;
	visibility: visible;
}

.post-navigation .nav-links > div a .thumb-nav {
	opacity: 0;
	visibility: hidden;
	border: 6px solid #ffffff;
	display: block;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	width: 227px;
	-webkit-box-shadow: 10px 0 40px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 10px 0 40px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 10px 0 40px 0 rgba(0, 0, 0, 0.12);
	z-index: 2;
}

.post-navigation .nav-links > div.nav-prev a .thumb-nav {
	right: 100%;
	margin-right: 25px;
}

.post-navigation .nav-links > div.nav-next a .thumb-nav {
	left: 100%;
	margin-left: 25px;
}

/*share-article*/
.share-article {
	text-align: center;
	border-top: 1px solid #e9e9e9;
	padding-top: 41px;
	margin-top: 68px;
}

.share-article .share-article-title {
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.2em;
}

.share-article .share-social a {
	display: inline-block;
	font-size: 16px;
	width: 48px;
	height: 48px;
	line-height: 46px;
	text-align: center;
	border-radius: 50%;
	border: 2px solid;
	margin: 11px;
}

/*.related-post*/
.related-post {
	border-top: 1px solid #e9e9e9;
	padding-top: 52px;
	margin-top: 53px;
}

.related-post .related-post-title {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.2em;
}

/*.comments-area*/
.comments-area {
	border-top: 1px solid #e9e9e9;
	padding-top: 52px;
	margin-top: 57px;
}

.comments-area .title-comment {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.2em;
	margin-bottom: 85px;
}

.comments-area .commentlist,
.comments-area .commentlist .children {
	list-style: none;
}

/*.commentlist*/
.commentlist {
	max-width: 810px;
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
}

.comment:not(:last-child) {
	border-bottom: 1px solid #eeeeee;
	padding-bottom: 50px;
	margin-bottom: 58px;
}

.commentlist .children {
	padding-left: 58px;
	padding-top: 58px;
	margin-top: 50px;
	border-top: 1px solid #eeeeee;
}

.comment-container {
	display: table;
	width: 100%;
}

.comment-container .avatar {
	display: table-cell;
	width: 110px;
}

.comment-text {
	display: table-cell;
	vertical-align: top;
	padding-left: 18px;
}

.comment-text .comment-author {
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 0.2em;
	color: #000000;
	margin-top: -2px;
	margin-bottom: 1px;
}

.comment-text .comment-date {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	display: inline-block;
	font-size: 14px;
	line-height: 14px;
	letter-spacing: 0.2em;
	color: #c2c2c2;
	margin-bottom: 16px;
}

/*.comment-control*/
.comment-control {
	display: table-cell;
	vertical-align: top;
	text-align: right;
	padding-left: 10px;
}

.comment-control a {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	display: block;
	min-width: 69px;
	height: 23px;
	line-height: 23px;
	font-size: 12px;
	letter-spacing: 0.2em;
	text-align: center;
	color: #000000;
	border: 1px solid;
}

.comment-control .comment-edit-link {
	margin-bottom: 10px;
}

.comment-control a:hover {
	color: #e94c1f;
}

.comment-text p:last-child {
	margin-bottom: 0;
}

/*.comment-respond*/
.comment-respond {
	border-top: 1px solid #e9e9e9;
	padding-top: 52px;
	margin-top: 74px;
}

.comment-respond .comment-reply-title {
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 54px;
}

.comment-form {
	max-width: 810px;
	margin-left: auto;
	margin-right: auto;
}

.comment-form input {
	width: 100%;
}

.comment-form label {
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #cdcdcd;
}

.comment-form label .required {
	color: #ff0000;
}

.comment-form .comment-form-author,
.comment-form .comment-form-email {
	margin-bottom: 33px;
}

.comment-form .comment-form-comment {
	margin-bottom: 53px;
}

.comment-form .form-submit {
	margin-bottom: 0;
}

.comment-form .form-submit .submit {
	width: 228px;
}

.comment-form .form-submit .submit:hover {
	background: #e94c1f;
}

/* ==========================================================================
   6.0 SHORTCODE THEME
========================================================================== */
/* ==========================================================================
   6.1 SECTION-TITLE
========================================================================== */
.section-title {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 120px;
	letter-spacing: -0.025em;
	color: rgba(0, 0, 0, 0.1);
	text-align: center;
	position: relative;
	border-color: #e94c1f;
	padding-bottom: 3px;
}

.section-title.section-title-2 {
	color: rgba(255, 255, 255, .2);
}

.section-title.section-title-2 span {
	color: #ffffff;
}

.section-title.section-title-3 {
	border-color: #00b2d8
}

.section-title::before {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	content: '';
	width: 165px;
	border-bottom: 1px solid;
	border-color: inherit;
}

.section-title span {
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.3em;
	color: #000000;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

/* ==========================================================================
   6.2 BLOCK CONTENT
========================================================================== */
.block-content .block-title {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 40px;
	line-height: 48px;
	color: #000000;
	margin-bottom: 60px;
	position: relative;
}

.block-content .block-text {
	font-size: 20px;
	line-height: 30px;
	color: #878787;
}

.block-content.text-center.underline .block-title::before {
	margin: auto;
}

.block-content.underline .block-text {
	font-size: 16px;
	line-height: 26px;
}

.block-content.underline .block-title::before {
	content: '';
	display: block;
	width: 68px;
	height: 1px;
	background-color: #e94c1f;
	position: absolute;
	left: 0;
	right: 0;
	bottom: -29px;
}

.block-content.has-image .block-title {
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 53px;
}

.block-content.has-image .block-image {
	margin-bottom: 51px;
}

/* ==========================================================================
   6.3 LEXIO COUNTER UP
========================================================================== */
.lexio-counter {
	text-align: center;
}

.lexio-counter .counter-up {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 120px;
	line-height: 1.2em;
	color: #ffffff;
}

.lexio-counter .counter-up .sup-plus {
	top: -.75em;
	left: 0.25em;
	font-size: 50%;
	position: relative;
	line-height: 0;
	vertical-align: middle;
}

.lexio-counter .counter-title {
	display: inline-block;
	font-size: 20px;
	line-height: 30px;
	letter-spacing: 0.3em;
	color: #ffffff;
}

.lexio-counter.lexio-counter-2 .counter-up {
	color: #00b0d7;
}

.lexio-counter.lexio-counter-2 .counter-title {
	color: #000000;
}

/* ==========================================================================
   6.4 LEXIO FEATURE
========================================================================== */
.lexio-table {
	display: table;
}

.lexio-trow {
	display: table-row;
	border-bottom: 1px solid #ececec;
}

.lexio-trow:last-child .lexio-tcell {
	border-bottom: none;
}

.lexio-tcell {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	border-right: 1px solid #ececec;
	border-bottom: 1px solid #ececec;
}

.lexio-tcell:last-child {
	border-right: none;
}

.lexio-feature {
	padding: 30px 65px;
}

.lexio-feature .feature-title {
	position: relative;
	font-size: 25px;
	line-height: 30px;
	padding-bottom: 19px;
	margin-bottom: 25px;
	margin-left: 75px;
}

.lexio-feature .feature-title::before {
	content: '';
	display: block;
	width: 68px;
	height: 1px;
	background-color: #d6d6d6;
	position: absolute;
	left: 0;
	bottom: 0;
}

.lexio-feature .feature-title i {
	position: absolute;
	left: -75px;
	top: 0;
	font-size: 50px;
	color: #e94c1f;
}

/* ==========================================================================
   6.5 LEXIO TEAM
========================================================================== */
.lexio-team .owl-carousel {
	padding-bottom: 90px;
}

.team-item {
	text-align: center;
}

.team-item .team-image {
	position: relative;
}

.team-item .team-image:hover::before,
.team-item .team-image:hover .team-socials {
	opacity: 1;
}

.team-item .team-image::before {
	opacity: 0;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: 1;
	transition: 0.5s;
}

.team-item .team-image .team-socials {
	opacity: 0;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	z-index: 2;
	transition: 0.5s;
}

.team-item .team-image .team-socials a {
	display: inline-block;
	width: 48px;
	height: 48px;
	line-height: 46px;
	border-radius: 50%;
	border: 2px solid;
	font-size: 16px;
	color: #ffffff;
	margin: 10px;
}

.team-item .team-image .team-socials a:hover {
	background-color: #e94c1f;
	border-color: #e94c1f;
}

.team-item .team-info {
	background-color: #ffffff;
	padding: 31px 15px;
}

.team-item .team-info .team-name {
	font-size: 25px;
	line-height: 30px;
	position: relative;
	padding-bottom: 10px;
	margin-bottom: 6px;
}

.team-item .team-info .team-name::before {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	display: block;
	content: '';
	width: 60px;
	height: 1px;
	background-color: #e94c1f;
}

.team-item .team-info .team-position {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #bfbfbf;
}

/* ==========================================================================
   6.6 LEXIO VIDEO
========================================================================== */
.lexio-video {
	display: block;
	position: relative;
	background: url(assets/images/bg1.jpg) no-repeat center center;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 375px;
	padding-bottom: 404px;
}

.lexio-video::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .4);
}

.lexio-video img {
	min-height: 500px;
	object-fit: cover;
}

.video-content {
	display: block;
	text-align: center;
}

.video-content .btn-video {
	display: block;
	margin: 0 auto 25px auto;
	width: 124px;
	height: 124px;
	position: relative;
}

.video-content .btn-video::before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background-color: #ffffff;
	-webkit-transition: all .6s ease-in-out;
	-moz-transition: all .6s ease-in-out;
	-o-transition: all .6s ease-in-out;
	transition: all .6s ease-in-out;
}

.video-content .btn-video:hover::before {
	transform: scale(1.2);
}

.video-content .btn-video::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 0;
	height: 0;
	margin: auto;
	display: block;
	border-width: 12px 0 12px 21px;
	border-style: solid;
	border-color: transparent transparent transparent #000000;
}

.video-content .video-title {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 80px;
	color: #fefefe;
	display: inline-block;
	position: relative;
	padding-bottom: 5px;
	margin-bottom: 27px;
}

.video-content .video-title::before {
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	content: '';
	width: 100%;
	height: 6px;
	background-color: #e94c1f;
}

.video-content .video-smtitle {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	display: block;
	font-size: 25px;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #bfbfbf;
}

/* ==========================================================================
   6.7 LEXIO SKILL
========================================================================== */
.lexio-skill {
	margin-bottom: 21px;
	position: relative;
	overflow-x: hidden;
}

.lexio-skill:before {
	width: 100%;
	height: 4px;
	content: "";
	display: block;
	position: absolute;
	background: #efefef;
	bottom: 0;
}

.lexio-skill .skill-name {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #000000;
	margin: 0;
	padding-bottom: 4px;
}

.lexio-skill .skill-bar {
	width: 100%;
	height: 4px;
	background: #e94c1f;
	display: block;
	position: relative;
}

.skill-bar-80 {
	width: 80%;
}

.skill-bar-85 {
	width: 85%;
}

.skill-bar-90 {
	width: 90%;
}

.skill-bar-95 {
	width: 95%;
}

.lexio-skill .skill-bar .skill-count {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	position: absolute;
	top: -34px;
	padding: 0;
	font-size: 14px;
	line-height: 30px;
	color: #000000;
	letter-spacing: 0.2em;
	right: 0;
}

/* ==========================================================================
   6.8 TITLE LINE
========================================================================== */
.title-line {
	position: relative;
	font-size: 25px;
	line-height: 30px;
	display: block;
}

.title-line span:first-child {
	background-color: #ffffff;
	padding-right: 13px;
}

.title-line span:last-child {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	display: block;
	content: '';
	border-bottom: 1px solid #efefef;
	z-index: -1;
}

/* ==========================================================================
   6.9 LEXIO ABOUT
========================================================================== */
.lexio-about .about-title {
	font-size: 25px;
	line-height: 30px;
	display: table;
	margin-bottom: 27px;
}

.lexio-about .about-title .about-number {
	display: table-cell;
	vertical-align: middle;
	width: 98px;
	height: 98px;
	line-height: 98px;
	border-radius: 50%;
	background-color: #e94c1f;
	font-size: 40px;
	text-align: center;
	color: #ffffff;
}

.lexio-about .about-title .about-text {
	display: table-cell;
	vertical-align: middle;
	padding-left: 14px;
}

.lexio-about .about-content {
	font-size: 16px;
	line-height: 26px;
}

/* ==========================================================================
   6.10 LEXIO PORTFOLIO
========================================================================== */
.lexio-portfolio {
	text-align: center;
}

.lexio-portfolio .porfolio-buttons {
	margin-bottom: 46px;
}

.lexio-portfolio .porfolio-buttons .portfolio-button {
	font-size: 14px;
	line-height: 28px;
	position: relative;
	margin: 5px 11px;
	display: inline-block;
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	letter-spacing: 0.2em;
}

.lexio-portfolio .porfolio-buttons .portfolio-button.is-checked {
	color: #e94c1f;
}

.lexio-portfolio .porfolio-buttons .portfolio-button::before {
	border-bottom: 2px solid #e94c1f;
	bottom: 0;
	left: 0;
	content: '';
	position: absolute;
	-webkit-transform: scale(0);
	-moz-transform: scale(0);
	-ms-transform: scale(0);
	-o-transform: scale(0);
	transform: scale(0);
	transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	-webkit-transition: all 0.3s linear 0s;
	width: 100%;
}

.lexio-portfolio .porfolio-buttons .portfolio-button:hover::before,
.lexio-portfolio .porfolio-buttons .portfolio-button.is-checked::before {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	-o-transform: scale(1);
	transform: scale(1);
}

.lexio-portfolio .portfolio-item {
	overflow: hidden;
}

.lexio-portfolio .portfolio-item img {
	width: 100%;
}

.lexio-portfolio .portfolio-item:hover .portfolio-overlay {
	-webkit-transform: scale(1.01);
	-o-transform: scale(1.01);
	-ms-transform: scale(1.01);
	-moz-transform: scale(1.01);
	transform: scale(1.01);
}

.lexio-portfolio .portfolio-overlay {
	position: absolute;
	background: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: scale(0);
	-o-transform: scale(0);
	-ms-transform: scale(0);
	-moz-transform: scale(0);
	transform: scale(0);
}

.lexio-portfolio .portfolio-title {
	font-size: 25px;
	line-height: 30px;
	color: #ffffff;
	margin-bottom: 0;
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	transform: translateY(-50%);
}

.lexio-portfolio .portfolio-title a {
	color: inherit;
}

.lexio-portfolio .portfolio-title a:hover {
	color: #e94c1f;
}

/* ==========================================================================
   6.10 LEXIO QUOTE
========================================================================== */
.lexio-quote {
	text-align: center;
}

.lexio-quote .quote-content {
	font-size: 50px;
	line-height: 60px;
	color: #ffffff;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 24px;
	margin-top: 45px;
}

.lexio-quote .quote-content::before {
	content: '';
	display: block;
	width: 165px;
	height: 6px;
	background-color: #e94c1f;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.lexio-quote .quote-author {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 25px;
	line-height: 30px;
}

/* ==========================================================================
   6.11 LEXIO BLOG CAROUSEL
========================================================================== */
.lexio-blog .slide-owl-carousel {
	padding-bottom: 73px;
}

/* ==========================================================================
   6.12 LEXIO QUOTE SOCIAL
========================================================================== */
.lexio-quote-social {
	text-align: center;
	padding: 20px 120px;
}

.lexio-quote-social i {
	display: block;
	font-size: 60px;
	line-height: 72px;
	color: #000000;
	position: relative;
	padding-bottom: 25px;
	margin-bottom: 41px;
}

.lexio-quote-social i::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	display: block;
	width: 165px;
	height: 1px;
	background-color: #e94c1f;
}

.lexio-quote-social .quote-social-content {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 25px;
	line-height: 40px;
	color: #000000;
	margin-bottom: 15px;
}

.lexio-quote-social .quote-social-content a {
	color: #e94c1f;
}

.lexio-quote-social .quote-social-author {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 14px;
	line-height: 30px;
	color: #bfbfbf;
}

/* ==========================================================================
   6.13 LEXIO TESTIMONIAL
========================================================================== */

.lexio-testimonial {
	text-align: center;
}

.lexio-testimonial .slide-owl-carousel {
	padding-bottom: 43px;
}

.lexio-testimonial .testimonial-avatar img {
	width: 198px !important;
	border-radius: 50%;
	margin: 0 auto 42px auto;
}

.lexio-testimonial .testimonial-content {
	font-family: 'Droid Serif', serif;
	font-size: 30px;
	line-height: 45px;
	color: #000000;
	margin-bottom: 38px;
}

.lexio-testimonial .testimonial-author {
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.2em;
}

/* ==========================================================================
   6.14 BANNER BOTTOM
========================================================================== */
.banner-bottom .banner-image {
	min-height: 659px;
	position: relative;
	background-image: url(assets/images/banner-bottom.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}

.banner-bottom .banner-image .banner-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	text-align: center;
}

.banner-bottom .banner-image .banner-content .smtitle-banner {
	font-size: 20px;
	line-height: 24px;
	letter-spacing: 0.3em;
	color: #ffffff;
	margin-bottom: 13px;
}

.banner-bottom .banner-image .banner-content .title-banner {
	font-size: 100px;
	color: #e94c1f;
	position: relative;
	display: inline-block;
	padding-bottom: 2px;
	margin-bottom: 20px;
}

.banner-bottom .banner-image .banner-content .title-banner::after {
	display: block;
	width: 100%;
	border-bottom: 6px solid;
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
}

/* ==========================================================================
   6.15 CONTACT
========================================================================== */
.lexio-google-maps {
	min-height: 1067px;
}

/*.contact-info*/
.contact-info {
	margin-bottom: 29px;
}

.contact-info .contact-detail {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 16px;
	line-height: 19px;
	letter-spacing: 0.2em;
	text-align: center;
	color: #000000;
	margin-bottom: 20px;
}

/*.contact-form*/
.contact-form {
	padding-left: 50px;
	padding-right: 50px;
}

.contact-form .contact-input {
	padding-bottom: 18px;
}

.contact-form label {
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.2em;
	color: #cdcdcd;
}

.contact-form label .required {
	color: #ff0000;
}

.contact-form input {
	width: 100%;
}

.contact-form .submit {
	float: right;
	width: 228px;
	margin-top: 18px;
	margin-bottom: 18px;
}

/* ==========================================================================
   6.16 LEXIO SERVICE
========================================================================== */
.lexio-service .service-info .service-info-inner {
	padding: 90px 120px;
}

.lexio-service .service-info .service-info-inner .service-title {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 120px;
	letter-spacing: -0.025em;
	color: rgba(0, 0, 0, 0.1);
	position: relative;
	padding-bottom: 16px;
	margin-bottom: 40px;
}

.lexio-service .service-info .service-info-inner .service-title::before {
	position: absolute;
	bottom: 0;
	left: 0;
	content: '';
	width: 48px;
	height: 4px;
	background-color: #e94c1f;
}

.lexio-service .service-info .service-info-inner .service-title .service-number {
	vertical-align: middle;
}

.lexio-service .service-info .service-info-inner .service-title .service-text {
	font-size: 30px;
	letter-spacing: 0.1em;
	vertical-align: middle;
	color: #000000;
	padding-left: 13px;
}

.lexio-service .service-info .service-info-inner .service-content {
	font-size: 16px;
	line-height: 30px;
	color: #878787;
	margin-bottom: 45px;
}

.lexio-service .service-info .service-info-inner .service-list {
	padding: 0;
	list-style: none;
}

.lexio-service .service-info .service-info-inner .service-list li {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 20px;
	line-height: 40px;
	color: #000000;
}

/* ==========================================================================
   7.0 PROJECT THEME
========================================================================== */
/* ==========================================================================
   7.1 PROJECT HEADER
========================================================================== */
.project-header {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #ffffff;
}

.project-header.fixed {
	position: fixed;
	top: 0;
	z-index: 100;
	left: 0;
	right: 0;
}

.back-to-portfolio {
	display: inline-block;
	font-family: 'BebasNeue', sans-serif;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.2em;
	margin: 14px 0;
}

.back-to-portfolio .arrow {
	transform: rotate(180deg);
	position: relative;
	display: inline-block;
	width: 28px;
	height: 24px;
	margin-right: 16px;
	vertical-align: middle;
}

.back-to-portfolio .arrow::before {
	border-bottom: 2px solid;
	content: "";
	position: absolute;
	left: 0;
	top: 12px;
	width: 28px;
}

.back-to-portfolio .arrow::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-top: 2px solid;
	border-right: 2px solid;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	right: 0;
	top: 8px;
}

.share-project {
	text-align: right;
}

.share-project .share-project-title {
	display: inline-block;
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 14px;
	line-height: 26px;
	letter-spacing: 0.2em;
	margin: 10px 14px 10px 0;
}

.share-project .share-social {
	display: inline-block;
}

.share-project .share-social a {
	display: inline-block;
	font-size: 14px;
	border-radius: 50%;
	width: 43px;
	height: 43px;
	line-height: 39px;
	text-align: center;
	border: 2px solid;
	margin: 5px;
}

.share-project .share-social a:first-child {
	margin-left: 0;
}

.share-project .share-social a:last-child {
	margin-right: 0;
}

/* ==========================================================================
   7.2 PROJECT FOOTER
========================================================================== */
.footer-project {
	background-color: #090909;
	padding-top: 57px;
	padding-bottom: 57px;
	position: relative;
}

.project-navigation .nav-links > div {
	width: -webkit-calc(50% - 60px);
	width: -moz-calc(50% - 60px);
	width: calc(50% - 60px);
}

.project-navigation .nav-links .nav-prev {
	float: left;
	text-align: left;
	padding-left: 45px;
}

.project-navigation .nav-links .nav-next {
	float: right;
	text-align: right;
	padding-right: 45px;
}

.project-navigation .nav-links a {
	position: relative;
	display: block;
}

.project-navigation .nav-links > div a::before {
	display: none;
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	right: 0;
	background-color: transparent;
	height: 40px;
}

.project-navigation .nav-links > div a:hover::before {
	display: block;
}

.project-navigation .nav-links .nav-img {
	opacity: 0;
	visibility: hidden;
	position: absolute;
	bottom: 100%;
	border: 6px solid #ffffff;
	margin-bottom: 24px;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
}

.project-navigation .nav-links > div a:hover .nav-img {
	opacity: 1;
	visibility: visible;
}

.project-navigation .nav-links .nav-prev .nav-img {
	left: 0;
	-webkit-box-shadow: -10px 0 40px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: -10px 0 40px 0 rgba(0, 0, 0, 0.12);
	box-shadow: -10px 0 40px 0 rgba(0, 0, 0, 0.12);
}

.project-navigation .nav-links .nav-next .nav-img {
	right: 0;
	-webkit-box-shadow: 10px 0 40px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 10px 0 40px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 10px 0 40px 0 rgba(0, 0, 0, 0.12);
}

.project-navigation .nav-links > div .nav-img::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 8px 6px 0 6px;
	border-color: #ffffff transparent transparent transparent;
	position: absolute;
	bottom: -14px;
}

.project-navigation .nav-links .nav-prev .nav-img::before {
	left: 45px;
}

.project-navigation .nav-links .nav-next .nav-img::before {
	right: 45px;
}

.project-navigation .nav-links .project-text .meta-nav {
	display: block;
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 12px;
	line-height: 20px;
	color: #989898;
	letter-spacing: 0.2em;
}

.project-navigation .nav-links .project-text .project-title {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 30px;
	line-height: 36px;
	color: #ffffff;
}

.project-navigation .nav-links > div:hover .project-text .project-title {
	color: #e94c1f;
}

/*arrow*/
.project-navigation .nav-links > div a .arrow {
	display: block;
	width: 28px;
	height: 28px;
	transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	position: absolute;
	top: 25px;
}

.project-navigation .nav-links > div.nav-prev a .arrow {
	left: -45px;

}

.project-navigation .nav-links > div.nav-next a .arrow {
	right: -45px;
}

.project-navigation .nav-links > div a .arrow::before {
	border-bottom: 2px solid #ffffff;
	content: "";
	position: absolute;
	left: 0;
	top: 14px;
	width: 28px;
}

.project-navigation .nav-links > div a .arrow::after {
	content: '';
	display: block;
	width: 10px;
	height: 10px;
	border-top: 2px solid #ffffff;
	border-right: 2px solid #ffffff;
	transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	position: absolute;
	right: 0;
	top: 10px;
}

.project-navigation .nav-links > div.nav-prev a .arrow {
	transform: rotate(180deg);
}

.footer-project .project-link {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 93px;
	height: 93px;
	border: 3px solid #262626;
}

.footer-project .project-link::before,
.footer-project .project-link::after,
.footer-project .project-link span::before,
.footer-project .project-link span::after {
	content: '';
	display: block;
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #313131;
	position: absolute;
}

.footer-project .project-link::before {
	top: 28px;
	left: 28px;
}

.footer-project .project-link::after {
	top: 28px;
	right: 28px;
}

.footer-project .project-link span::before {
	bottom: 28px;
	left: 28px;
}

.footer-project .project-link span::after {
	bottom: 28px;
	right: 28px;
}

.footer-project .project-link:hover {
	border-color: #e94c1f;
}

.footer-project .project-link:hover::before,
.footer-project .project-link:hover::after,
.footer-project .project-link:hover span::before,
.footer-project .project-link:hover span::after {
	background-color: #e94c1f;
}

/* ==========================================================================
   7.3 PROJECT INFO
========================================================================== */
/*project-title*/
.project-info .project-title {
	font-size: 60px;
	line-height: 1.2;
	position: relative;
	padding-bottom: 23px;
	margin-bottom: 32px;
}

.project-banner-1 .project-info .project-title {
	border-color: #4173ff;
}

.project-banner-2 .project-info .project-title {
	border-color: #93ff45;
}

.project-info .project-title::before {
	display: block;
	content: '';
	width: 166px;
	border-bottom: 4px solid;
	border-color: inherit;
	position: absolute;
	left: 0;
	bottom: 0;
}

/*project-meta*/
.project-info .project-meta {
	margin-bottom: 40px;
}

.project-info .project-meta > span {
	display: inline-block;
	margin-top: 5px;
	margin-bottom: 5px;
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 14px;
	line-height: 30px;
	letter-spacing: 0.2em;
}

.project-info .project-meta a {
	color: inherit;
}

.project-info .project-meta a:hover {
	color: #e94c1f;
}

.project-info .project-des p:last-child {
	margin-bottom: 0;
}

.project-info .project-link {
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	display: inline-block;
	min-width: 228px;
	height: 55px;
	line-height: 55px;
	padding: 0 15px;
	text-align: center;
	background-color: #000000;
	color: #ffffff;
	margin-top: 57px;
}

.project-info .project-link:hover {
	background-color: #e94c1f;
}

/*.project-info.style1*/
.project-info.style1 .project-title {
	color: #ffffff;
}

.project-info.style1 .project-title::before {
	right: 0;
	margin: auto;
}

.project-info.style1 .project-meta > span {
	color: #ffffff;
	margin-left: 22px;
	margin-right: 22px;
}

/*.project-info.style2*/
.project-info.style2 .project-title {
	color: #000000;
}

.project-info.style2 .project-meta > span {
	color: #000000;
	margin-right: 44px;
}

.project-info.style2 .project-meta > span:last-child {
	margin-right: 0;
}

/* ==========================================================================
   7.4 PROJECT 1
========================================================================== */
.project-banner {
	position: relative;
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 844px;
}

.project-banner.project-banner-1 {
	background-image: url(assets/images/project1-banner.jpg);
}

.project-banner.project-banner-2 {
	background-image: url(assets/images/project2-banner.jpg);
}

.project-info-banner {
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
}

/* ==========================================================================
   7.5 PROJECT 2
========================================================================== */
.scrollspy {
	position: fixed;
	left: 120px;
	top: 50%;
	width: 41px;
	background-color: #ffffff;
	padding: 10px 0;
	border-radius: 41px;
	-webkit-box-shadow: -10px 0 20px 0 rgba(0, 0, 0, 0.08);
	-moz-box-shadow: -10px 0 20px 0 rgba(0, 0, 0, 0.08);
	box-shadow: -10px 0 20px 0 rgba(0, 0, 0, 0.08);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 100;
}

.scrollspy ul {
	padding: 0;
	list-style: none;
}

.scrollspy ul li a {
	position: relative;
}

.scrollspy ul li a .scrollspy-dot {
	display: block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	border: 2px solid #000000;
	margin: 7px auto;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.scrollspy ul li.active a .scrollspy-dot,
.scrollspy ul li a:hover .scrollspy-dot {
	background-color: #e94c1f;
}

.scrollspy ul li a .scrollspy-text {
	opacity: 0;
	visibility: hidden;
	font-family: "Nanum Gothic",'BebasNeue', sans-serif;
	font-size: 16px;
	color: #e94c1f;
	position: absolute;
	left: 100%;
	top: 50%;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	padding-left: 23px;
	z-index: 99;
}

.scrollspy ul li a .scrollspy-text::before {
	content: '';
	display: inline-block;
	width: 23px;
	border-bottom: 1px solid;
	position: absolute;
	top: 50%;
	left: -7px;
}

.scrollspy ul li.active a .scrollspy-text,
.scrollspy ul li a:hover .scrollspy-text {
	opacity: 1;
	visibility: visible;
}

.project-carousel .owl-carousel {
	padding-bottom: 74px;
}

.project-carousel .owl-carousel .owl-dots .owl-dot {
	background-color: rgba(255, 255, 255, .2);
}

.project-carousel .owl-carousel .owl-dots .owl-dot.active {
	background-color: #ffffff;
}

/* ==========================================================================
   7.6 PROJECT 3
========================================================================== */
.project-sticky-detail {
	position: relative;
	margin-bottom: 94px;
}

.project-gallery-sticky {
	float: left;
	width: 51.7751479%;
	padding-left: 15px;
	padding-right: 15px;
}

.project-gallery-sticky .project-gallery img:not(:last-child) {
	margin-bottom: 28px;
}

.project-sticky-detail .project-info.remove-sticky-detail.remove-sticky-detail-half {
	bottom: 100px;
	position: absolute !important;
	top: auto !important;
}

.project-info-sticky {
	float: left;
	width: 48.2248521%;
	padding-left: 15px;
	padding-right: 15px;
}

.project-info-sticky .project-info {
	padding-left: 68px;
	padding-top: 85px;
}

/* ==========================================================================
   7.7 PROJECT 4
========================================================================== */
.project-slide {
	background-image: url(assets/images/project4-banner.jpg);
	background-position: center center;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 160px;
	padding-bottom: 115px;
}

.project-slide .project-slide-item {
	position: relative;
}

.project-slide .project-slide-item .project-image {
	width: 930px;
	max-width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.project-slide .project-slide-item .project-hover-slide {
	display: inline-block;
}

.project-slide .project-slide-item .project-hover-slide .project-info-slide {
	opacity: 0;
	visibility: hidden;
	width: 844px;
	height: 606px;
	max-width: 100%;
	max-height: calc(100% - 55px);
	background-color: #ffffff;
	padding: 79px 50px 60px 70px;
	position: absolute;
	left: 0;
	bottom: 55px;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.project-slide .project-slide-item .project-hover-slide .project-btn {
	cursor: pointer;
	display: block;
	width: 55px;
	height: 55px;
	line-height: 52px;
	font-size: 20px;
	text-align: center;
	color: #ffffff;
	background-color: #e94c1f;
	margin-top: 44px;
}

.project-slide .project-slide-item .project-hover-slide:hover .project-btn {
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.project-slide .project-slide-item .project-hover-slide:hover .project-info-slide {
	opacity: 1;
	visibility: visible;
}

.scrollbar-macosx {
	height: 100%;
	padding-left: 10px;
}

.project-slide .owl-carousel .owl-dots .owl-dot {
	background-color: rgba(255, 255, 255, .2);
}

.project-slide .owl-carousel .owl-dots .owl-dot.active {
	background-color: #ffffff;
}

/* ==========================================================================
   8.0 CUSTOM CSS THEME
========================================================================== */
/* ==========================================================================
   8.1 SECTION TITLE
========================================================================== */
.custom-css-01 {
	padding-top: 62px;
}

/* ==========================================================================
   8.2 BLOCK CONTENT
========================================================================== */
.custom-css-02 {
	padding-top: 36px;
	padding-bottom: 65px;
}

/* ==========================================================================
   8.3 LEXIO COUNTER UP
========================================================================== */
.custom-css-03 {
	padding-top: 114px;
	padding-bottom: 92px;
	background-color: #27282b;
}

/* ==========================================================================
   8.4 LEXIO TEAM
========================================================================== */
.custom-css-04 {
	background-color: #f6f6f6;
	padding-top: 54px;
	padding-bottom: 109px;
}

.custom-css-05 {
	margin-bottom: 101px;
}

/* ==========================================================================
   8.5 LEXIO VIDEO
========================================================================== */
.custom-css-06 {
	padding-top: 149px;
	padding-bottom: 74px;
	border-bottom: 1px solid #efefef;
}

.custom-css-07 {
	padding-top: 52px;
	padding-bottom: 87px;
}

/* ==========================================================================
   8.6 TITLE LINE
========================================================================== */
.custom-css-08 {
	padding-bottom: 65px;
}

/* ==========================================================================
   8.7 LEXIO ABOUT
========================================================================== */
.custom-css-09 {
	margin-bottom: 30px;
}

/* ==========================================================================
   8.8 LEXIO PORTFOLIO
========================================================================== */
.custom-css-10 {
	padding-top: 80px;
}

.custom-css-11 {
	margin-bottom: 42px;
}

/* ==========================================================================
   8.9 LEXIO QUOTE
========================================================================== */
.custom-css-12 {
	background-color: #27282b;
	padding-top: 178px;
	padding-bottom: 251px;
}

/* ==========================================================================
   8.10 LEXIO BLOG
========================================================================== */
.custom-css-13 {
	padding-top: 82px;
	padding-bottom: 102px;
}

.custom-css-14 {
	margin-bottom: 62px;
}

/* ==========================================================================
   8.11 LEXIO QUOTE SOCIAL
========================================================================== */
.custom-css-15 {
	background-color: #f6f6f6;
}

/* ==========================================================================
   8.12 LEXIO TESTIMONIAL
========================================================================== */
.custom-css-16 {
	padding-top: 59px;
	padding-bottom: 115px;
}

.custom-css-17 {
	margin-bottom: 61px;
}

.custom-css-18 {
	padding-top: 100px;
	padding-bottom: 115px;
	background-color: #e94c1f;
}

/* ==========================================================================
   8.13 CONTACT
========================================================================== */
/*.contact-form*/
.custom-css-19 {
	padding-top: 64px;
}

.custom-css-20 {
	margin-bottom: 58px;
}

/* ==========================================================================
   8.14 PROJECT 1
========================================================================== */
.custom-css-21 {
	margin-top: 81px;
	margin-bottom: 81px;
}

.custom-css-22 {
	margin-top: 76px;
	margin-bottom: 76px;
}

.custom-css-23 {
	margin-bottom: 147px;
}

/* ==========================================================================
   8.15 PROJECT 2
========================================================================== */
.custom-css-24 {
	padding-top: 53px;
	padding-bottom: 106px;
}

.custom-css-25 {
	margin-bottom: 52px;
}

.custom-css-26 {
	background-color: #232323;
	padding-top: 75px;
	padding-bottom: 75px;
}

.custom-css-27 {
	margin-bottom: 87px;
}

.custom-css-28 {
	padding-top: 65px;
	padding-bottom: 277px;
}

.custom-css-29 {
	margin-bottom: 125px;
}

.custom-css-30 {
	background-color: #f6f6f6;
	padding-top: 122px;
	padding-bottom: 238px;
}

.custom-css-31 {
	margin-bottom: 87px;
}

/* ==========================================================================
   8.16 SINGLE BLOG
========================================================================== */
.custom-css-32 {
	margin-bottom: 40px;
	margin-top: 73px;
}

.custom-css-33 {
	margin-bottom: 30px;
}

/* ==========================================================================
   8.17 BLOG
========================================================================== */
/*.lexio-newsletter*/
.custom-css-34 {
	padding-top: 144px;
	padding-bottom: 189px;
	background-color: #e94c1f;
}

/* ==========================================================================
   9.0 RESPONSIVE
========================================================================== */
@media ( max-width: 1366px) {
	.main-header {
		padding-top: 30px;
		padding-bottom: 30px;
	}

	.header-nav .menu-nav > .menu-item > .sub-menu {
		left: auto;
		right: -7px;
	}

	.header-nav .menu-nav > .menu-item > .sub-menu .sub-menu {
		left: auto;
		right: 100%;
	}

	.site-navigation {
		padding-right: 0;
	}

	.lexio-feature {
		padding: 20px;
	}

	.lexio-quote-social {
		padding: 20px;
	}

	.lexio-service .service-info .service-info-inner {
		padding: 20px;
	}

	/*single blog*/
	.post-navigation .nav-links > div a .thumb-nav {
		display: none;
	}

	/*project*/
	.scrollspy {
		left: 20px;
	}

	.project-info-sticky .project-info {
		padding-left: 0;
	}
}

@media (max-width: 1199px) {
	.contact-form {
		padding-left: 0;
		padding-right: 0;
	}

	.lexio-video {
		padding-top: 150px;
		padding-bottom: 150px;
	}

	.block-content .block-text br {
		display: none;
	}
}

@media (max-width: 1024px) {
	/*project*/
	.project-header,
	.main-header.header-fixed {
		position: static !important;
	}

	.main-header.header-fixed {
		background-color: #000000;
	}

	.project-slide .project-slide-item .project-hover-slide .project-btn {
		display: none;
	}

	.project-slide .project-slide-item .project-image {
		width: auto;
	}

	.project-slide .project-slide-item .project-hover-slide .project-info-slide {
		opacity: 1;
		visibility: visible;
		position: static;
		width: auto;
		height: auto;
		padding: 30px 15px;
	}
}

@media (max-width: 991px) {
	.contact-info {
		margin-bottom: 0;
	}

	.contact-form .contact-input {
		padding-bottom: 5px;
	}

	/*custom css*/
	.custom-css-19 {
		padding-top: 0;
	}

	.custom-css-20 {
		margin-bottom: 20px;
	}
}

@media (max-width: 767px) {
	#primary-navigation {
		display: none;
	}

	.mobile-navigation {
		display: inline-block;
	}

	/*.header-banner*/
	.banner-parallax .banner-content .smtitle-banner,
	.banner-animation .banner-content .smtitle-banner,
	.banner-video .banner-content .smtitle-banner {
		font-size: 40px;
	}

	.banner-parallax .banner-content .title-banner,
	.banner-animation .banner-content .title-banner,
	.banner-video .banner-content .title-banner {
		font-size: 50px;
	}

	.banner-video .btn-video {
		width: 100px;
		height: 100px;
	}

	.lexio-counter .counter-up {
		font-size: 60px;
	}

	/*project*/
	.project-gallery-sticky,
	.project-info-sticky {
		width: 100%;
	}

	.project-info-sticky .project-info {
		padding-top: 30px;
	}

	/*.project-header*/
	.project-header,
	.share-project {
		text-align: center;
	}

	.share-project .share-project-title {
		display: none;
	}

	.share-project .share-social a:first-child {
		margin-left: 5px;
	}

	.share-project .share-social a:last-child {
		margin-right: 5px;
	}

	.project-info .project-title {
		font-size: 40px;
	}

	/*footer-project*/
	.project-navigation .nav-links .project-text .meta-nav,
	.project-navigation .nav-links .project-text .project-title {
		font-size: 0;
	}

	.project-navigation .nav-links > div a .arrow {
		top: 13px;
	}

	.project-navigation .nav-links .nav-img {
		display: none;
	}

	/*blog*/
	.blog-item .post-thumb img {
		width: 100%;
	}

	/*single blog*/
	.header-post .post-title {
		font-size: 40px;
	}

	.comment:not(:last-child) {
		padding-bottom: 20px;
		margin-bottom: 20px;
	}

	.commentlist .children {
		padding-left: 20px;
		padding-top: 20px;
		margin-top: 20px;
	}

	.comment-container .comment-control {
		padding-right: 0;
	}

	.sidebar {
		padding-top: 50px;
	}

	.equal-element {
		height: auto !important;
	}

	.lexio-table, .lexio-trow, .lexio-tcell {
		width: 100%;
		display: block;
		border: none;
	}

	/*.owl-carousel*/
	.owl-carousel .owl-dots {
		display: none !important;
	}

	.block-content .block-title {
		font-size: 25px;
		line-height: 30px;
	}

	.block-content .block-text {
		font-size: 14px;
		line-height: 26px;
	}

	.video-content .video-title {
		font-size: 30px;
	}

	.lexio-quote .quote-content {
		font-size: 30px;
		line-height: 40px;
	}

	.lexio-testimonial .testimonial-content {
		font-size: 16px;
		line-height: 26px;
	}

	.banner-bottom .banner-image .banner-content .title-banner {
		font-size: 60px;
	}

	/*newsletter*/
	.lexio-newsletter .newsletter-content .newsletter-title {
		font-size: 30px;
	}

	/*footer*/
	.socials ul li {
		margin: 10px;
	}
}

@media (max-width: 480px) {
	/*single blog*/
	.comment-container,
	.comment-container .avatar,
	.comment-control {
		display: block;
	}

	.comment-text {
		display: block;
		padding: 20px 0 20px 0;
	}
}

